[2021-05-06 12:51] aldbr opened #5136 "Remove the pilot executables in a deterministic way"
The Site Director is responsible for generating and submitting pilot wrappers to various Computing Element communication interfaces, and deleting them afterwards.
CE interfaces may modify pilot wrappers - e.g. to bundle a proxy - before submitting them to a Computing Element or a LRMS, they have the responsibility of removing the modified pilot wrappers afterwards.

Nevertheless, some of the CE in

[2021-05-06 13:33] andresailer commented on #5136
Have you tried adding `-spool` to https://github.com/DIRACGrid/DIRAC/blob/9ac5c0f26e26b38527dec32a8e22382062f842ab/src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py#L305 and seeing if that means you can directly remove the executable?
cf. https://research.cs.wisc.edu/htcondor/manual/v8.7/Condorsubmit.html

[2021-05-06 13:48] aldbr commented on #5136
Well, that would be much simpler I have to admit.
I will give it a try. If this works, we can go for that for `HTCondorComputingElement` and `LocalCE + Condor`.

There is still this case where the `LocalCE` uses a `ParallelLibrary` that would need to keep the executable until the end of the execution I guess. The `LocalCE` seems to be rarely used, so may be it is not so important if it does not cl

[2021-05-06 14:32] fstagni commented on #5136
The `HTCondor` option might be good for HTCondor, but of course we don't have only that use case. Storing the executable in a DB (not sure if MySQL is best...) is certainly more generic, eve though it adds a layer of complication.

[2021-05-10 11:45] andresailer opened #5140 "Sphinx 4.0.0 finds warnings in DIRAC documentation"
Since sphinx 4.0.0 is being used, there are warnings showing up in the current code documentation.
First caught by #5139

[2021-05-10 13:10] aldbr commented on #5136
Another solution for the `LocalCE+ParallelLibrary` could consist of embedding the content of the executable in the parallel library executable. For instance the srun (a `ParallelLibrary` class) wrapper  could contain:
[code]
This solution would allow to delete the pilot wrappers after their submission.

- The combination of this solution + the spool parameter for HTCondor would resolve (correct me

[2021-05-10 13:20] marianne013 commented on #4616
Hi, we just had a user complain about exactly this issue. It looks like the xrootd ticket:
https://github.com/xrootd/xrootd/issues/1198
never went anywhere and it looks like there was never any consensus on this issue within DIRAC either. Any creative suggestions ?

[2021-05-11 09:36] andresailer commented on #5140
The problem is that
[code]
and then others inheriting from `class A`.
i.e.:
https://github.com/DIRACGrid/DIRAC/blob/9ac5c0f26e26b38527dec32a8e22382062f842ab/src/DIRAC/Core/Utilities/MySQL.py#L216

https://github.com/DIRACGrid/DIRAC/blob/9ac5c0f26e26b38527dec32a8e22382062f842ab/src/DIRAC/Core/DISET/RequestHandler.py#L39

I don't think those are used outside of their original class, so could make th

[2021-05-19 07:18] yujikato commented on #5120
Sorry for very late reply
I'm testing to concatenate CE and Queue in the BelleDIRAC environment
Port to DIRAC after confirming it works.

[2021-05-19 07:49] yujikato commented on #5038
Sorry for the late reply, and bug.

I could not reproduce the issue.
In the Belle II productions running with v6r22 and certification with v7r0,
 the efficiency plot grouped by site is properly shown.

Which version did you use?

[2021-05-19 14:00] vokac opened #5147 "Old / incompatible HTCondor bundled with DIRACOS6"
Latest version of DIRACOS6 v1r21 still use quite old HTCondor 8.6.9 released 4+ years ago. This version doesn't work with default configuration that comes with stable 9.0.x series and python interface no longer works
[code]
As you can see from error message condor bundled with DIRACOS doesn't recognize metaknob `security:recommended_v9_0` which is by default installed in the `/etc/condor/config.d/

[2021-05-19 14:38] chaen commented on #5147
I am a bit confused. We do not import `htcondor` anywhere in DIRAC.
And we do not rely on the `/etc/` directory normally.

We do had a plan to update if possible though https://github.com/DIRACGrid/DIRACOS/issues/171

[2021-05-19 14:43] chrisburr commented on #5147
I think an environment variable is missing in the diracosrc: `CONDOR_CONFIG=$DIRACOS/etc/condor/condor_config`

[2021-05-19 14:51] fstagni commented on #5147
We don't use the python bindings, just the CLI. There might be few advantages in using the python binding, I guess.

I suggest to move this issue in https://github.com/DIRACGrid/DIRACOS/issues/171

[2021-05-19 18:57] vokac commented on #5147
Thanks, DIRACGrid/DIRACOS#171 is better place for this issue.

Problem was found by our local users that often use DIRAC client tools and unfortunately they used their own python+htcondor scripts within DIRAC environment (this worked fine until our recent condor upgrade).

[2021-05-20 00:35] yujikato commented on #5038
I could reproduce the issue.
Let me check in detail. Sorry

[2021-05-20 03:49] yujikato commented on #5038
![image](https://user-images.githubusercontent.com/13082637/118916181-6315a680-b969-11eb-8ebb-29850e6a1b5d.png)
![image](https://user-images.githubusercontent.com/13082637/118916214-7163c280-b969-11eb-98bd-b7cfa5016ebf.png)

Fixed (quite silly bug.. sorry).

I made PR, but it is failing some test not not related with my change..
Could you please let me know what is wrong?
https://github.com/DIRACG

[2021-05-20 07:53] yujikato commented on #5038
PR made for v7r1:
https://github.com/DIRACGrid/DIRAC/pull/5152

[2021-05-21 07:29] fstagni commented on #5147
OK, so I close this issue as anyway linked to the other one. Thanks for reporting.

[2021-05-21 07:52] chrisburr commented on #5147
This shouldn't be closed. The bug is that `CONDOR_CONFIG` isn't being set in the `diracosrc` so it relies on the host system's configuration file.

[2021-05-25 06:20] #5140 closed

[2021-05-25 08:22] #5083 closed

[2021-05-26 14:16] fstagni commented on #5038
Closing as PR created.

[2021-05-26 14:17] fstagni commented on #5120
Hello @yujikato thanks for the fix. Did you already port it to DIRAC?

[2021-05-26 14:22] fstagni commented on #2219
Done in https://github.com/DIRACGrid/DIRAC/pull/4903

[2021-05-26 14:22] #2219 closed

[2021-05-26 14:23] #3260 closed

[2021-05-26 14:25] martynia commented on #3260
OK, more work is needed on the WebApp, but this is a different issue.

[2021-05-27 04:02] yujikato commented on #5120
![image](https://user-images.githubusercontent.com/13082637/119764109-cb293700-beeb-11eb-9d4e-23d3661a970a.png)

Black:  Original
Orange: After combining CE and queue name

[2021-05-27 04:03] yujikato commented on #5120
Unfortunately, sometimes too long to be shown in efficiency plot..

![image](https://user-images.githubusercontent.com/13082637/119764197-ef851380-beeb-11eb-97e1-81eb7d693bf5.png)

[2021-05-27 04:05] yujikato commented on #5120
Anyway, PR made:
https://github.com/DIRACGrid/DIRAC/pull/5161

[2021-05-27 08:11] chaen commented on #4574
Hard deadline for comments: 15th of June

[2021-05-27 09:01] chaen commented on #4616
GridPP will try running their pilot from CVMFS and remove the environment variable. If it works, we will change `dirac-install` to generate the `bashrc` with this variable only for server installs

[2021-05-27 13:52] aldbr commented on #4574
- The ability to create plots from a CLI?

[2021-05-28 12:18] TaykYoku commented on #4703
proxy endpoint is deleted, the proxy will be returned instead of the token upon successful authorization, if the `proxy` scope present in request.

[2021-05-31 21:00] sfayer commented on #4616
We tried removing XRD_RUNFORKHANDLER from the bashrc used by our pilots; the end user has confirmed that this fixes the issue. We haven't seen any new issues caused by this change.

[2021-06-01 06:13] chrisburr opened #5167 "Drop support for ES6 [was: Deprecation warnings in elasticsearch logs]"
In the CI tests the elastic search logs contain two deprecation warnings:

[code]

I guess this should be fixed at some point?

[2021-06-10 08:51] #5038 closed

[2021-06-10 08:51] #5120 closed

[2021-06-10 08:55] andresailer opened #5188 "HTTPS services: how to get installed instances from SystemAdministrator or somewhere else?"
The systemAdministrator.getOverallStatus returns the list of installed components, but this doesn't include the list of https services.
https://github.com/DIRACGrid/DIRAC/blob/4f51fed7f5350d9cfef99aec4065e926e7a15099/src/DIRAC/FrameworkSystem/Service/SystemAdministratorHandler.py#L125

For example: the https services don't show up in the SystemAdmin webapp, and the ComponentSupervisionAgent cannot

[2021-06-14 07:50] chrisburr opened #5193 "Revert Python 3 rucio-client workarounds"
These commits should be reverted once `rucio-clients` supports Python 3.9:

* [ ] b4c0c9e
* [ ] a67fb7c
* [ ] 5082ef9
* [ ] https://github.com/DIRACGrid/DIRAC/pull/5194/commits/e5949ef9d45af64c1b4c652667b79ef714b7f43c
* [ ] 103419f5048d5ae6f6eb8a2a41097af8251c62e2
* [ ] https://github.com/DIRACGrid/DIRAC/pull/5171/commits/103419f5048d5ae6f6eb8a2a41097af8251c62e2

[2021-06-14 15:27] fstagni commented on #4616
Closed after https://github.com/DIRACGrid/management/pull/39

[2021-06-14 15:27] #4616 closed

[2021-06-17 02:19] zhangxiaomei opened #5203 "RegisterFile in dirac-dms-filecatalog-cli have no checksum input"
The command "register file" in  dirac-dms-filecatalog-cli doesn't require checksum:
register file <lfn> <pfn> <size> <SE> [<guid>]  - register new file record in the catalog
The files registered by this command will cause problems when using transformation or RMS to do the replication although you can't see any problems in DFC:
"ERROR: putRequest: request not valid File in operation #0 is missing

[2021-06-17 05:10] chrisburr opened #5204 "Unit tests are failing with m2crypto 0.38.0"
[code]

[2021-06-17 06:42] chrisburr commented on #5204
Running the server process separately with `DIRAC_DEBUG_M2CRYPTO=yes`:
[code]

[code]

[2021-06-17 06:53] fstagni commented on #5204
Basic questions:
- why for py2 version 0.36 is used?
- 0.38 was on pypi since January, why we discover now? https://pypi.org/project/M2Crypto/#history
- https://github.com/conda-forge/m2crypto-feedstock/pull/58 was created by the conda forge bot based on what logic?

[2021-06-17 07:06] chrisburr commented on #5204
* For DIRACOS: Recent versions of m2crypto require SWIG 2 which isn't available for CentOS 6 so we can't update DIRACOS and it's pinned to an older version
* For the other CI: We install using conda and conda-forge hasn't supported Python 2 for a long time now. It's possible to still build for Python 2 but it's more involved. I did this for a few versions but I have no motivation to waste more tim

[2021-06-17 07:12] chrisburr commented on #5204
It looks like this issue is this commit which is preventing the constants from being set: https://gitlab.com/m2crypto/m2crypto/-/commit/fd81cf8a5ce81647287eb77790448e3edc9b9dbb

I don't quite understand why the macros don't work correctly but I also don't know SWIG very well...

[2021-06-17 07:16] fstagni commented on #5204
Indeed I misread Jun != Jan, sorry about that.

[2021-06-17 07:51] chrisburr commented on #5204
I've now understood the issue though I don't see a nice solution so I've opened an issue at https://gitlab.com/m2crypto/m2crypto/-/issues/298

For now I've worked around it by banning that version 42e47d1.

[2021-06-17 12:46] marianne013 opened #5207 "Set XrdSecGSIDELEGPROXY=1 to enable third party copy with xrootd"
As noted in the google forum it looks like we need to replicate a hack present in gfal in DIRAC to enable third party copy for sites that use the xroot protocol.
It would probably be easiest to add it to the bashrc, unless there is something I am missing.

Related:
https://ggus.eu/index.php?mode=ticket_info&ticket_id=151985
https://groups.google.com/u/1/g/diracgrid-forum/c/n2IugXQPWxQ

[2021-06-17 13:02] andresailer commented on #5207
Thanks to you and Simon for digging into the TPC with xroot!

I think we could be adding it to the python like we for XrdSecPROTOCOL

https://github.com/DIRACGrid/DIRAC/blob/e0b4c5ef2359c54d9fa7eb0ee81ce609a0f6b515/src/DIRAC/Resources/Storage/GFAL2_XROOTStorage.py#L66

[2021-06-17 14:38] marianne013 commented on #5207
This would probably work. I'll have a go in my local install and see if it breaks anything obvious.

[2021-06-17 15:39] chaen commented on #5203
I never played with these CLI, I think @andresailer si more familiar. Or maybe @marianne013 ?

[2021-06-17 15:42] chaen commented on #5207
Sorry, for some reason I completely lost track of that problem of yours !
I agree with @andresailer that we probably should add it alongside `XrdSecProtocol`

[2021-06-17 15:48] marianne013 commented on #5203
Noted. Maybe once I get my other pull request through.

[2021-06-17 15:58] andresailer commented on #5203
Can we drop the PFN parameter for register file while we are at it?

[2021-06-17 16:18] marianne013 commented on #5203
@sfayer Would probably mean we'd have to educate the odd user not to use the PFN from the catalog as a shortcut.
@andresailer Should probably be a separate issue.

[2021-06-17 16:48] marianne013 commented on #5207
I just tested this (set in GFAL2_XROOTStorage.py) on my test server and the UI and it seems to work and I can't see any side effects. Should I have another go at a pull request ?

[2021-06-17 18:00] chrisburr opened #5209 "Show a descriptive error message if DIRAC is not installed properly"
It’s probably worth adding a clear error message for when this situation happens:

[code]

can't say more

_Originally posted by @fstagni in https://github.com/DIRACGrid/DIRAC/pull/5208#discussion_r653592105_

[2021-06-18 09:39] andresailer commented on #5203
I didn't realize people still use the PFN, no then keep it there as a parameter.

[2021-06-18 10:03] marianne013 commented on #5203
It is actually problematic, as sometimes files are written with srm and so srm ends up in the PFN and then sites switch to xrootd and the PFN stops working. So removing it might actually be a good idea in the long term. As far as I know some of our users use the PFN as input to experiment specific data verification/curation tools.
We might have to fix up dirac-dms-pfn-accessURL and related code to

[2021-06-18 10:12] atsareg commented on #5203
If we want to registerFile with more parameters (Checksum), then we will have to require all the parameters to be present. But some parameters sometimes are not necessary. I would suggest to have a special value, i.e. None, to instruct the command to ignore this value. Then a default value/action would be taken:

- For PFN - empty string
- For GUID - generated guid
- For Checksum - empty string

F

[2021-06-18 10:31] atsareg commented on #5203
See #5211

[2021-06-18 12:58] chaen commented on #5203
I think all this mechanics is already in place for many years. But for less confusion, why not just ditching all the `dirac-dms-pfn`, and use the `dirac-dms-lfn` scripts together with the `--SE` options if one REAAAAALY wants to target a specific site ?

[2021-06-18 13:29] marianne013 commented on #5203
I would have to ask what they are doing. I think it's data consistency checks.

[2021-06-18 14:13] fstagni commented on #5203
There's a utility for data consistency: https://github.com/DIRACGrid/DIRAC/blob/integration/src/DIRAC/DataManagementSystem/Client/ConsistencyInspector.py

[2021-06-18 14:43] marianne013 commented on #5203
I've pointed the people I think might be using this at this issue.

[2021-06-21 14:07] marianne013 commented on #5207
https://github.com/DIRACGrid/DIRAC/pull/5217

[2021-06-22 20:25] martynia opened #5221 "Getting a list of storage elements with DMSHelpers"
There isn't an easy way to get a list of storage elements filtered by VO they support. The DMSHelpers `__init__()` takes a VO parameter, however it is only used to access a VO specific section in Operations. The SEs are taken from Site description and then eventually from Resources (where the VO information is kept). Is it an intended functionality, that the VO is not taken into account when obtai

[2021-06-23 08:37] chaen commented on #5221
@andresailer is best suited to comment on that, but I think the behavior you describe is correct, the VO should be taken into account.

Mind two things:
* There may indeed be places where we want all the SEs (maybe RSS ?)
* The behavior should of course remain the same for single VO

[2021-06-23 14:42] chrisburr opened #5223 "DIRAC_USE_TORNADO_IOLOOP set after Refresher is imported in tornado_start_all"
In `tornado_start_all.py` `DIRAC_USE_TORNADO_IOLOOP` is set in the `main` function but the `DIRACScript` import triggers `DIRAC.ConfigurationSystem.private.Refresher` to be imported which reads this variable at import time.

[code]

_Originally posted by @chrisburr in https://github.com/DIRACGrid/DIRAC/pull/5214#discussion_r657168736_

[2021-06-23 14:47] chrisburr commented on #5223
There are two places where this variable is read, can they be converted to read later than import time?

https://github.com/DIRACGrid/DIRAC/blob/54d89885089ba29205d50bee9c3bff068e1aed2d/src/DIRAC/FrameworkSystem/Client/MonitoringClient.py#L89-L94

This is only used in `MonitoringClient.initialize` so I think the initialisation of the global variable can be moved into there?

https://github.com/DIR

[2021-06-23 14:58] marianne013 opened #5224 "v7r3: Bdii2CSAgent seems to ignore BannedCEs list"
The symptom/logs can be seen on the DIRAC certification server:
ceprod03.grid.hep.ph.ic.ac.uk is in the BannedCEs list, yet the agent keeps overwriting my setting for NumberOfProcessors.
In order to preserve the setting I had to take the parent site (LCG.UKI-LT2-IC-HEP.uk) out of of the SelectedSites list.
@andresailer You seen to be the last person to touch Bdii2CSAgent.

[2021-06-23 15:16] chaen commented on #5223
I knew this would bite us https://github.com/DIRACGrid/DIRAC/pull/4865/files#r557381856

Again: why not putting the variable definition at the very top of the file and be done with it ?

[2021-06-23 15:31] chrisburr commented on #5223
As all modules containing a `@DIRACScript` decorated function are imported every time a `dirac-` command is ran in order to figure out which command is currently being ran so it can be replaced with the function from an DIRAC extension instead.

[2021-06-23 20:29] chaen commented on #5223
Ah true... I guess it is due to this check that all the scripts use `DIRACScript` ?

https://github.com/DIRACGrid/DIRAC/blob/cf55bc473f64012c256fea5e659fa5e0b7eca1ef/src/DIRAC/Core/Utilities/DIRACScript.py#L53-L59

I'd be tempted to remove that check actually, and relying on the name... Importing hundreds of module every time we call a script is an overkill anyway isn't it ?

Another option would

[2021-06-24 03:50] chrisburr commented on #5223
It can also be added to the `runit` scripts:

https://github.com/DIRACGrid/DIRAC/blob/9515f7e3af0c1a92f0ad9dff351774846fa63256/src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py#L2357-L2367

(for `tornado-start-all`, I'm not sure where `tornado-start-CS` is used)

[2021-06-24 07:07] andresailer commented on #5224
So you want clarification in the docs that BannedCEs only ignores CEs that are not already configured?

[2021-06-24 07:32] marianne013 commented on #5224
I'd like a feature where I can stop the agent from reconfiguring a CE - there doesn't seem to be an option. AFAIK we use bannedCEs for that in GridPP (if CE doesn't exist, don't add, if it does, don't update) Andrei T seemed to suggest that I could use BannedCEs for that, but that seems to have been a misunderstanding. Some CEs are more special than others ;-)

[2021-06-24 07:42] chaen commented on #5223
Yes, that's what I proposed (it's the `run` file), but I had forgotten that it's the ComponentManager writing this file.

`tornado-start-CS` is used for the master CS.

My choice goes to

[code]

I think it's the best solution

[2021-06-24 08:00] chrisburr commented on #5223
When using entrypoints that will never trigger as `__main__` is the wrapper script that `pip` generates at install time.

[2021-06-24 08:22] chaen commented on #5223
argh, yeah.... oh my...
OK, so `ComponentInstaller` it is, and for the custom scripts like `tornado-start-CS`, it's anyway a manual operation

[2021-06-24 08:51] chrisburr commented on #5223
Yeah...to stay safe shall we make the script exit with an error if the environment is invalid?

[2021-06-24 08:55] chaen commented on #5223
that is exactly what I have done. PR coming :)

[2021-06-24 11:03] chrisburr opened #5227 "Debug common failure in CI"
This is a reminder to myself to debug this and figure out what the cause is as it's shown up as a random failure a few times in the `DIRAC_FEWER_CFG_LOCKS` CI:

[code]

[2021-06-26 07:23] chrisburr opened #5232 "select.select cannot be used for file descriptors > 1024"
Copying from https://lblogbook.cern.ch/Operations/34170 as this is a bug in DIRAC.

The WorkloadManagement/Optimizers instances in LHCb started failing with:

[code]

Looking into the cpython sources[1,2] it turns out this is a glibc limitation that file descriptors larger than 1024 can't be monitored with the select() system call and poll/epoll must be used instead.[3]

[1] https://github.com/pyt

[2021-06-28 07:39] chaen commented on #5232
Related issue that I deliberately ignored :D https://github.com/DIRACGrid/DIRAC/issues/4819

[2021-06-28 09:50] chrisburr commented on #5232
Maybe the correct solution to this issue would be to replace all uses of `select.select` with [`selectors.DefaultSelector`](https://docs.python.org/3/library/selectors.html#module-selectors). It's Python 3 only but there is [a backport for Python 2](https://pypi.org/project/selectors2/).

[2021-06-29 07:58] chaen commented on #5232
It probably is the best option. Do you want to give it a go as hotfix in LHCb, since we are impacted by this on what seems to be a regular basis lately ?

[2021-06-30 13:39] chaen opened #5238 "Allow for RunningLimit per CE"
At the moment we have the possibility to limit the number of running job on a site level.

https://github.com/DIRACGrid/DIRAC/blob/7ae801953e137dfb95b47f3bcc32b1879b3fba7e/src/DIRAC/WorkloadManagementSystem/Utilities/QueueUtilities.py#L203-L214

For example

[code]

It would be a very desirable feature to be able to do so at the CE level

[code]

[2021-06-30 14:17] marianne013 commented on #5203
I got this from t2k (it's a bit lengthy, but illustrates what our users do quite nicely).
[code]

[2021-06-30 14:18] #5223 closed

[2021-06-30 14:19] chaen commented on #4819
Closing in favor of #5232

[2021-06-30 14:19] #4819 closed

[2021-06-30 14:46] marianne013 opened #5240 "v7r2/r3 multi-core submission does not start multi-core jobs on HTCondorCEs"
(moved here from the forum)

For CEs/queues configured with LocalCEType = Pool and NumberOfProcessors = 8 jobs submitted with the requirement
NumberOfProcessors = "8"; (or Tags = {"8Processors"}; ) are matched to these queues, but it seems that only on ARCCEs these jobs are actually assigned 8 cores, while on HTCondorCEs they are matched, but only assigned one core from the batch system.
I *don't*

[2021-06-30 15:13] fstagni commented on #5240
Check https://github.com/DIRACGrid/DIRAC/pull/5242 (following what I found in https://htcondor.readthedocs.io/en/v8_8/users-manual/parallel-applications.html#requesting-multiple-cores-per-slot)

[2021-06-30 15:54] fstagni commented on #5238
A completely untested implementation of this is in https://github.com/DIRACGrid/DIRAC/pull/5242/commits/9e6683b99e9e6590a0dcd30c5b82c6ec533241c1

@atsareg  please have a look.

[2021-07-01 10:16] chaen opened #5247 "[RSS] VOFlag in rss scripts"
According to @martynia, since he has done the multi vo implementation of RSS some scripts require a `vo` switch, some don't.

@atsareg proposed that the VO is taken from the proxy:
* it always had to be an admin proxy (using the property checks on the service side)
* if the proxy has a vo assigned in the voms role (e.g. `lhcb_admin`) specify that VO
* otherwise (like `diracAdmin`) consider `vo=all

[2021-07-02 15:03] chaen opened #5250 "[URGENT] Rucio MUST be an optional dependency"
Not only did we have to put horrible hacks in the code (https://github.com/DIRACGrid/DIRAC/issues/5193) but having Rucio as a dependency for everybody creates issues for everybody (including VO that has nothing to do with Rucio, random example: LHCb)

Current situation is that we are totally unable to make an LHCbDIRAC release because our tests don't pass. And they do not pass because Rucio explic

[2021-07-05 13:56] fstagni opened #5253 "Do not use BLOB in JobsDB and PilotAgentsDB tables"
@TaykYoku has debugged this further and got to the bottom of it on slack: https://lhcbdirac.slack.com/archives/C3AGWCA8J/p1625147097062700

In summary, the JobParameters table is using `BLOB` for the value when it should be using a text type.

_Originally posted by @chrisburr in https://github.com/DIRACGrid/DIRAC/pull/5246#discussion_r662346125_

[2021-07-05 14:56] fstagni commented on #5240
So, it seems that we would need at least condor 8.8: https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=6918
as version 8.6, which we have in DIRACOS, is not equipped to understand these Ads : https://github.com/DIRACGrid/DIRACOS/issues/171

DIRACOS2 has, of course, the correct version but that's v7r3 + py3.

[2021-07-07 08:02] #5207 closed

[2021-07-07 08:17] fstagni commented on #5247
Of all the multi-VO scripts/services of DIRAC, is this the only one that would call for a `vo` switch and VO specific properties checks?

[2021-07-07 08:19] fstagni commented on #5224
Sorry, is this issue still valid?

[2021-07-07 08:44] marianne013 commented on #5224
Yes. Though it's more of a design choice rather than anything else. I wanted to be able to exclude individual CEs from being auto reconfigured rather than only being able to do this on site level.

[2021-07-07 08:53] martynia commented on #5247
I looked into the code again, the `dirac_rss_set_token` operation seems to be the only one which requires the `VO` switch and `dirac_rss_set_status` does not (a missing switch defaults to 'all'), although their "severity" is pretty the same. when using a super admin account _dirac_admin_ .  We could relax the requirement when setting the token, in that case both operations will only act on all but

[2021-07-07 14:07] chaen commented on #5247
Clearly there should be a mechanism to overwrite everything ! So you would need a concept of `all` and a concept of `others` (which corresponds to what you describe)

[2021-07-08 09:45] chaen commented on #5250
@sfayer @marianne013 @martynia for opinions

[2021-07-08 10:33] marianne013 commented on #5240
I just tested the following sub file using diracos v1r22 (which came packaged by default with my py2 install of my v7r2p10 UI).
This seems to be using condor 8.6.9 and the sub file requested an 2 core job, so I think that works.

[code]

[2021-07-08 10:37] marianne013 commented on #5240
@chrisburr Can you remind me what the quickest way to get a dirac ui with diracos2 in it is ?

[2021-07-08 11:35] sfayer commented on #5250
Hi,

As I understand it, this specific blocker issue is fixed: The server requirements were pulled in by mistake rather than the cut-down client requirements (stomp certainly isn't used by the client).

More generally, I agree that we don't want to be blocking any releases or causing any extra work for anyone, but it seems to me this situation is already rapidly improving. There is understanding f

[2021-07-08 13:32] chaen commented on #5250
I agree with you that it goes in the good direction, but I still hate the fact that it will always be the same bunch of idiots that will be trying to find "why does the CI fails" to conclude on a DIRAC/Rucio interaction problem. Splitting things makes the problem clear.

But okay, we can wait for a bit to split under 2 conditions:
* right here and now, a responsible for that is named
* if that sor

[2021-07-08 14:24] chaen commented on #5203
I am a bit confused by all that. OK I understand that they are dealing with dark data, but I guess this dark data still respects the "golden rule" of havign the LFN as the last part of their physical path ? If so, the actual physical path put in the DFC does not matter at all.

[2021-07-08 14:43] atsareg commented on #5203
Technically speaking, the DFC can still store PFNs even if the LFN-PFN golden convention is not respected. In this case the PFN is taken as it is and is not constructed on the fly. This behavior is controlled by the LFNPFNConvention configuration option which can be None, Weak or Strong. But sticking to the strong convention is certainly a must for the new data, deviations can be only considered f

[2021-07-08 15:14] chaen commented on #5203
That is not completely correct.
There are other flags which come into play:
* `Operations/DataManagement/UseCatalogPFN` which should be `False` in normal cases. This is a sort of global ON/OFF flag
* `UseCatalogURL` for each SE.

Note that all these flags only impact the reading operation, meaning that something sensible will anyway always be put in the catalog (which is certainly not very useful,

[2021-07-09 09:27] arrabito opened #5261 "Bug in AccountingDataStore"
Since long time already I get some MySQL errors in AccountingDataStore of this type:

[code]

All errors concern the bucket ac_bucket_CTA_DataOperation:

`[PENDING] Got 14 pending records for type CTA_DataOperation`

By debugging a little bit I see that the problem with this particular query is that the list of values to be inserted is empty:

VALUES .**...Missing list of values....** ON DUPLICATE

[2021-07-09 12:30] marianne013 commented on #5240
So I managed to get it to work with diracos2 (just testing condor, none of the DIRAC infrastructure).
I followed the instructions from the trello board and retrieved diracos using curl:
curl -LO https://github.com/DIRACGrid/DIRACOS2/releases/latest/download/DIRACOS-Linux-$(uname -m).sh
I couldn't find its version anywhere (what happened to versions.txt?)
However looking at the condor version I get

[2021-07-13 09:52] fstagni commented on #5240
Yes! Thank you.

So, the PR is ready to be merged IMHO.

[2021-07-15 08:33] bari12 commented on #5250
Hi all,

Apologies, I only saw that thread now. I don't know the DIRAC code too well, so what I am saying might not be easy/make much sense, but I would certainly recommend not to make Rucio a mandatory dependency but only pull it in for people actually using it. That it needs to be tested in the CI makes this a bit more complicated, but separating it in the CI how @chaen suggested at least quickl

[2021-07-18 02:45] hmiyake opened #5275 "DIRAC's Epoch time has time zone dependence"
I realized Time.toEpoch() returns different values depending on time zone.

DIRAC/Core/Utilities/Time.py

However, dateTime() returns

I think toEpoch() should return

to be universal among multiple time zones

Similary fromEpoch() should be

However, I wonder if we can apply this change without thinking carefully since timestamp will be "leaped" after the modification. Accounting plots will have

[2021-07-19 14:41] fstagni commented on #5238
PR merged, issue closed.

[2021-07-19 14:41] #5238 closed

[2021-07-19 14:42] #5240 closed

[2021-07-19 17:47] TaykYoku commented on #5059
I think first step is done and since #5060 and #5061 has been merged for a long time, I guess that this changes are mostly tested.
Looks like the #5035 - last step in this issue.

[2021-07-20 14:05] aldbr opened #5277 "HTCondorCE: getCEStatus is highly connected to Pilots"
`HTCondorComputingElement` is using the `PilotAgentsDB` to count the number of pilots currently waiting and running in a given pool.
While this approach is fine for the moment, it could create issues in the future: if we want to count jobs instead of pilots (e.g. in supercomputers).

I think that CEs should not be highly bound to pilots or jobs. Two options:
- investigate commands such as `condor_

[2021-07-20 14:16] aldbr opened #5278 "Pilot Status: Difference between `Scheduled` and `Waiting`?"
Is there any difference between the pilot status `Scheduled` and `Waiting`? I do not see any.
- `CREAM` and `ARC` use `Scheduled`
- `HTCondorCE` and batch system interfaces use `Waiting`

If they have the same meaning, which one should be favored?

[2021-07-20 14:48] fstagni commented on #5277
I tag @andresailer and @atsareg as they made most of the work on our HTCondorCE implementation. The reason why we are not relying on `condor_q` might just be historical.

Why on supercomputers we would want to count the number of jobs? Is there a specific use case you have in mind?

[2021-07-20 14:57] aldbr commented on #5277
Actually no I don't have any specific case in mind

[2021-07-20 15:00] fstagni commented on #5275
Indeed, `toEpoch` it's using the local time. Practically speaking, what are the visible consequences right now?

[2021-07-20 15:47] hmiyake commented on #5275
We have major DIRAC nodes at US and Japan. US node always fail to register the activity due to "invalid for activity" in Framework/Monitoring.commitMarks()
We also faced timezone issue at our ES evaluation nodes (Kibana and DIRAC showed time difference). ElasticSearchDB.py makes "timestamp" from Time.toEpoch()...do you mean it is not UTC but local time? (recently I don't check the detail, so maybe

[2021-07-20 16:10] fstagni commented on #5275
[code]

yes, it's local time :(

Framework/Monitoring is old and crappy/buggy so I would not put effort into it. But for accounting and ES/Monitoring looks like it can indeed be problematic.

[2021-07-21 11:23] andresailer commented on #5277
IIRC, I couldn't find an equivalent command to get a status summary for a given HTCondorCE. There was some command that worked at CERN but not other HTCondorCEs or vice versa (?), so I used the PilotAgentsDB instead.

One could revisit this solution of course.

[2021-07-21 12:46] chaen opened #5280 ""memory leak" from gLogger"
The way we are using `logging` is not correct because we are constantly creating child logger which are not garbage collected, which results in sort of a memory leak.

It can be illustrated with this simple script:

[code]

The memory raises quickly. Here are examples with running with 100000

That plot is from running this script on an LHCb server with python 2.7

![memory_python2 7_server](https

[2021-07-22 08:49] fstagni commented on #5278
Translate to "Waiting" everywhere.

[2021-07-22 11:50] fstagni commented on #5277
So, my understanding is try with `condor_q`, if it fails fallback to use the current solution.

[2021-07-22 11:53] fstagni commented on #5275
Brief summary after today's BiLD meeting: somehow we need to bite the bullet: we should move to UTC everywhere. This should only be done in a major release.

[2021-07-22 11:54] fstagni commented on #5261
Is this supposed to be addressed in https://github.com/DIRACGrid/DIRAC/pull/5257 ?

[2021-07-22 12:02] fstagni commented on #5203
As discussed in the BiLD, I close this task. Discussion points here might be useful for a different issue, for this I let @atsareg @chaen and @marianne013 to summarize/open if necessary.

[2021-07-22 12:02] #5203 closed

[2021-07-22 12:11] fstagni opened #5282 "CloudDirector -> SiteDirector"
CloudDirector was first designed similar to SiteDirector, but the latter evolved in the meantime.
We should check:

1. if we could avoid having at all this CloudDirector
2. if CluodDirector will keep being "special", then we can see how much the current implementation can inherit from SiteDirector

[2021-07-22 12:13] fstagni opened #5283 "Write Integration tests for former VMDIRAC components"
Integration tests should be written for VirtualMachineDB and VirtualMachineManagerHandler.

[2021-07-23 10:20] chaen commented on #5280
With #5284

![fixedLogger](https://user-images.githubusercontent.com/3728211/126768970-109b2e6e-f376-4bc6-882a-7e3cd2407744.png)

It takes an extra 2 seconds to create 500 000 loggers, but we save 800MB of memory, so I think it is acceptable

[2021-07-24 17:05] TaykYoku opened #5287 "Generalization of VO and Setup specific configuration settings"
Defining the basic concept of VO and Setup specific configuration settings. Moved from #5262.

RFC for discussion in this context:
https://github.com/DIRACGrid/DIRAC/wiki/Generalization-of-VO-and-Setup-specific-configuration-settings

[2021-07-26 09:40] chaen commented on #5287
Thanks for the RFC, it is well described.
I will comment here, as I don't think I can comment on the RFC directly.

I do appreciate this idea of replicating the whole tree in a sub level for consistency. It does make sense, and it is indeed a cheap way to have the multi VO/setup config everywhere. So it probably is a good idea to do it this way.

BUT, I would advocate to have a new *directory* in

[2021-07-28 09:28] chaen commented on #5250
Thanks for kicking in @bari12
I seem to remember a Rucio slide where you had names of responsible for each area of Rucio (like Core, etc), and there was one such a box for DIRAC integration. Unfortunately, I can't find that slide anymore :-)
To me, it would make sense that the same person step in here.

[2021-07-28 15:21] bari12 commented on #5250
Yes, that would be @cserf ([component responsibles](https://rucio.cern.ch/documentation/component_leads)) but Cedric is on vacation at the moment and in general quite busy with other tasks. Until we have figured out if Cedric can continue to coordinate these efforts (From Rucio side), or if somebody else should continue, just contact me/list me in case of any issues. 😄

[2021-07-28 16:14] atsareg commented on #5287
I agree with Chris that a new section, let say VOSettings, should be introduced and be largely a copy of the current Operations.
Also a path given in the Operations.getValue() should always be absolute and not relative to the section in the constructor arguments.

[2021-07-30 11:22] TaykYoku commented on #4087
`FrameworkSystem/Service/ProxyManagerHandler.py` done with #4853

[2021-08-02 11:43] TaykYoku commented on #5287
Given that the Operations section contains "its options" such as pilot settings, it is better to create a new section for VO/setup sensitive settings.

[2021-08-03 08:17] fstagni commented on #5280
We can close this one I guess.

[2021-08-03 08:17] #5280 closed

[2021-08-03 14:25] #5059 closed

[2021-08-04 00:03] TaykYoku opened #5309 "Use Read the Docs Sphinx Theme for documentation"
Can we consider using next sphinx extensions?

`sphinx-rtd-theme`
**[RTD Sphinx theme](https://sphinx-rtd-theme.readthedocs.io/en/latest/installing.html#installation)** already contain CSS(Sass) styles and designed for both desktop and mobile devices. IMHO this theme provides a more readable view, especially in Code Documentation.

`sphinx-panels`
**[sphinx-panels](https://sphinx-panels.readthedoc

[2021-08-04 08:39] #4984 closed

[2021-08-04 15:21] andresailer commented on #5309
Maybe you can provide a few more arguments that are more concrete than "better"?

Also a PR with the other theme so we can explore?

[2021-08-05 07:46] TaykYoku commented on #5309
Issue updated

[2021-08-05 08:22] #5124 closed

[2021-08-05 08:25] #5071 closed

[2021-08-10 07:40] arrabito commented on #5261
No. I just reported as an additional bug.

[2021-08-10 09:15] fstagni commented on #5261
I have never seen this error, not even in the LHCb certification nor in the DIRAC certification. I can't figure out how it might happen, looks somehow related to your setup.

[2021-08-10 15:16] chaen opened #5320 "Monitoring generating insane timestamp"
We regularly have entries for all types of monitoring that fails in being inserted in ElasticSearch with errors like

[code]

What happens is the following:

1. An entry is added to the `MonitoringReporter` https://github.com/DIRACGrid/DIRAC/blob/cbce4f036dda83159d5655e255ffddfc20a847de/src/DIRAC/MonitoringSystem/Client/MonitoringReporter.py#L99
2. At some point, the records are commited with http

[2021-08-11 12:03] chaen commented on #5320
Giving this more thoughts.

First of all, adding the timestamp when committing is wrong. It should be done when adding the record, not when trying to send it to ES, since there can be a relatively large delay of the order of minutes.

Second, the reason for all these multiplication/division is because `epoch_millis` is the default to store epoch in ES. I think it would make way more sense to store

[2021-08-13 12:15] fstagni commented on #5320
Please check https://github.com/DIRACGrid/DIRAC/pull/5328 for a possible solution to the bug.

Regarding the other issue here (milliseconds vs seconds), it would imply coordinating the deploy with an intervention which is of course delicate. To be discussed.

[2021-08-13 23:35] TaykYoku commented on #5287
I tried to integrate all the ideas in #5331. Currently, these changes do the following:
[code]
**Usage:**

1. To get configuration for default VO/setup (or in a singleVO installation), just as usual:
[code]

2. If you need to get configuration for some another VO, you can use `gConfig`:
[code]
OR
[code]
OR create new `ConfigurationClient` instance
[code]

3. The same if you need to consider anothe

[2021-08-17 14:46] fstagni commented on #5167
These deprecation warnings are for ElasticSearch 7+. At the same time, the "types" mentioned are needed for ElasticSearch 6, which we are still supporting. The day we can drop support for ES 6, we can fully remove fixing `doc['_type']`. Not for v7r2, not sure for v7r3.

[2021-08-17 14:56] fstagni commented on #4631
I think by now all the bullets in this task are done, aren't they? So I propose to close this one.

[2021-08-17 15:12] fstagni commented on #3523
I guess that by now this can be closed!

[2021-08-17 15:12] #3523 closed

[2021-08-17 15:15] #2790 closed

[2021-08-17 15:15] #1753 closed

[2021-08-17 15:21] marianne013 commented on #4631
You are right, this is probably as good as it gets,

[2021-08-17 15:21] #4631 closed

[2021-08-18 08:43] atsareg commented on #5309
Am I understanding correctly that with this PR the newly generated RTD docs will have commercial advertisements now ?

[2021-08-18 08:52] #5283 closed

[2021-08-18 08:54] #5247 closed

[2021-08-18 09:34] fstagni commented on #5309
The commercial advertisements should have been there already, I don't know why they were not appearing on our hosted one.

[2021-08-18 11:44] TaykYoku commented on #5309
Here's what I found about it, and it appears to be part of a service agreement:
https://docs.readthedocs.io/en/stable/advertising/ethical-advertising.html#ethical-ads

Here are instructions on how to opt out of some advertising, unfortunately I can't try to do so because I'm not a project owner:
https://docs.readthedocs.io/en/stable/advertising/ethical-advertising.html#opting-out

[2021-08-18 12:42] #5309 closed

[2021-08-19 07:55] fstagni commented on #5278
I change milestone to v7r3 and close this issue.

[2021-08-19 07:55] #5278 closed

[2021-08-19 07:57] #5232 closed

[2021-08-19 08:53] chrisburr commented on #5082
This is now resolved. For "normal"/client-style installations `sys.base_prefix` is used (i.e. `/path/to/diracos/etc/dirac.cfg`).

In the case of a "server", which supports upgrades with the system administrator, the layout is automatically detected if it is: `/path/to/base/versions/vX.Y.Z-12345678/Linux-x86_64/` in which case the base of the installation is redefined to be `/path/to/base/`.

[2021-08-19 08:53] #5082 closed

[2021-08-24 07:46] chrisburr opened #5355 "Jobs cannot be removed by JobCleaningAgent if user DN changes"
Since v7r2p5 ([see this commit](https://github.com/DIRACGrid/DIRAC/commit/2dc5074f5903f6d0537b83eedaedfd804865b078#diff-bcd02738fc51a5f8a825591df2f8780ae78392be8faaa32fe603c62517a37925R193-R194)) jobs are removed using the DN and group of the submitting user.

This causes jobs to get stuck with the `Deleted` state if a user changes their DN. Presumably similar issues can occur if they change group

[2021-08-25 10:24] chaen commented on #5320
That's not a good fix. It solves that issue but can largely falsify the data. As I said a bit higher:

With this fix, we will be recreating the timestamp everytime we are trying to send the record. I think this fix should be reverted

[2021-08-26 08:33] chaen opened #5361 "SkipCAChecks should not remain True on client installation"
When doing dirac-configure (py2 or py3), the `SkipCAChecks` flag is set to `True`. This is to allow the initial download of CA/CRL bundle.
However, this flag then remains in the configuration ad vitam aeternam, which is of course not good.

[2021-08-27 13:15] arrabito opened #5366 "TransformationCleaningAgent not treating transformations created by the Production System"
I've noticed that transformations created by the Production System are not treated correctly by the TransformationCleaningAgent.
The reason seems to be that the agent can't download a proxy for the host certificate:

[code]

Do you think that the TransformationCleaningAgent should be modified to handle this use case?

Thank you.

[2021-08-27 14:27] #5366 closed, assigned to nobody

[2021-09-02 10:16] hmiyake opened #5377 "TS parameter GroupSize only accepts integer"
TS BySize (groupBySize) plugin recognizes `GroupSize` parameter by GB.
However, this parameter is defined as integer in TransformationDB and we cannot specify smaller file size.

It would be better if we could specify float.

[2021-09-03 15:25] chaen opened #5387 "Auto generated doc and client issues"
There are several things a little bit odd with the automatically generated doc and clients.

First point: calling `help` on a class works, but NOT on the instance.

[code]

The other problem is that `createClient` always loop through the extensions.  This means that if I create a `TransformationClient` imported from DIRAC, it will create a method `addBookkeepingQuery`, while this is implemented in

[2021-09-03 15:34] andresailer commented on #5387
But aren't you always going to run a LHCbDirac TransformationManagerHandler on the server? so the client should always have the LHCbDirac methods?

[2021-09-03 15:46] chaen commented on #5387
In practice possibly, very likely even, I still find it nasty :-)

[2021-09-03 15:59] andresailer commented on #5387
Under what circumstances would you disable the lookup in the extensions?

[2021-09-06 07:02] chrisburr commented on #5387
I'm not sure if this is a good idea or just plain evil but I wonder if the correct behaviour should be one of these:

[code]

[code]

[2021-09-06 08:41] chaen commented on #5387
I was about to say "I would disable it by default, and only enable it based on an extra parameter in the decorator that would only be set for extensions", but that does not work when an extension overwrites the server and not the client

Oh I beg you, don't ! That's pure evil :laughing:

[2021-09-07 13:41] TaykYoku commented on #4488
now this applies to v7r4 (hopefully this is final).

Currently, long-term tokens are written and updated in TokenManager in TokenDB. The user can remove them from there if desired. These tokens are used to create new tokens for issuance to the user or services for access to DIRAC or other resources. If long-term tokens are revoked on the side of the IdP (these can be various reasons determined by

[2021-09-07 15:01] fstagni commented on #5320
I am aware that the fix in #5328 is "not a full solution to the issue" (this is what I wrote in the PR): what is coded is a quick solution for the error mentioned in the description, but clearly it was not for solving it fully. Just reverting it without providing a better solution is not making things better, IMHO.

[2021-09-08 13:58] sognetic opened #5393 "Broken links in Administrator Guide"
Hi!

There is a broken link at https://dirac.readthedocs.io/en/latest/AdministratorGuide/Resources/storage.html pointing to https://dmc.web.cern.ch/projects which doesn't seem to exist anymore. Maybe it has moved here: https://dmc-docs.web.cern.ch/dmc-docs/.

Cheers
Moritz

[2021-09-08 15:58] andresailer commented on #5387
@chrisburr was the last one to change the way the documentation is added, so I hope he can have a look at that issue, though admittedly I don't know if before this was doing the right thing.

For the extension issue I would say "won't fix", as this was specifically requested by @fstagni back in the day, and given the RPC shenanigans in the Client/Handler interactions not having the extension funct

[2021-09-13 10:59] fstagni commented on #5355
I don't see an obvious way out here. The problem is that the mentioned commit was necessary, IIRC, to assure the removal through RMS requests (when necessary). The question is if this is an issue that we want to solve via code.

[2021-09-13 11:26] chrisburr commented on #5355
Doesn't this need to be changed to do things by nickname instead of DN given that DNs will cease to exist at some point?

[2021-09-14 16:50] chaen commented on #5393
Thanks, I'll update it

[2021-09-15 00:43] iueda opened #5401 "Enabling IPV6 in GFAL2_StorageBase causes a problem"
Enabling IPv6 in general causes access problems with a certain combination of IPv6-enabled SEs and IPv4-only UI:

https://github.com/DIRACGrid/DIRAC/blob/integration/src/DIRAC/Resources/Storage/GFAL2_StorageBase.py#L97
[code]

Can it be set depending on the UI environment?

[2021-09-15 03:14] iueda commented on #5401
eg. https://ggus.eu/index.php?mode=ticket_info&ticket_id=153684

[2021-09-15 07:40] chaen commented on #5401
Hi,

It is a known globus bug, for which CERN once mentioned a patch "coming soon" (aug 2019). I asked for some news about that patch.
In any case, I can introduce a new environment variable yes. I'll do it shortly. v7r2 is ok for you ?

[2021-09-15 07:48] iueda commented on #5401
thanks. ah, yes that one... yes. v7r2 is ok.

[2021-09-15 08:38] chaen commented on #5401
According to Oliver Keeble

[2021-09-15 16:37] aldbr commented on #5277
From what I understand:
- with a local schedd: `condor_q -totals -json` provides a summary of the status of the job on a given resource
- with a remote schedd: `condor_q [-totals -json] -name <ceName> -pool <ceName>:9619` returns the following error:

[code]

The command only works if we add a `JobID` or the name of the `owner` of the jobs.
I didn't find any easy way to get our owner name (it depe

[2021-09-16 12:05] iueda commented on #5401
Thanks for the work and the information.
I have just made a test and confirmed it works with a patch following #5402.
Details in #5402.

[2021-09-17 12:04] fstagni commented on #5355
Yes, this is something that are envisaging to do from 8.0 release (https://github.com/DIRACGrid/DIRAC/issues/4486) but there's anyway quite some work to be done in that direction, as DNs are quite widespread, not only in WMS. This is not a work for a v7r2 patch.

[2021-09-17 12:28] chaen commented on #5355
it's actually much worse than this ! The Agent will create (buggy) removal request at every loop, because it creates the removal requests before attempting to delete the job.
https://github.com/DIRACGrid/DIRAC/pull/5414

[2021-09-17 13:41] fstagni commented on #5361
Please check #5416 for possible simple resolution (I didn't run - yet - any tests with this patch in).

[2021-09-21 15:17] #5261 closed

[2021-09-29 11:57] #5114 closed

[2021-09-29 11:58] #5377 closed

[2021-09-29 12:00] #5361 closed

[2021-09-29 12:41] #5401 closed

[2021-10-01 16:26] chaen opened #5451 "ForwardDISET uses explicitely RPCClient"
It should use the ClientSelector to be compatibble with https.

Example of stack trace
[code]

[2021-10-04 10:00] chaen commented on #5355
After discussion in LHCb Ops meeting, one more thing to be done: the agent should try to get the user proxy.
If it fails for a temporary reasons, we wait.
If it fails for longer, do the actions with the server certificate

[2021-10-10 06:13] chrisburr opened #5486 "8.x style deployment failing"
@atsareg This is failing as the `8.0.0a1` deployment didn't quite go pefectly as it failed to push the release notes back so the `8.0.0a1` tag is a dangling commit. I'll think about how to fix it properly in the morning.

In the meantime, can you cherry-pick `db09bfed176ab847f8e40f6511ce4155e53df0ff` and push it directly to `integration` on `DIRACGrid`?

_Originally posted by @chrisburr in https:/

[2021-10-18 11:47] fstagni commented on #4495
I think this specific task can be closed now.

[2021-10-18 11:47] #4495 closed

[2021-10-18 11:50] fstagni commented on #4480
I am tempted to close this task (DIRACOS2, py3 etc), unless there are objections.

[2021-10-18 11:56] marianne013 commented on #4480
I don't even remember the details of this, but given that I haven't seen any more issues looking like this recently, go ahead.

[2021-10-18 11:57] #4480 closed

[2021-10-18 12:04] andresailer commented on #4941
Fixed

[2021-10-27 06:06] chaen opened #5545 "[MAYBE] Sanitize DN from VOMS"
We had a single case of a user that had as new certificate a DN with spaces between each component. DIRAC would clearly not survive that.
There was a change in the way openssl command displays the output [1], and my suspicion is that VOMS Admin introduced a Centos 8 machine at some point, leading to that "weird"  DN.

Examples

[code]
[code]

Unfortunately, I did not find a combination of options

[2021-10-29 06:59] chaen opened #5552 "Release constraint on docutils when the bug with sphynx is fixed"
Revert https://github.com/DIRACGrid/DIRAC/pull/5551
when https://sourceforge.net/p/docutils/bugs/431/ is fixed

[2021-11-01 16:38] fstagni commented on #5486
Sorry, I missed this one. Yes, go ahead.

[2021-11-02 15:19] chrisburr commented on #5552
Closing as this has been solved by removing the explicit dependency on `docutils`

[2021-11-02 15:19] #5552 closed

[2021-11-02 15:24] DIRACGridBot opened #5557 "Sweep failed for PR Fixes to X509CRL and X509Chain"
Sweep failed for PR Fixes to X509CRL and X509Chain
See https://github.com/DIRACGrid/DIRAC/pull/5554#issuecomment-957815825

[2021-11-02 16:34] DIRACGridBot opened #5558 "Sweep failed for PR fix (docs): remove docutils from the requirements"
Sweep failed for PR fix (docs): remove docutils from the requirements
See https://github.com/DIRACGrid/DIRAC/pull/5556#issuecomment-957924851

[2021-11-02 17:45] chaen commented on #5558
expected. Close

[2021-11-02 20:44] chaen commented on #5558
Done in https://github.com/DIRACGrid/DIRAC/pull/5556

[2021-11-02 20:44] #5558 closed

[2021-11-03 09:22] #5557 closed

[2021-11-03 09:29] DIRACGridBot opened #5562 "Sweep failed for PR don't run Integration tests for documentation changes"
Sweep failed for PR don't run Integration tests for documentation changes
See https://github.com/DIRACGrid/DIRAC/pull/5549#issuecomment-958777999

[2021-11-04 08:35] fstagni commented on #5486
@atsareg just created 8.0.0a7 which has not pushed a corresponding tag.

[2021-11-04 16:22] chrisburr commented on #5486
Finally, success! https://github.com/DIRACGrid/DIRAC/blob/integration/release.notes

[2021-11-04 16:22] #5486 closed

[2021-11-08 10:36] chrisburr opened #5575 "Output is not written to disk if job is marked as stalled by the watchdog"
For LHCb production jobs the stdout/stderr is continiously written to disk however for user jobs it's only written after the process exits and for stalled jobs it gets lost by the Watchdog object.

Debugging stalled user jobs would be easier if a callback was used to write it continiously.

[2021-11-10 16:19] DIRACGridBot opened #5579 "Sweep failed for PR test: fix http/https typo in Test_Resources_GFAL2StorageBase"
Sweep failed for PR test: fix http/https typo in Test_Resources_GFAL2StorageBase
See https://github.com/DIRACGrid/DIRAC/pull/5576#issuecomment-965505483

[2021-11-11 03:27] acampove opened #5580 "Commands failing but still giving status 0"
Hi,

If I run:

[code]
where the `LFN` should end in `root`, I see:

![image](https://user-images.githubusercontent.com/14037062/141231755-e6f43d12-58f8-4231-94a1-27a81107a232.png)

Also, if I do:

[code]
mistaking the site, I do get the exit code 0. This means that we cannot automate the checking of the success of the process and we always have to go through the log file to check that everything

[2021-11-11 09:47] TaykYoku commented on #5562
As I comment here https://github.com/DIRACGrid/DIRAC/pull/5549#issuecomment-958940767

I do not understand why `sweep:failed` here. When I tried `cherry-pick` manually, there were no conflicts:
[code]

A less important thing that I noticed is that in the instructions the next line will not work if you just copy it. It seems that the use of the `'` charter in the description of the commit is not de

[2021-11-11 10:39] closier opened #5581 "VOMS2CSAgent do not remove OLD certificate"
If a user get a new certificate regstered in VOMS, it is properly added to the DIRAC CS.
But if one of the two CERTIFICATE is remove from VOMS, it is NOT remove by the agent in the DIRAC CS.

you can check the example of username = desimone

[2021-11-12 17:17] marianne013 opened #5582 "v7r2 (&up): Jobs cannot be submitted to ARC-CEs if DIRAC queue name doesn't match real queue name"
In order to get around the "one core job requesting 8 core pilot" 'feature',  GridPP now has two DIRAC queues per CE:
One with NumberOfProcessors =1 and one with NumberOfProcessors =8.
The multi-core queue has the additional parameters of Tag = MultiProcessor and RequiredTag =  MultiProcessor to avoid attracting single core jobs.
These queues have different names. This causes no problems on the HT

[2021-11-12 17:53] fstagni commented on #5582
Thanks for the report. Let's see if Raja has anything against it.

[2021-11-15 10:42] aldbr opened #5587 "should `getQueuesResolved()` create a directory per queue?"
The `SiteDirector` calls `getQueuesResolved()` to build a dictionary of queue attributes.
The function also generates a directory per queue in `workingDirectory`:
https://github.com/DIRACGrid/DIRAC/blob/integration/src/DIRAC/WorkloadManagementSystem/Utilities/QueueUtilities.py#L62

IIUC, these directories generated are not really used in the process.
If such is the case, shouldn't we delete this l

[2021-11-15 11:44] fstagni commented on #5587
Indeed, I think it can be removed.

[2021-11-15 12:18] fstagni commented on #5580
Thanks for the report. That's actually LHCb-specific error. I notify @phicharp since this is actually his code.

[2021-11-15 13:16] phicharp commented on #5580
This is because we were not taking into account the presence of files with "Failed" status... Fixed in a coming release

[2021-11-15 13:28] phicharp commented on #5580
[code]

[2021-11-15 13:29] fstagni commented on #5580
Fixed in https://gitlab.cern.ch/lhcb-dirac/LHCbDIRAC/-/merge_requests/1122

[2021-11-15 13:29] #5580 closed

[2021-11-16 13:15] chaen commented on #5581
This is due to users being in groups with no VOMS roles. These groups are considered by the sync client as being from another VO

https://github.com/DIRACGrid/DIRAC/blob/8712bd01e9b38f0625ed8eaf0fc6b4eed2b156be/src/DIRAC/ConfigurationSystem/Client/VOMS2CSSynchronizer.py#L471-L475

Not too sure what to do here. I guess normally these would be dirac only groups, so the DN is not relevant ,and we cou

[2021-11-17 09:09] fstagni commented on #5355
After some investigation, I decided to move this issue to 8.0. There's no easy and clean way to solve this right now, as it needs #4486

[2021-11-17 10:52] DIRACGridBot opened #5599 "Sweep failed for PR Don't run JobsStateMachine if newStat is ''"
Sweep failed for PR Don't run JobsStateMachine if newStat is ''
See https://github.com/DIRACGrid/DIRAC/pull/5597#issuecomment-971459726

[2021-11-17 12:18] DIRACGridBot opened #5602 "Sweep failed for PR Fix installing extensions on Python 3 based servers"
Sweep failed for PR Fix installing extensions on Python 3 based servers
See https://github.com/DIRACGrid/DIRAC/pull/5600#issuecomment-971526799

[2021-11-17 12:23] chrisburr commented on #5562
It's the single quote not being quoted correctly, from the linked pipeline:
[code]
I'll take care of fixing it in the sweeper.

[2021-11-17 12:58] #5579 closed

[2021-11-17 12:58] #5602 closed

[2021-11-17 12:59] #5599 closed

[2021-11-18 11:35] DIRACGridBot opened #5616 "Sweep failed for PR getComponentsStatus bug whith empty service list"
Sweep failed for PR getComponentsStatus bug whith empty service list
See https://github.com/DIRACGrid/DIRAC/pull/5614

[2021-11-18 13:43] raowenqmul opened #5620 "Dirac fails to handle MySQL passwords correctly (at-least at bootstrap)"
Hello,
MySQL 8 enforces password complexity rules.
As a result I chose a MySQL Dirac user  password containing the '@' symbol: `TestPass@X9`
I then ran:
` ./install_site.sh --debug -v v7r3p9 install-v7r3p9.cfg 2>&1 > install-v7r3p9.log
`
There were errors which I grep'd out of the log file:
[code]

So I changed to using '%' instead: `TestPass%X9`
This resulted in errors in the log like this:

[cod

[2021-11-18 14:20] #5616 closed

[2021-11-18 16:48] fstagni commented on #5620
Thanks for the report! We'll take care.

[2021-11-18 17:11] raowenqmul opened #5621 "v7r3p9: dirac-admin-sysadmin-cli show info crashes with backtrace"
I'm running a minimal python2 dirac server v7r3p9 and client v7r3p9.

But running dirac-admin-sysadmin-cli  show info crashes with a backtrace.

After getting proxy cert I run: `dirac-admin-sysadmin-cli --host dirac2`
And then show status works but show info crashes... Strange!

[code]

I discussed this with Simon Fayer who thinks this may be the result of a refactor by Chris B where the DIRAC key

[2021-11-18 17:23] fstagni commented on #5621
Thanks. Fixed in https://github.com/DIRACGrid/DIRAC/pull/5622

[2021-11-23 09:52] HealthyPear opened #5633 "Conda installation"
Hi all,

I am a CTA user and in our setup, we use a wrapper around DIRAC (CTADIRAC) that allows developing interfaces for various pipelines or analysis codes.

After the upgrade to python3, this wrapper has been also upgraded and can be installed as a `pip` package.
I have a software (A) also installable as a `pip` package and an interface to the DIRAC grid based on CTADIRAC (B) as a git repo.

I

[2021-11-25 05:50] chaen opened #5637 "Rucio 1.27.0rc1 seems to break our tests"
There is an error that appeared in the Test_AgentOption since the new Rucio release. I have no clue whether it s related to rucio, to the way we import the agent or what, so I'll shoot large: @andresailer @cserf @martynia @bari12

Example of failures: https://github.com/DIRACGrid/DIRAC/runs/4320029704?check_suite_focus=true

[code]

[2021-11-25 08:44] bari12 commented on #5637
Ok, this looks like you are running without a `rucio.cfg` after the changes @martynia did which should not make this necessary anymore. But with the 1.27 RC1 it seems like there was a change which makes this necessary again.
We need to look into this a bit to see how to fix this.

On a side-note, you are just fetching the package from pypi and not the conda-forge one?

[2021-11-25 10:05] andresailer commented on #5582
Cross-Posting from the BiLD
All the ArcCE cares about is the bit after the second hyphen https://github.com/DIRACGrid/DIRAC/blob/f0b28398d7d40224fc6fbc7fdf4f821a8bcf0a14/src/DIRAC/Resources/Computing/ARCComputingElement.py#L210

Thus creating queues like foo-bar-theActualQueue (and foo-bar1core-theActualQueue) should work (and seems to work for me) https://gist.github.com/andresailer/4392d65112451

[2021-11-25 10:45] chrisburr commented on #5637
Our CI is still getting rucio from PyPI as it pre-dates it being available from conda-forge. "Production" installations get the latest release from conda-forge.

[2021-11-25 11:27] sfayer commented on #5637
An upstream patch for this has been proposed, but it'll presumably take a little while for that to get merged and added to a release. A quick workaround that we can do on our side would be to set the RUCIO_CLIENT_MODE environment variable to anything, which bypasses the broken test. Alternatively is there a way for us to get the non-pre-release version of the package by default for now? (although

[2021-11-25 11:33] bari12 commented on #5637
I should be able to build an RC2 release for this later today, worst case tomorrow. In the meanwhile setting `RUCIO_CLIENT_MODE` should indeed fix this.

[2021-11-25 14:39] bari12 commented on #5637
We just released the `1.27.0rc2` which should fix this. Let me know how it goes 😄

[2021-11-25 16:02] andresailer commented on #5637
The test in #5588 has now passed successfully.

[2021-11-25 16:30] fstagni commented on #5637
Thank you Martin for the quick reaction. Issue closed.

[2021-11-25 16:30] #5637 closed

[2021-11-26 16:47] DIRACGridBot opened #5640 "Sweep failed for PR Fix typo in OptimizationMindHandler.exec_taskError"
Sweep failed for PR Fix typo in OptimizationMindHandler.exec_taskError
See https://github.com/DIRACGrid/DIRAC/pull/5639

[2021-11-27 09:27] HealthyPear commented on #5633
Hi again (I thought I already answered but now I can't see my reply, so probably I dreamed of it),

I managed to solve my issues as follows:

- I added the `voms` conda-forge package to my environment,
- I set the following environment variables from the newly created and activated environment,

[code]

I think such instructions should be added properly to the documentation for non-developer users

[2021-11-28 21:47] DIRACGridBot opened #5648 "Sweep failed for PR Multi-node allocations: Embed executableFile in the srun Wrapper"
Sweep failed for PR Multi-node allocations: Embed executableFile in the srun Wrapper
See https://github.com/DIRACGrid/DIRAC/pull/5646

[2021-11-29 11:20] marianne013 commented on #5582
Just to say that Andre's suggestion works for us. Not sure where in the documentation this should go ? I guess ARC and if there is one: multi-core ?
I won't be able to do anything about anything for the next 2 weeks though.

[2021-11-30 16:15] chaen opened #5662 "Rucio 1.27.0 seems to break our tests (yes, it's a new one)"
40 mns after the new Rucio release:
https://github.com/DIRACGrid/DIRAC/runs/4369901323?check_suite_focus=true

[code]

Clearly not blaming Rucio here, but I start being fed up :-) REALLY fed up :-)

@bari12 (sorry :-p )  @cserf @martynia

[2021-11-30 16:26] bari12 commented on #5662
Apologies for this one, in the two commands, you need to change `type` to `type_`. We changed the usage of built-in names in https://github.com/rucio/rucio/issues/4466 (I suppose we should have better announced this)

I can submit a PR for this.

[2021-11-30 16:42] martynia commented on #5662
Hi Gentlemen,

I’ve done the fix. I agree with Chris, that positional args would be a safer choice here.

 Best, JM

[2021-12-01 09:13] #5621 closed

[2021-12-01 10:19] #5640 closed

[2021-12-01 11:52] fstagni commented on #5587
In #5330

[2021-12-01 11:52] #5587 closed

[2021-12-01 12:18] DIRACGridBot opened #5675 "Sweep failed for PR Yet more executor fixes"
Sweep failed for PR Yet more executor fixes
See https://github.com/DIRACGrid/DIRAC/pull/5672

[2021-12-01 14:34] DIRACGridBot opened #5679 "Sweep failed for PR Bdii2CSAgent features: bannedCEs, SingleCoreQueues"
Sweep failed for PR Bdii2CSAgent features: bannedCEs, SingleCoreQueues
See https://github.com/DIRACGrid/DIRAC/pull/5660

[2021-12-01 15:37] fstagni commented on #5633
Hi, and thanks for your input.
@chrisburr might give a more complete answer, anyway:

`voms` is included in DIRACOS2: https://github.com/DIRACGrid/DIRACOS2/blob/main/construct.yaml#L61. And, it is also included in the DIRAC environment definition: https://github.com/DIRACGrid/DIRAC/blob/integration/environment.yml#L43

DIRACOS2 is the only one supported because it makes sure the environment is cor

[2021-12-01 15:37] #5633 closed

[2021-12-01 20:02] #5224 closed

[2021-12-01 20:02] #5582 closed

[2021-12-02 08:22] fstagni opened #5687 "importlib and Extensions module"
I have few opinions on this:
 - Is `DIRAC.Core.Utilities.Extensions` about the same that `Extensions` class? maybe we should use one of them?
  - it is necessary to be defined that we want to receive here, for example it is not absolutely clear to me that should return `getExtensionData`.

 If we have enough "module spec" information, we can use `from importlib.util import find_spec`.

[code]

 th

[2021-12-02 08:47] chrisburr commented on #5687
Originally posted by @chrisburr in [#5617 (comment)](https://github.com/DIRACGrid/DIRAC/pull/5617#discussion_r760822460)

[2021-12-02 09:27] #5679 closed

[2021-12-02 10:24] TaykYoku commented on #5687
I agree to remove it, done in #5684

[2021-12-03 09:04] arrabito opened #5695 "Error in the Framework/SystemAdministrator service after update to v7.3.7"
After update to v7.3 I get errors when using the Framework/SystemAdministrator service.

One example is below, when use the system admin CLI:

[code]

See log:

[code]
And another example is an error in the log of the Framework/ComponentSupervisionAgent :

`2021-12-03 09:00:27 UTC Framework/ComponentSupervisionAgent ERROR: Failure to get Agents from system administrator client Server error while s

[2021-12-03 10:40] fstagni commented on #5695
Exactly which version of server and client are you using? We had several updates in these code in the latest patches.

[2021-12-03 12:08] arrabito commented on #5695
On the server I'm using: 7.3.7
and on the client I have: 7.3.11

but note that the Error with the ComponentSupervisionAgent involves only the server, so 7.3.7.

[2021-12-03 15:38] arrabito commented on #2192
OK thank you. I will check and let you know.

[2021-12-03 16:53] fstagni opened #5699 "Jobs with "impossible" logging info"
(writing down before it's forgotten)

We have cases of jobs with this logging info:

[code]

And from here on the RequestExecutingAgent is still trying to update the JobStatus/MinorStatus.

My suspicion is that the `StatusDict` in

https://github.com/DIRACGrid/DIRAC/blob/28e83cdd949d257dd3213f07d8423a0df635e22d/src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py#L149-L154

contains

[2021-12-04 15:31] fstagni commented on #5695
Have you tried to update the server to the most recent version? Looks like something that was fixed already.

[2021-12-05 09:21] phicharp commented on #5699
The ForwardDiset operation only has two entries:

dirac-bash-4.2$ dirac-rms-request --Job 559598198 --Verbose
Request name='00147855_00005788_job_559598198' ID=36284709 Status='Done' Job=559598198
Created 2021-12-02 21:19:06, Updated 2021-12-04 17:12:44, NotBefore 2021-12-04 17:12:18
Owner: '/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=fstagni/CN=693025/CN=Federico Stagni', Group: lhcb_mcproc
  [0]

[2021-12-05 09:28] phicharp commented on #5699
Ah, no! It's just that the request was executed repeatedly :

[lbvobox309] /opt/dirac/runit/RequestManagement/RequestExecutingAgent/log $ grep 559598198 * | grep -c 'DISET forwarding done'
1293
because it is not put back when the status updated is given up.

[2021-12-05 19:17] fstagni commented on #5699
I am quite convinced that simply the order of state updates got messed up. It should never reach a point when the Status/MinorStatus pair is "Completed/Uploading Output Sandbox", while it should be

"Completing/Uploading Output Sandbox"
"Completing/Output Sandbox Uploaded"
"Completed/Output Sandbox Uploaded"

Anyway my theory that the order got messed because the `statusDict` contains the same tim

[2021-12-06 08:13] rubenpozzi97 commented on #4226
Where should it be created? Open distro for certification (es-dirac-certification.cern.ch)?

[2021-12-06 15:16] arrabito commented on #2192
I confirm that after this update it works fine now.
Thank you.

[2021-12-06 15:31] #5695 closed

[2021-12-07 11:19] fstagni commented on #4779
I think this one can be closed. It's referenced in https://github.com/DIRACGrid/COMDIRAC/issues/72 and does not affect directly vanilla DIRAC, IIUC.

[2021-12-07 11:19] #4779 closed

[2021-12-07 11:21] fstagni commented on #4741
@TaykYoku can you confirm (or not) that this task has been already taken into account? In that case, it could be closed.

[2021-12-07 12:41] TaykYoku commented on #4741
later we decided:
1. refrain from using tokens signed by **DIRAC** itself.
2. use as much as possible the standard implementation (**OAuth 2.0**).

Currently, the organization of the authorization session (here we consider only tokens) is as follows:
1. the user is authorized through **DIRAC Aurthorization Server**
2. A record of the **Refresh Token** is stored in a database tied to the **time** o

[2021-12-07 13:01] TaykYoku commented on #4741
The basic explanation of the authorization process is considered in #5548.
The basic logic of authentication of incoming requests for access to DIRAC resources is in `BaseRequestHandler` #5399.
In general, the whole 8.0 release is about it, so in my opinion, if no one @chrisburr @chaen @atsareg has any questions or opinions about it, then in this case @fstagni can close this issue.

[2021-12-07 13:02] TaykYoku commented on #4741
@fstagni, can you please add `OAuth2` label here.

[2021-12-09 01:46] TaykYoku commented on #4485
Can you assign me here.

There is still no single token format for all IdPs, so there is a special class in `src/DIRAC/Resources/IdProvider/IAMIdProvider.py`(#5149) that describes IAM-specific token validation. Common to all algorithms are described in `src/DIRAC/Resources/IdProvider/OAuth2IdProvider.py`.

We need to read the user ID and its DIRAC group from the token. The user ID is passed to the

[2021-12-09 03:47] TaykYoku commented on #4484
Returning to this question, I see that there are issues related to this (in the context of DN).

As I see it:
`DIRAC` can be roughly equated to Identity Provider (IdP), also take any `VOMS`, WLCG `IAM` and `EGI` CheckIn.

Each of them has a user ID, call them "primery UID" (`pUID`) and linked user IDs, call them "slave UIDs" (`sUID`s).
| name      	| Unique ID      	| can be linked 	|
|-----------

[2021-12-09 03:50] TaykYoku commented on #4487
I think https://github.com/DIRACGrid/DIRAC/pull/5644 related to it.

[2021-12-09 09:47] #5648 closed

[2021-12-10 14:13] TaykYoku commented on #5562
At the last Build meeting, we agreed to close this PR, if I understood correctly, as the changes have already been transferred to the integration(https://github.com/DIRACGrid/DIRAC/pull/5567).  But it seems that I do not have enough rights for this.

[2021-12-13 08:17] #5562 closed

[2021-12-13 10:05] phicharp commented on #5699
We have another related issue: when failover requests are uploaded, the job status is set to "Completed/Pending Requests" or "Failed/Pending Requests" depending on the success of the job... If this request cannot be put for any reason (including on RequestProxy services), there is no "recovery"... This is a bit a chicken and egg problem but we had recently the case when IN2P3 had severe connectivi

[2021-12-13 20:27] DIRACGridBot opened #5722 "Sweep failed for PR feat (wms): use db12 package to compute cpu power"
Sweep failed for PR feat (wms): use db12 package to compute cpu power
See https://github.com/DIRACGrid/DIRAC/pull/5707

[2021-12-13 20:27] DIRACGridBot opened #5723 "Sweep failed for PR Add URLs to CS when installing HTTPS services"
Sweep failed for PR Add URLs to CS when installing HTTPS services
See https://github.com/DIRACGrid/DIRAC/pull/5718

[2021-12-13 23:16] sfayer opened #5727 "TPC problems replicating from dCache to xrootd sites"
Hi,

We're seeing TPC transfer problems when replicating from dCache (SRM protocol) to xrootd (root protocol) sites with the error "The local source file does not exist or is a directory". DIRAC version is v7r2p28 with DIRACOS v1r27.

What appears to be happening is that the __getSingleTransportURL function is initially called for the source with the protocol 'xroot': dCache (7.2) happily responds

[2021-12-14 08:55] #5193 closed

[2021-12-14 09:45] #5723 closed

[2021-12-14 13:41] chaen commented on #5727
Hi @sfayer

I checked with the xroot developers, and although historically there was a difference, nowadays the protocols are in principle aliases.
So I'd prefer the option of adding `xroot` to the list of INPUT_PROTOCOL.
(Note that as a test, you can override this list in your CS)

I am very puzzled by dCache not accepting root in the query, but that's another story

[code]

However, I am a bit c

[2021-12-14 15:20] DIRACGridBot opened #5731 "Sweep failed for PR Get Tornado's port from the CS when adding URLs"
Sweep failed for PR Get Tornado's port from the CS when adding URLs
See https://github.com/DIRACGrid/DIRAC/pull/5729

[2021-12-14 15:21] #5167 closed

[2021-12-15 10:17] sfayer commented on #5727
Thanks, I've asked the end user to try it out with a modified input protocol list and report back.

The use case here is just replications using dirac-dms-replicate-lfn initially: They do want to automate all of this, but it's being done manually for now as we haven't redeployed/configured/tested all of the components needed for the full RMS/FTS3/transformation set-up yet.

I was going to include

[2021-12-15 12:52] chaen commented on #5727
To be honest, with the latest trends (multihop and other geniuses ideas), `dirac-dms-replicate-lfn` will work less and less often... Actually it will, it will just do a local copy first...

For completeness, here is the dCache ticket :-) https://github.com/dCache/dcache/issues/6372

[2021-12-15 14:25] DIRACGridBot opened #5733 "Sweep failed for PR Add PushJobAgent: supports Sites with no external connectivity"
Sweep failed for PR Add PushJobAgent: supports Sites with no external connectivity
See https://github.com/DIRACGrid/DIRAC/pull/5330

[2021-12-15 14:31] guiguem commented on #5727
Hi, I added `xroot` in https://github.com/DIRACGrid/DIRAC/blob/2e353c23514379074d9040cd455f59dbf2fec439/src/DIRAC/Resources/Storage/GFAL2_XROOTStorage.py#L30 as suggested by Simon, and it fixed the issue about the duplication between the two sites. Thanks a lot!

Concerning the `dirac-dms-replicate-lfn` future, what is the preferred method to replace this script? Local copying is annoying because

[2021-12-15 16:48] #5733 closed

[2021-12-15 16:51] DIRACGridBot opened #5738 "Sweep failed for PR fix: gzipping in py2 and py3"
Sweep failed for PR fix: gzipping in py2 and py3
See https://github.com/DIRACGrid/DIRAC/pull/5737

[2021-12-15 16:52] #5687 closed

[2021-12-15 16:59] #5722 closed

[2021-12-16 06:37] #5738 closed

[2021-12-16 10:44] chaen opened #5740 "Replace RPCClient by CLient everywhere"
For HTTPS transition:

 * [x] Add a url parameter to `Client` constructor
 * [x] Replace all `RPCClient` instantiation with `Client` (https://github.com/DIRACGrid/DIRAC/pull/5761)
 * [x] Replace `TransferClient` with ` TransferClientSelector` (https://github.com/DIRACGrid/DIRAC/pull/5741/)

[2021-12-16 13:47] DIRACGridBot opened #5747 "Sweep failed for PR JobSanity doesn't handle input sanboxes named "LFN:""
Sweep failed for PR JobSanity doesn't handle input sanboxes named "LFN:"
See https://github.com/DIRACGrid/DIRAC/pull/5742

[2021-12-16 15:55] #5731 closed

[2021-12-16 16:06] DIRACGridBot opened #5750 "Sweep failed for PR JobSanity doesn't handle input sanboxes named "LFN:""
Sweep failed for PR JobSanity doesn't handle input sanboxes named "LFN:"
See https://github.com/DIRACGrid/DIRAC/pull/5749

[2021-12-16 16:50] #5747 closed

[2021-12-17 16:51] chaen commented on #5727
I've just added `xroot` here https://github.com/DIRACGrid/DIRAC/pull/5755

The preferred method to replace the script is unfortunately either a local copying or the full fledged machinery Simon mentioned

[2022-01-05 11:13] arrabito opened #5758 "All jobs automatically rescheduled with pilot version 7.3.14"
Dear all,

I've tested DIRAC version 7.3.14 in pilots and I found some misbehaviour preventing to run any job correctly.

All jobs that complete successfully ('Done' status) get automatically rescheduled until the Maximum of allowed trials is reached and in the end they keep stuck in 'Rescheduled' status.

In the pilot outputs,  I get the following error:
[code]
It seems like a bug. I also confirm

[2022-01-05 11:21] arrabito opened #5759 "Bug in rebuild command of dirac-dms-filecatalog-cli"
In version 7.3.12, I found this bug in the`rebuild `command of the `dirac-dms-filecatalog-cli `
[code]

[2022-01-05 12:20] fstagni commented on #5758
This, IIRC, was also discovered during the last hackathon and is fixed in https://github.com/DIRACGrid/DIRAC/pull/5745/files but we are missing a new tag/release.

@atsareg I think we should removed 7.3.14 version.

[2022-01-05 13:22] arrabito commented on #5758
OK thanks. Good to know.

[2022-01-06 14:49] DIRACGridBot opened #5763 "Sweep failed for PR Replace RPCClient with Client"
Sweep failed for PR Replace RPCClient with Client
See https://github.com/DIRACGrid/DIRAC/pull/5761

[2022-01-06 18:37] fstagni commented on #5253
Self reminder: there are several BLOB and MEDIUMBLOB (mis)used instead of TEXT or VARCHAR, especially in JobDB and PilotAgentsDB. The change should be tested on a DB clone first.

[2022-01-07 12:46] DIRACGridBot opened #5767 "Sweep failed for PR SingularityComputingElement: install python3 version"
Sweep failed for PR SingularityComputingElement: install python3 version
See https://github.com/DIRACGrid/DIRAC/pull/5716

[2022-01-07 12:56] DIRACGridBot opened #5769 "Sweep failed for PR DIRAC APIs check if a JobState transition is allowed"
Sweep failed for PR DIRAC APIs check if a JobState transition is allowed
See https://github.com/DIRACGrid/DIRAC/pull/5752

[2022-01-10 09:02] arrabito opened #5773 "Error in FTS3Agent"
I'm using DIRAC version 7.3.12 and our replication requests using FTS do not work.

The reason seems to be that the FTS3Agent fails with the following error:
[code]

Is it due to the fact that we are using a wrong FTS client version?
Could you please let me know how to check/fix this issue?

Thanks,
Luisa

[2022-01-10 09:45] chaen commented on #5773
yes, that would be the wrong fts client. But I don't know how you got in that state, since DIRACOS2 has the correct one. It looks like you have a DIRAC version too recent for your DIRACOS2 version

[2022-01-10 10:23] arrabito commented on #5773
OK. I think that when I first updated our servers to DIRAC 7.3, I followed the doc here:
https://dirac.readthedocs.io/en/latest/AdministratorGuide/ServerInstallations/InstallingDiracServer.html
and I used the script that first installs DIRACOS2 and DIRAC.
Then, I think that updated DIRAC with pip without re-installing DIRACOS2. Is this correct procedure?
It doesn't seem the case...
Then, could you

[2022-01-10 10:55] chaen commented on #5773
no, the update procedure is as before (with the sys admin), and diracos2 is always updated.
There are currently no ways to know the diracos2 version

[2022-01-10 11:03] arrabito commented on #5773
OK so you mean the update command in the sys admin console.
What I was used to do before v7.3 was to run dirac-install.py directly on the servers, which I guess is equivalent.

However, I thought that with 7.3 pip then became the standard way to do the updates, but it seems it's not...
Does it mean that for every update one should reinstall/update DIRACOS2?
What about client update?

Thank you for

[2022-01-10 12:47] chaen commented on #5773
yes that will work too.

The `pip` update will work as long as we don't update `diracos2` but as you can see, we sometimes do :-)

[2022-01-10 13:13] arrabito commented on #5773
OK so to fix the current problem. I should just download the latest DIRACOS2 from:
https://github.com/DIRACGrid/DIRACOS2/releases/latest/download/DIRACOS-Linux-x86_64.sh
and install it, right?

[2022-01-10 13:22] chaen commented on #5773
either you re-install everything (the link you mentioned https://dirac.readthedocs.io/en/latest/AdministratorGuide/ServerInstallations/InstallingDiracServer.html), or you can upgrade using the system administrator (CLI or web)

[2022-01-10 14:45] HealthyPear opened #5775 "Error when using dirac-dms-directory-sync"
- I am using DIRAC 7.3.12 installed via pip in a conda environment

I launch the command as
`dirac-dms-directory-sync SOURCE DESTINATION`

where `SOURCE` is correctly defined, as I reach it using `dirac-dms-filecatalog-cli` and I can download files or list of files from it.

The error I get is the following,

[code]

[2022-01-10 15:05] fstagni commented on #5775
Thanks for reporting. In order to exclude setup errors, would you please trying installing a DIRAC client using DIRACOS? Follow instructions in https://dirac.readthedocs.io/en/latest/UserGuide/GettingStarted/InstallingClient/index.html
Then try again the above command (with DIRACOS we using python 3.9).

[2022-01-10 15:23] chrisburr commented on #5775
I know what is causing this so I'll take care of fixing it.

(The bulk conversion of scripts to use `def main(): ... if __name__ == "__main__": main()` wasn't done carefully enough in v7r2 to handle this case)

[2022-01-10 15:24] HealthyPear commented on #5775
Thanks @chrisburr, I'll test it again when this will be released then.

Meanwhile, what would be the minimal downgrade required to go back to a working version?

[2022-01-10 15:33] arrabito commented on #5773
OK thank you.

[2022-01-10 15:55] chrisburr commented on #5775
I don't have a good suggestion of what to download to as all Python 3-compatible releases will contain this bug.

I think you can test the fix by running these two commands:
[code]

Can you report back if this fixed the problem?

[2022-01-11 10:50] #5767 closed

[2022-01-11 10:51] #5769 closed

[2022-01-11 10:55] fstagni commented on #5758
Fixed in v7.3.15

[2022-01-11 10:55] #5758 closed

[2022-01-11 10:56] fstagni commented on #5740
Fixed in v7.3.15.

[2022-01-11 10:56] #5740 closed

[2022-01-11 10:58] fstagni commented on #5727
Closing as included in v7.3.15.

[2022-01-11 10:58] #5727 closed

[2022-01-11 11:36] fstagni commented on #5227
...I think this can be closed now.

[2022-01-11 11:36] #5227 closed

[2022-01-12 08:03] HealthyPear commented on #5775
with that change I get a different error

[code]

[2022-01-12 11:45] DIRACGridBot opened #5787 "Sweep failed for PR Fix pickle error in dirac-dms-directory-sync"
Sweep failed for PR Fix pickle error in dirac-dms-directory-sync
See https://github.com/DIRACGrid/DIRAC/pull/5776

[2022-01-12 11:53] HealthyPear commented on #5775
With the fix provided in  #5786 it seems to work for me now

[2022-01-12 13:52] chrisburr commented on #5775
Thanks for checking so quickly! 😃

[2022-01-12 15:19] chrisburr commented on #5763
Manually swept in https://github.com/DIRACGrid/DIRAC/pull/5764

[2022-01-12 15:19] #5763 closed

[2022-01-13 07:58] #5787 closed

[2022-01-13 08:24] DIRACGridBot opened #5792 "Sweep failed for PR Fix setJobStatus service"
Sweep failed for PR Fix setJobStatus service
See https://github.com/DIRACGrid/DIRAC/pull/5719

[2022-01-13 09:01] #5792 closed

[2022-01-13 16:42] #4226 closed

[2022-01-18 11:02] #5775 closed

[2022-01-24 07:48] DIRACGridBot opened #5817 "Sweep failed for PR change doc installing dirac server"
Sweep failed for PR change doc installing dirac server
See https://github.com/DIRACGrid/DIRAC/pull/5812

[2022-01-24 07:48] DIRACGridBot opened #5819 "Sweep failed for PR feat(wms): enable logs from db12 in dirac-wms-cpu-normalization"
Sweep failed for PR feat(wms): enable logs from db12 in dirac-wms-cpu-normalization
See https://github.com/DIRACGrid/DIRAC/pull/5813

[2022-01-25 08:42] #5817 closed

[2022-01-25 09:01] #5819 closed

[2022-01-25 13:10] marianne013 opened #5826 "v7r2p39: Fix for queues with single tag not propagated from 7.3 ?"
I just came across this error when trying to use queues that contain a single tag (at least that's the current theory). The error looked vaguely familiar and I found it in a v7r3 hackathon in August. Unfortunately I can't locate the fix (I assume it was fixed?) for it.
[code]

[2022-01-25 14:51] marianne013 commented on #5826
I did some more digging. Forget about the single tag. It looks like that resourceDict["Tag"] is meant to contain a list, but if I attach a tag to a queue (e.g. I have cename/queuename/Tag GPU) in the configuration system it instead stores it as a string and then gets its knickers in a twist when it tried to extend it.

[2022-01-25 16:47] marianne013 commented on #5826
I think this was fixed as part of:
https://github.com/DIRACGrid/DIRAC/pull/5354
but not backported for v7r2.
It's basically the code starting from here:
https://github.com/DIRACGrid/DIRAC/blob/835d22caa50a0bacfd792394288e222b0af8c581/src/DIRAC/WorkloadManagementSystem/Client/Matcher.py#L190
@chrisburr Is there such a thing as a backwards sweep ?

[2022-01-26 10:05] fstagni commented on #5826
Maybe https://github.com/DIRACGrid/DIRAC/pull/5827 is what you want? It just aligns with the current content of rel-v7r3

[2022-01-26 12:29] marianne013 commented on #5826
Yes, that looks fine, I dumped it on my preprod server and it looks to be working.
Thanks.

[2022-01-26 12:44] #5826 closed

[2022-01-27 08:08] DIRACGridBot opened #5832 "Sweep failed for PR JEncode bytes"
Sweep failed for PR JEncode bytes
See https://github.com/DIRACGrid/DIRAC/pull/5831

[2022-01-27 08:55] DIRACGridBot opened #5835 "Sweep failed for PR added a flag for disabling the use of SecurityLogging service"
Sweep failed for PR added a flag for disabling the use of SecurityLogging service
See https://github.com/DIRACGrid/DIRAC/pull/5760

[2022-01-27 09:02] #5835 closed

[2022-01-27 09:06] #5832 closed

[2022-01-28 11:07] fstagni commented on #5253
For reference, changes to be tested:
[code]

[2022-01-28 11:19] chrisburr commented on #5253
I don't know how MySQL handles this internally but can this be made faster by doing it with a single `ALTER TABLE` command?

[2022-01-28 16:14] fstagni commented on #5253
IIUC you can alter only one table at a time.

[2022-02-01 14:49] DIRACGridBot opened #5845 "Sweep failed for PR WMS DBs: do not try to decode when it's not bytes"
Sweep failed for PR WMS DBs: do not try to decode when it's not bytes
See https://github.com/DIRACGrid/DIRAC/pull/5841

[2022-02-01 15:57] #5845 closed

[2022-02-02 09:25] hmiyake opened #5849 "Rescheduled job is immediately killed when previous pilot stalled"
We found the case that rescheduled job is immediately killed if previous job failed by stalled pilot (i.e. "Job stalled: pilot not running").

When pilot died and StalledJobAgent marked corresponding job Failed, "Kill" is registered to JobCommand.
If the pilot is not running actually, cannot consume the job command. Finally rescheduled job (pilot) receives the command and then killed...this is my

[2022-02-04 18:32] TaykYoku opened #5855 "PushJobAgent generates errors when testing"
When I test, I get these errors. The problem is that `PushJobAgent` relies on dictionary keys that don't always returned, see `DIRAC.WorkloadManagementSystem.Utilities.getQueuesResolved`. This exception does not affect the result of the integration tests, but I have a hunch that such incompatibilities can create problems.

### Exception:
[code]

### How to reproduce an error:

Just look at any int

[2022-02-10 10:01] #5759 closed

[2022-02-13 17:18] TaykYoku opened #5866 "Integration with RCAuth"
# <a href=https://rcauth.eu/><img src="https://rcauth.eu/images/RCauth-eu-logo.gif" width="100"></a>
**RCAuth** issues certificates to end-entities based on a successful authentication in the appropriate Identity Provider.

_There are many requests to integrate this tool, so this issue aims to implement it and consider conceptual issues._

## Technical details
- [RCauth.eu and MasterPortal VOPorta

[2022-02-14 10:36] #4077 closed

[2022-02-14 10:36] #4654 closed

[2022-02-15 10:34] TaykYoku commented on #5287
Maybe it's worth tying it to some milestone.. 8.0?

[2022-02-16 08:41] fstagni commented on #5005
Hello @rajanandakumar just pinging on this to know the status :)

[2022-02-16 08:54] fstagni commented on #4365
Flag added in https://github.com/DIRACGrid/DIRAC/pull/5760. Should

- [x] check for instructions once more
- [ ] remove the service in a later stage

[2022-02-16 10:41] fstagni commented on #5849
JobCommand is actually not really used (the machinery is there "since ever" but the info added are actually not consumed. We have not seen such issues in 7.2 or 7.3 even though it does not mean that they are not there.

[2022-02-16 15:50] hmiyake commented on #5849
Thank you for clarification, and good to know JobCommand is not direct cause, and the issue does not widely happen.
OK we will revisit this issue after migration to 7.2/7.3 and let you know if it still persists.

[2022-02-16 15:50] #5849 closed

[2022-02-17 10:04] DIRACGridBot opened #5874 "Sweep failed for PR Show callstack in service logs before cleaning it"
Sweep failed for PR Show callstack in service logs before cleaning it
See https://github.com/DIRACGrid/DIRAC/pull/5869

[2022-02-17 10:13] chrisburr opened #5877 "Ensure no BLOBS are left in the databases"
As mentioned in the BiLD, making an issue so we don't forget to make sure these are dealt with before v8.0 is released.

[2022-02-18 07:36] #5253 closed

[2022-02-18 11:46] DIRACGridBot opened #5881 "Sweep failed for PR fix: backports to account for use of BLOBs in 8.0"
Sweep failed for PR fix: backports to account for use of BLOBs in 8.0
See https://github.com/DIRACGrid/DIRAC/pull/5880

[2022-02-18 12:46] fstagni commented on #5881
This sweep should have been ignored for this one.

[2022-02-18 12:46] #5881 closed, assigned to fstagni

[2022-02-19 13:15] arrabito opened #5886 "Error in installing DIRACOS in pilots (version 7.3.12)"
I'm running pilots with DIRAC 7.3.12 and I'm observing this error in some of the pilots (in Done or Aborted) status:

[code]
Then in the pilot stdout I get:
[code]
and no payloads are matched.

Any idea of the cause of this and how to fix it?

Thank you,

Luisa

[2022-02-21 08:36] fstagni commented on #5886
Hi Luisa, few questions:
- is it "new", and since when?
- do you observe this at specific site(s)?
- is it only for condor?
- how are these pilots started? By a SiteDirector?
- is the server version same as the pilot version?
- have you tried updating to 7.3.17?

[2022-02-21 08:54] arrabito commented on #5886
Hi Federico,
Here my answers:
* I'm running with this pilot and server version since months. I don't know if it's new. I've observed it only 2 days ago because I was try to run jobs at some specific sites and I've noticed that pilots were Done but they were not matching any payload. That's how I then discovered that behavior. So, it could be that it was happening before but I didn't notice, since

[2022-02-21 09:03] fstagni commented on #5886
Looks like a condor issue to me, where the pilot directories are not cleaned. Some condor experts maybe would know better (cc @sfayer @andresailer).

[2022-02-21 09:08] andresailer commented on #5886
I would be very surprised, if condor were to re-use job-directories.
Can we get a full log file from the pilot? And the Configuration of the respective CE?

[2022-02-21 11:12] chrisburr commented on #5886
I think I know the cause of this. The initial installer from CVMFS is being killed and it's then falling-back to the HTTP download.

As for why the installer is killed, I suspect it's using many cores for compiling the `pyc` files and the batch system is agressively killing it. We can set `MAMBA_EXTRACT_THREADS=1` or `MAMBA_COMPILE_PYC=false` to prevent this.

[2022-02-21 12:22] arrabito commented on #5886
Thanks @chrisburr for these explanations.
Do you think that defining these variables using the --userEnvVariables pilot option should work or you want to set them in the installer?
I also attach for reference the full pilot out and the CE configuration.
<img width="258" alt="CE_CNAF config" src="https://user-images.githubusercontent.com/6996265/154954258-0bacf141-58a6-452d-99bd-4d2da3afd35d.png">

[2022-02-21 14:15] chrisburr commented on #5886
Now I've seen the full logs I can see my original guess was incorrect. While I debug, I'll rollback the change which I think triggered this (https://github.com/DIRACGrid/DIRACOS2/pull/65) and make a new DIRACOS2 release.

[2022-02-21 14:52] arrabito commented on #5886
Thanks a lot for the debugging and fix.
In principle no change is required on my side since new pilots will install the latest DIRACOS2 release, right?

[2022-02-21 15:28] chrisburr commented on #5886
@atsareg Can you trigger the cron job to update the DIRACOS2 installers on CVMFS?

Yup 👍

[2022-02-22 08:43] #5874 closed

[2022-02-22 11:54] DIRACGridBot opened #5890 "Sweep failed for PR docs: moved docs of ComputingElement to dirac.cfg example"
Sweep failed for PR docs: moved docs of ComputingElement to dirac.cfg example
See https://github.com/DIRACGrid/DIRAC/pull/5847

[2022-02-22 20:02] sfayer opened #5893 "ReplicateAndRegister Operation doesn't consider SourceSE in FTS3 Mode?"
Hi,

We've finally set-up our RMS system for data transfers with all of the FTS3 stuff in production and it's working quite well, however we've run in to one issue... An end user has submitted some ReplicateAndRegister tasks with about 50 files each but the RequestExecutingAgent is processing them _really_ slowly (the total throughput is far less than 1 request per minute, even with 32 threads in

[2022-02-23 08:58] #5890 closed

[2022-02-23 10:15] arrabito commented on #5886
Thanks, I confirm that pilots run well now.
This issue makes me realize however that we have no control on the DIRACOS2 version used by the pilots.
It would better in future if we could select the version to use to avoid these kinds of problems in production.
Thank you.

[2022-02-23 12:05] andresailer commented on #5893
The FTS3 transfer takes the sourceSE from the RMS object
https://github.com/DIRACGrid/DIRAC/blob/fa1fbc7300fbb50b6f63ad10908cf006f01c3d8d/src/DIRAC/DataManagementSystem/Client/FTS3Operation.py#L390

And this
https://github.com/DIRACGrid/DIRAC/blob/fa1fbc7300fbb50b6f63ad10908cf006f01c3d8d/src/DIRAC/DataManagementSystem/Client/FTS3Operation.py#L435-L437

Could  we get the dirac-rms-request output fo

[2022-02-23 12:59] #4566 closed

[2022-02-23 13:06] sfayer commented on #5893
Yes, that bit of code does work and ultimately the FTS job does use the requested sourceSEs. The problem is it contacting all of the other SEs that contain replicas as well in the ReplicateAndRegister filterReplicas function before it trims down the list later in the FTS3Operation.

Sure, I've included the full output for one of the requests at the end: In this case the FTS transfer bit has finish

[2022-02-23 13:27] andresailer commented on #5893
(I think the DM stuff goes via the same filterReplicas function, so it would also suffer from a slow SE?)

I can't think of a reason to not filter by sourceSE before going through that getMetadata though.
 @chaen ?

[2022-02-23 16:02] chrisburr commented on #5886
Ah ha! I've figured it out.

Your pilots don't have `$PATH` which means when `micromamba` looks for `bash` [here](https://github.com/mamba-org/mamba/blob/42f2cd88ba7e50d696dc6d7376a1cfa7d02315a2/libmamba/src/core/util.cpp#L1463-L1467) the lookup fails and defaults to an empty string [here](https://github.com/mamba-org/mamba/blob/master/libmamba/include/mamba/core/environment.hpp#L115-L139). This t

[2022-02-23 16:20] arrabito commented on #5886
Good if you have found the problem.
In case it helps, in the meanwhile I've launched a few jobs running your script and I've got:
[code]
and :
[code]

[2022-02-24 09:47] TaykYoku opened #5902 "dirac-login improvements"
From @chrisburr :
Then the message should explain that clearly. Also:

- Shouldn't there be a field to allow the user to explain who they are why they're joining?
- Is it going to be an option to defer the registration of users to what the IdP knows about rather than requiring two registrations?

[2022-02-24 09:47] TaykYoku commented on #5902
![](https://github.trello.services/images/mini-trello-icon.png) [Loggin In](https://trello.com/c/dNViTf96/37-loggin-in)

[2022-03-02 10:27] #5855 closed

[2022-03-02 16:53] rupozzi opened #5913 "ComponentMonitoring issues in DIRAC web app and ES"
ComponentMonitoring shows "empty" plots for most monitoring fields in the DIRAC web app (no data is shown but the values are detected).
The indices that are pushed to ES are missing most of the fields (only the fields detected are cycleDuration, cycles, ServiceResponseTime).
Either the fields are not detected by ES or are straight up not being sent (or being sent empty).

[2022-03-03 10:54] kosack opened #5915 "macOS incompatibility in GFAL2_StorageBase"
The following code causes a runtime error on macOS, where `errno.ECOMM` does not exist (it seems to be an architecture-dependent error code).  Error number 70, `errno.ECOMM` in linux,  is mapped to `errno.ESTALE` (stale NFS handle) on Darwin UNIX.

https://github.com/DIRACGrid/DIRAC/blob/3476d79c6c2ec439c90b0da733a80e889042596c/src/DIRAC/Resources/Storage/GFAL2_StorageBase.py#L1113-L1123

This cau

[2022-03-03 12:11] fstagni opened #5916 "1-to-1 mapping between DIRAC group and IdP group"
Discussed during [BiLD meeting of March 3rd 2022](https://indico.cern.ch/event/1130620/), and before in [BiLD meeting of 11/11/21](https://indico.cern.ch/event/1092190/) (see also [slides from 12](https://docs.google.com/presentation/d/1Cmn7nb7FSTPZkU2DC2tFYedmZEDm6ZCz_Gu7rTtELT0/edit#slide=id.gd869edefc8_0_166)) we agreed on moving to a configuration in which there is exactly a 1-to-1 relation be

[2022-03-03 12:58] chaen commented on #5915
Just to make things very clear: this is a trivial one, so I will do it, but I do not intend to put more than 4 seconds of effort into supporting MacOS

[2022-03-03 12:58] chrisburr commented on #5916
Ideally we should make this work in such a way that people can have multiple windows with different groups open at the same time. We'll have to dig into the current implementation to figure out which mechanisms can be used for this.

[2022-03-03 14:09] kosack commented on #5915
Thanks!   And remember that a large fraction of astrophysicists (who are now starting to use DIRAC) use macOS on their laptops, and macOS is a standard UNIX environment, so fixing problems with it can also lead to fewer bugs if the future for non-Linux or future Linux systems.  Fortunately, DIRAC already works well with macOS, for which I'm very thankful! It's nice not having to install a VM or ss

[2022-03-03 14:20] chaen commented on #5915
I must say I do appreciate how concise and precise your bug report was, so if the rest of your community does the same, (or even submit PRs ;-) ), no problem ! :-)

[2022-03-03 14:47] fstagni commented on #5915
Thanks! Case closed. It will be in the next release.

[2022-03-03 15:02] chaen commented on #5916
Although I did not follow all the discussions on that topic, I want to mention something to keep in mind

### DFC

We will for sure need to change the DFC security policy. At the moment, we can register files using `Vladimir:lhcb_mc` credentials, and move them using `Federico:lhcb_data` because these two groups share the same VOMS role. We have to be careful not to break that functionality.

### S

[2022-03-07 06:17] panta-123 opened #5920 "ElasticSearch index duplicate document"
I am using ElasticsearchDB for a extended component in DIRAC.
Elasticsearch version : 6.8.9
DIRAC version: v6r22
When I index document in elasticsearch using:
https://github.com/DIRACGrid/DIRAC/blob/rel-v6r22/Core/Utilities/ElasticSearchDB.py#L266
[code]
Its calling the API in https://github.com/DIRACGrid/DIRAC/blob/rel-v6r22/Core/Utilities/ElasticSearchDB.py#L281
[code]
I am indexing the doc with

[2022-03-07 10:27] fstagni commented on #5920
We have not changed this bit in later releases. I see no specific issues in adding the suggested parameter, would you create the Pull Request? Target `rel-v7r2` branch.

Notes:
- you are using a VERY old DIRAC release, completely un-supported. The oldest still supported release (not for long) is v7r2.
- We are dropping ES version 6 support as of DIRAC release 8.0 (which is in development).
- In ge

[2022-03-09 10:47] aldbr opened #5930 "MAMBA_ROOT_PREFIX: unbound variable"
The error is related to micromamba.
When I execute `install_site.sh`, I get the following error:

[code]

Seems like the `MAMBA_ROOT_PREFIX` should be set before calling the following line in `diracosrc`:

[code]

The following piece of code (weird by the way) seems to trigger the error (this is what we get from the command above):

[code]

This is also explained in the documentation at the end of

[2022-03-09 10:53] aldbr commented on #5930
Tagging @chrisburr as he is likely the best placed person to respond to this issue.

[2022-03-09 12:25] chrisburr commented on #5930
It should be the same as `$DIRACOS`, I'll fix the `diracosrc` script shortly.

[2022-03-09 20:03] chaen commented on #5877
Why did you close this one ? There are still some blobs, like in the RMS https://github.com/DIRACGrid/DIRAC/issues/5113

[2022-03-10 08:07] fstagni commented on #5877
I closed it because exactly because there's #5113 to remind us about the last BLOBs.

[2022-03-10 15:45] fstagni commented on #3081
Won't fix (moving to https we'll do differently anyway)

[2022-03-10 15:45] #3081 closed

[2022-03-15 08:39] DIRACGridBot opened #5949 "Sweep failed for PR Escape Time stamp in JobDB"
Sweep failed for PR Escape Time stamp in JobDB
See https://github.com/DIRACGrid/DIRAC/pull/5946

[2022-03-15 12:22] DIRACGridBot opened #5952 "Sweep failed for PR DFC allows to dump more than one SE at the time"
Sweep failed for PR DFC allows to dump more than one SE at the time
See https://github.com/DIRACGrid/DIRAC/pull/5924

[2022-03-15 16:30] #5952 closed

[2022-03-16 11:04] fstagni commented on #4912
I close this because, really, we don't so much want to keep maintaining the executor framework.

Change my mind!

[2022-03-16 11:04] #4912 closed

[2022-03-17 08:53] fstagni opened #5963 "Add possibility to specify a DIRACOS2 version in SystemAdministrator and Pilot."
We should be able to specify a DIRACOS2 version in SystemAdministrator and Pilot (and keep `latest` as default.

[2022-03-17 08:55] fstagni opened #5964 "Python 3.10 and tornado fork"
With py3/tornado, could we potentially get rid of our own tornado fork? Something to be tried out.

[2022-03-17 11:44] DIRACGridBot opened #5966 "Sweep failed for PR docs: added better docs for JobShare and priorities"
Sweep failed for PR docs: added better docs for JobShare and priorities
See https://github.com/DIRACGrid/DIRAC/pull/5928

[2022-03-18 00:17] sfayer opened #5968 "UTF-8 problems with job output (mostly on python2)"
Hi,

We're running v7r2p41 and we have two problems trigged by user jobs that generate UTF-8 characters in their output. We have two communities triggering these issues, so it seems it isn't a very isolated problem.

The first problem is a long log message in the pilot log generated by this line of code:
https://github.com/DIRACGrid/DIRAC/blob/336f5986a0adce9a053085192ad42f053b4555a3/src/DIRAC/Cor

[2022-03-18 10:08] chrisburr commented on #5968
How about modifying the message to be something like (working in both Python 2 and 3):

[code]

We can't modify the Python 2 `diracosrc` witout making a new DIRACOS 1 release which very unlikely. It could be added in the default bashrc from DIRAC install else I'm pretty sure the `SiteDirector` has an option to set environment variables.

I guess none of this applies to Python 3 releases? Though if

[2022-03-18 10:55] sfayer commented on #5968
Yes, that would halve the amount of text in the pilot log, although it's still a lot of entries if the user process is particularly noisy (one of our communities has a progress bar that's printed out every couple of seconds which contains a unicode character). It's the volume of logs generated that is the main issue here.

How about having a boolean so that the log message is only printed once for

[2022-03-18 11:06] chrisburr commented on #5968
Ah I hadn't realised the repetitiveness was an issue. Yes that seems reasonable (maybe keep the first N instances rather than a boolean).

Adding it to the bashrc generated by `dirac-install.py` should cover both v7r2 and v7r3. My bubble is biased to see the usage of Python 3 but I hope so too!

We see this occasionally in LHCb so it should partially work at the very least. (I suspect it's memory

[2022-03-18 11:34] fstagni commented on #5968
If you are going to modify the (py2) `dirac-install`, remember to do it both in the https://github.com/DIRACGrid/management and https://github.com/DIRACGrid/Pilot repositories.

[2022-03-18 11:55] sfayer commented on #5968
Thanks, sure, I'll submit the PRs within the next couple of days.

Regards,
Simon

[2022-03-18 14:16] #5966 closed

[2022-03-18 14:23] DIRACGridBot opened #5970 "Sweep failed for PR fix: update PoolCE.innerCESubmissionType from JobAgent"
Sweep failed for PR fix: update PoolCE.innerCESubmissionType from JobAgent
See https://github.com/DIRACGrid/DIRAC/pull/5959

[2022-03-21 17:35] DIRACGridBot opened #5976 "Sweep failed for PR MultiVO RucioFileCatalogClient + Agents"
Sweep failed for PR MultiVO RucioFileCatalogClient + Agents
See https://github.com/DIRACGrid/DIRAC/pull/5302

[2022-03-22 15:34] #5970 closed

[2022-03-22 15:34] #5976 closed

[2022-03-31 07:50] fstagni commented on #5699
Closing this, but might re-open if needed.

[2022-03-31 07:50] #5699 closed

[2022-03-31 15:48] DIRACGridBot opened #5992 "Sweep failed for PR dirac-wms-get-cpu-norm: support multi-core allocations"
Sweep failed for PR dirac-wms-get-cpu-norm: support multi-core allocations
See https://github.com/DIRACGrid/DIRAC/pull/5939

[2022-04-04 09:01] #5992 closed

[2022-04-06 11:14] DIRACGridBot opened #6003 "Sweep failed for PR fix: StalledJobAgent can force status from Submitting to Failed"
Sweep failed for PR fix: StalledJobAgent can force status from Submitting to Failed
See https://github.com/DIRACGrid/DIRAC/pull/5979

[2022-04-11 16:13] marianne013 opened #6014 "ComputingElement: Path not found warning"
We see this message for each of our CEs in the SiteDirector log.
[code]
coming from
https://github.com/DIRACGrid/DIRAC/blob/7859236ca8f81c83240fb37af2df60d100992925/src/DIRAC/Resources/Computing/ComputingElement.py#L126-L127

shouldn't that be ceType instead of ceName as the hostname specific options go into the Site ?

[2022-04-11 19:14] fstagni commented on #6014
I think you might be right. Care to make a fix?

[2022-04-12 16:57] #5913 closed

[2022-04-13 14:48] chaen opened #6019 "parseCommandLine vs initialize"
TL;DR;
=====

I'm lost as to what does what and what should I use.

Longer version
===========

I understand from https://github.com/DIRACGrid/DIRAC/pull/5713#issuecomment-1032924882  that if I write a simple dummy script, I just have to do

[code]

and I am good to go.
But I noticed that `initialize` does not load config files given as arguments (see below). So is there a bug ? Am I using it wron

[2022-04-13 15:56] chrisburr commented on #6019
This is intentional as when using DIRAC as a library it shouldn't be looking at what's passed on the command line. Imagine the use case of ganga, arguments like `--cfg` and `-d` are for ganga's own use. (This is imaging they hadn't resorted to their RPC due to DIRAC not working like a library.)

`initialize` should probably have arguments to make common tasks easy (logging level? cfg files? set th

[2022-04-13 16:16] chaen commented on #6019
OK, I am happy with that answer.
But all that clearly needs documenting.

[2022-04-20 12:01] marianne013 commented on #6014
I just tried to fix this, but it turns out ceType is not initialized in this bit of code. So this code can have never done anything (as ceName is also not an option).
Maybe we should just delete "/Resources/Computing/%s" % self.ceType and remove the loop and just keep /Resources/Computing/CEDefaults ?
That should keep the current behaviour, but get rid of the spurious error.

[2022-04-21 10:33] fstagni commented on #6014
`self.ceType` is initialized in the actual implementation of CE types, e.g. in ARCComputingElement.py

[2022-04-21 10:39] DIRACGridBot opened #6024 "Sweep failed for PR Fix previous fix in RMS"
Sweep failed for PR Fix previous fix in RMS
See https://github.com/DIRACGrid/DIRAC/pull/6020

[2022-04-21 11:10] sfayer commented on #6014
Hi,

We tried this out but it didn't work as expected... When the CE object is created by the SiteDirector at this point the self.ceType is still uninitialised/set to "" (i.e. an empty string). I think it's probably filled in by setParamaters later in the execution (it does certainly get set correctly at some point).

We played around with this a bit yesterday but didn't understand why this loop w

[2022-04-22 16:24] DIRACGridBot opened #6030 "Sweep failed for PR Allow rootPath override"
Sweep failed for PR Allow rootPath override
See https://github.com/DIRACGrid/DIRAC/pull/6011

[2022-04-25 15:46] fstagni commented on #6014
Fine for me!

[2022-04-26 07:40] #6030 closed

[2022-04-26 08:27] DIRACGridBot opened #6034 "Sweep failed for PR Added (renewed) jobs and pilot State Machines drawings"
Sweep failed for PR Added (renewed) jobs and pilot State Machines drawings
See https://github.com/DIRACGrid/DIRAC/pull/6010

[2022-04-26 08:47] #6024 closed

[2022-04-26 11:16] DIRACGridBot opened #6035 "Sweep failed for PR Implement time machine"
Sweep failed for PR Implement time machine
See https://github.com/DIRACGrid/DIRAC/pull/5809

[2022-04-26 12:30] DIRACGridBot opened #6036 "Sweep failed for PR fix: use correct environment for condor_rm"
Sweep failed for PR fix: use correct environment for condor_rm
See https://github.com/DIRACGrid/DIRAC/pull/6013

[2022-04-26 12:44] DIRACGridBot opened #6037 "Sweep failed for PR add CloudComputingElement"
Sweep failed for PR add CloudComputingElement
See https://github.com/DIRACGrid/DIRAC/pull/5988

[2022-04-26 13:03] #5968 closed

[2022-04-26 14:33] #6037 closed

[2022-04-26 15:05] aldbr opened #6042 "gLogger and external libraries: discrepancies"
Years ago I created two methods to enable/disable logs coming from external libraries (e.g. DB12).
But apparently I forgot to properly define the default case, which can create weird situations.

Here is an example:
- In the external app:
[code]
- In DIRAC:
[code]

- Situations:
  - `enableLogsFromExternalLibs` has been set:
[code]
  - `disableLogsFromExternalLibs` has been set:
[code]
  - **None

[2022-04-26 21:28] chaen commented on #6042
Naively I would go with disabling the external libs logging by default, and if the DIRAC log level, then we enable it

[2022-04-27 03:46] chrisburr commented on #6042
I presume this should be "if the DIRAC log level _is increased_".

If so, I agree for the CLI scripts and servers but when using DIRAC as a library it shouldn't interfere with other logging handlers at all (i.e. `DIRAC.initialize` vs `DIRACScript`).

[2022-04-27 07:23] chaen commented on #6042
Oops, I meant *if the DIRAC log level is debug*

Not sure how you would make the difference. For example:
https://github.com/DIRACGrid/DIRAC/blob/bf72397b576be7a12cbe6b9870f41ef7183668da/src/DIRAC/Resources/Storage/GFAL2_StorageBase.py#L79-L81

[2022-04-27 07:23] aldbr commented on #6042
Or may be he meant "if the DIRAC log level *is debug*"?

What about disabling the logs coming from external libraries for agents/services/CLI scripts unless the log level is `DEBUG` (or `VERBOSE`? In this case we explicitly enable it) and not configuring `logging` when DIRAC is used as a library as @chrisburr suggested?

[2022-04-27 07:27] chaen commented on #6042
but how would you manage that realistically ? The `logging` for the external library can only be configured where it is used (for example inside `GFAL2_StorageBase`) and at this stage, you lost the information about whether you are using it as a script or a library (unless we introduce a new global variable, like `DIRAC.RUN_AS_LIBRARY=True/False`, set by `initialize/parseCommandLine`

[2022-04-27 07:29] chaen commented on #6042
Moreover, I am not even sure I even agree with this statement.
As a user, if I have a script in which I do `import StorageElement; StorageElement('CERN-EOS').getFileSize()`, I do not want to see all the gfal2 mess

[2022-04-27 07:47] chrisburr commented on #6042
To give the reverse perspective, analysis productions and Ganga shouldn't have their logging high-jacked by DIRAC.

If gfal2 is loud when the default level is left at `WARN` then that's a bug in `gfal2`'s Python bindings.

[2022-04-27 08:05] aldbr commented on #6042
Why can it be only configured from where it is used?
I might be wrong, but we could set `enable/disableLogsFromExternalLibs()` from `LocalConfiguration` (for Agents and Services) and `Script` (for CLI Script) depending on `gLogger` level for instance (the same way we do with `gLogger.showHeaders()`).
Then, if one wants to use DIRAC as a library, it is not impacted by any modification of the root l

[2022-04-27 10:40] #6036 closed

[2022-04-28 06:19] #6035 closed

[2022-04-28 17:40] hmiyake opened #6053 "dirac-wms-cpu-normalization crashes with v7r3p20"
In our environment, our pilot always crashes with DIRAC v7r3p20 (python2) as follows:
[code]
With v7r3p19, using singleDiracBenchmark, our pilot successfully works.
I guess // is expected to use...am I correct?

[2022-04-29 07:11] aldbr commented on #6053
Indeed, `//` was expected.
I just created a PR to fix the issue.

[2022-04-29 10:01] fstagni opened #6058 "Proxies on worker nodes are only 1024 bits strong"
### Discussed in https://github.com/DIRACGrid/DIRAC/discussions/6027

<div type='discussions-op-text'>

<sup>Originally posted by **ernstpijper** April 22, 2022</sup>
Hi,

When I run dirac jobs, the proxies on the worker nodes are always 1024 bits in strength. Even when I start out with a 2048 bits proxy on the user interface from where I submit jobs. Somewhere in between, a proxy is created that

[2022-05-03 13:33] DIRACGridBot opened #6064 "Sweep failed for PR Don't crash if systemCall fails"
Sweep failed for PR Don't crash if systemCall fails
See https://github.com/DIRACGrid/DIRAC/pull/6045

[2022-05-03 14:33] #6064 closed, assigned to chrisburr

[2022-05-05 08:25] #6053 closed

[2022-05-09 08:37] iueda commented on #5916
Just jumping in... as suggested in the DUW session.

https://indico.cern.ch/event/1107386/contributions/4827828/
reads DIRAC groups == IdP scopes, rather than IdP groups as the subject suggests

With IAM, what is currently suggested/implemented is
VOMS roles == IAM optional groups

Then, this

suggests VOMS roles == IAM scopes

The above three do not seem consistent... I should read the above-ment

[2022-05-13 09:42] chaen opened #6074 "Singularity needs to mount local directory to use File storage plugin"
We have the possibility to define a File storage plugin to directly access files using posix file system.
However, when running singularity container, the local folder is not mounted.

Singularity needs to look at the list of local SEs, check if any has the File protocol enabled, and if so, mount it.
I can provide a utility the necessary directory but I would not know where to call it.

[2022-05-13 09:47] chrisburr commented on #6074
I presume these are always read-only? If so, on the singularity side it just needs `["--bind", f"{path}:{path}:ro"]` to be added to the new command for each path like this:

https://github.com/DIRACGrid/DIRAC/blob/7ff48a8793617ce3e111edc4e3ee4daa47e01e82/src/DIRAC/Resources/Computing/SingularityComputingElement.py#L400-L401

[2022-05-13 13:35] martynia opened #6077 "PilotLogger - How to identify pilots in an early submission state"
### Discussed in https://github.com/DIRACGrid/DIRAC/discussions/6075

<div type='discussions-op-text'>

<sup>Originally posted by **martynia** May 13, 2022</sup>
Hi,

In my work on remote pilot logging I identified the following problem:
  In the original extended (==remote) logger, which is now being removed, pilots were identified by a UUID. The UUID was created by ExtendedLogger and saved to a

[2022-05-19 07:54] #5920 closed

[2022-05-19 07:56] fstagni commented on #5282
I move this to v8.0 milestone only to remember to remove at some point the CloudDirector.

[2022-05-19 15:33] DIRACGridBot opened #6089 "Sweep failed for PR fix: use ceType instead of ceName for CE parameters version 2"
Sweep failed for PR fix: use ceType instead of ceName for CE parameters version 2
See https://github.com/DIRACGrid/DIRAC/pull/6079

[2022-05-20 09:03] martynia opened #6092 "MultiVOMetadata - build-in fields are also expanded with a VO specific suffix"
Build-in fields (like CreationDate) are also expanded here:

[(https://github.com/DIRACGrid/DIRAC/blob/6764f043334b7d90f28df8fa7b62e41e1cb835c9/src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryMetadata/MultiVODirectoryMetadata.py#L25)](https://github.com/DIRACGrid/DIRAC/blob/6764f043334b7d90f28df8fa7b62e41e1cb835c9/src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryMe

[2022-05-20 10:42] fstagni commented on #5250
Right now there's no issue, but could be re-open at any time.

[2022-05-20 10:42] #5250 closed

[2022-05-20 15:33] DIRACGridBot opened #6093 "Sweep failed for PR added op_type option in elasticsearch options"
Sweep failed for PR added op_type option in elasticsearch options
See https://github.com/DIRACGrid/DIRAC/pull/6067

[2022-05-23 06:20] #6093 closed

[2022-05-23 11:16] marianne013 opened #6096 "misleading error message (i.e. not an error)"
I'm minding my own business doing some debugging and I am running the multivo test scrips against https://lbcertifdirac70.cern.ch
and I get the error below:

[code]
It then happily goes on to make my proxy.
Why is it looking for a proxy in a command that is meant to create one ?

[2022-05-23 12:51] marianne013 opened #6097 "[integration] Cannot kill or delete jobs from webinterface"
I'm trying to delete a job of mine on https://lbcertifdirac70.cern.ch via the web interface, but I get the error:
Error: You are nonauthorized to delete jobs with JobID: [4769]
I checked and I am assigned to the  dirac_admin group in the web browser.

[2022-05-23 14:38] #6089 closed, assigned to marianne013

[2022-05-25 13:51] marianne013 opened #6116 "JobAgent polling time delays"
Background: We've been trying to work out why the JobAgent would take an increasing amount of time per cycle.
Looking at the pilot log of a completed job (htcondorce://ceprod02.grid.hep.ph.ic.ac.uk/378819.0 on the certification server) we see that in every cycle more of the errors below start showing up and each cycle is 4 min longer than the previous one, so even with 'only' 5 cycles in fill mode

[2022-05-25 15:18] marianne013 commented on #4548
This was actually fixed by Andrei in #5211

[2022-05-25 15:18] #4548 closed

[2022-05-25 19:34] DIRACGridBot opened #6119 "Sweep failed for PR fix: don't truncate first char in cli doc strings"
Sweep failed for PR fix: don't truncate first char in cli doc strings
See https://github.com/DIRACGrid/DIRAC/pull/6118

[2022-05-26 16:16] marianne013 commented on #6116
@fstagni  I think the monitoring error is a red herring. I just upgraded the pilot version on one of our preprod servers from v7.3.12 to v7.3.22 and the problem (increasing amount per cycle, up to 1200 s) has started appearing, but without the dirac.monitoring error. I don't think it was present in  v7.3.12, but I haven't run conclusive tests yet.

[2022-05-27 19:34] TaykYoku commented on #6096
Hi @marianne013, I'm having trouble adding my certificate to gridpp, so I can't repeat this error. Can you please run:
[code]

[2022-05-30 07:53] fstagni commented on #6116
The change in JobAgent that you mention was done in https://github.com/DIRACGrid/DIRAC/pull/5957 and IIRC connected to this change in Pilot: https://github.com/DIRACGrid/Pilot/pull/151/files where, in the case of PoolCE, the PollingTime is set to 20 seconds.

I think the issue is actually this:

Which is a strategy that works well for the case when all the following are met:
- the pilots are "disp

[2022-05-30 07:58] #6119 closed

[2022-05-30 12:42] marianne013 commented on #6096
I don't think it's gridpp related. I just ran the command three times one after another with three different results, maybe the server is upset ?
[code]

[2022-05-30 14:01] DIRACGridBot opened #6125 "Sweep failed for PR Fixes for tornado logging"
Sweep failed for PR Fixes for tornado logging
See https://github.com/DIRACGrid/DIRAC/pull/6123

[2022-06-01 08:53] chaen opened #6131 "[integration][critical] RuntimeError: There is no current event loop in thread 'asyncio_0'."
Something changed between v7r3 and v8.0 in the way tornado is ran as a new error starts showing up.
I thought it was only an artifact of a strange test (https://github.com/DIRACGrid/DIRAC/pull/6122) but I have now seen it in the logs of the LHCb certification.
So clearly something is wrong.

[code]

[2022-06-01 10:53] #6125 closed

[2022-06-03 13:52] chaen commented on #6074
Actually I am just thinking of a use case where this does not work: the case where SRM returns us the `file` protocol. And we unfortunately can't always replace it with the `File` plugin (this is the case at CNAF for the moment).
So two options:
* We have a list of mountpoint in the CE configuration (not incompatible with discovering them automatically btw)
* We look at the mountpoints on the work

[2022-06-07 04:09] TaykYoku commented on #6096
Hi, I found the reason that when running the script, before creating the proxy certificate, there is an attempt to synchronize with the configuration configured by TornadoClient. In the next PR(#6138), I turned off syncing until a proxy was created.

[2022-06-07 04:24] TaykYoku commented on #6097
It looks like this issue has a common reason with https://github.com/DIRACGrid/WebAppDIRAC/issues/653

[2022-06-07 14:18] chrisburr opened #6143 "CVMFS based pilots fail to start when running with integration"
The `AgentModule` class no longer respects `/LocalSite/InstancePath` as of

https://github.com/DIRACGrid/DIRAC/commit/679707f05bf32d314601748de286fd7ed61d842a#diff-b08f851b9fd42412b4647809ce6c240334ef493ad81b1c957c5e1be1ab32da94

This then results failing pilots with tracebacks like:

[code]

[2022-06-09 07:29] fstagni commented on #6097
Then I close this task to avoid duplications (it is linked anyway)

[2022-06-09 07:29] #6097 closed

[2022-06-09 07:41] fstagni commented on #6014
Finally (?) closing

[2022-06-09 07:41] #6014 closed

[2022-06-09 08:44] chaen commented on #6131
https://github.com/DIRACGrid/DIRAC/blob/f340453beac44bc77cfc2f3d7a1efc9debe3ef0e/src/DIRAC/WorkloadManagementSystem/Service/JobManagerHandler.py#L15

[2022-06-09 19:48] TaykYoku commented on #6131
I firmly believe that this is a common problem with non-main threads, such as https://github.com/tornadoweb/tornado/issues/2531. I believe that #6149 should fix this.

[2022-06-10 06:01] chrisburr commented on #6131
@TaykYoku Do you know if this fixes this issue or is it an educated guess?

[2022-06-10 09:46] TaykYoku commented on #6131
Hi @chrisburr

This is a conclusion from the context of the error, I encountered this error before and enabling the **AnyThreadEventLoopPolicy** _asyncio_ policy corrected the situation, as the essence of the IIUC situation is as follows:
pice of code that applies the AnyThreadEventLoopPolicy policy is ignored when the server starts and the _asyncio_ library uses the default policy. Then at the co

[2022-06-10 13:29] marianne013 opened #6150 "vomsdir/vomses permission check fails when using cvmfs directories"
When testing a python3 UI on cvmfs I run into a problem when using
/cvmfs/grid.cern.ch/etc/grid-security/vomses (permissions: 775)
and similar locations for my X509 variables
This is caused by
https://github.com/DIRACGrid/DIRAC/blob/f340453beac44bc77cfc2f3d7a1efc9debe3ef0e/src/DIRAC/Core/Security/VOMS.py#L238
which seems to expect the permissions to be 755
It then triggers the shutil bug mentioned

[2022-06-10 14:08] chrisburr commented on #6150
I thought this had been fixed https://github.com/DIRACGrid/DIRAC/pull/5158/files with the workaround. Can you share exactly what error your seeing and how?

I don't know why you're asking me, I was still a child in school when this was written 😆 https://github.com/DIRACGrid/DIRAC/commit/f2b08c2f4439baf18ac1176269566bbd561fe689

[2022-06-10 14:42] marianne013 commented on #6150
I can't reproduce it on the lxplus. But I see a fundamental difference just by using shutil:
On lxplus:
[code]

On my local system (v7r3, but that shouldn't matter):
[code]
Note that /tmp isn't full, the error is misleading.
When running this with strace we see:
[code]
on our machine, while on lxplus it never looks for xattrs.

The other issue is that it should not try to copy these directories in

[2022-06-10 14:56] chrisburr commented on #6150
IIRC several tools refuse to use the files if the permissions are too relaxed.

[2022-06-10 16:47] marianne013 commented on #6150
As far as I am aware (and we've been using these directories off cvmfs for years) this does not apply to the voms* dirs. The only point where this is an issue is the proxy and your certificate key. At least in my tests, when I just change this function to bypass the checks, nothing breaks.

[2022-06-10 17:33] TaykYoku commented on #6019
As I known some documentation already exist:

RTD:
https://dirac.readthedocs.io/en/integration/DeveloperGuide/AddingNewComponents/DevelopingServices/index.html
Wiki:
https://github.com/DIRACGrid/DIRAC/wiki/DIRAC-8.0#deprecated

Need to add something else?

[2022-06-13 08:42] #6131 closed

[2022-06-13 10:14] marianne013 commented on #6150
Do I see this correctly and this is a bit of legacy code and no-one actually knows what it's meant to be doing ?
Simon got it to work locally by changing something in our cvmfs config (after muttering something about "poor choice of xattr by cvmfs developers"), but I still think it's testing for something that is not required.

[2022-06-13 15:10] DIRACGridBot opened #6156 "Sweep failed for PR fix: use the JobMonitoringClient to check for job parameters (that ca…"
Sweep failed for PR fix: use the JobMonitoringClient to check for job parameters (that ca…
See https://github.com/DIRACGrid/DIRAC/pull/6133

[2022-06-13 15:16] #5113 closed

[2022-06-14 06:30] #6096 closed

[2022-06-15 04:35] zhangxiaomei opened #6163 "python3 support in cloudBootstrap"
The current version of CloudBootstrap can't support python3.  If need to support python3,  I found the following to be added in cloudBootstrap:
(1) Cloudinit parameters need to import the parameter pythonVersion
(2) In the file "vm-bootstrap-functions", vm_dirac_install() need to add python3 DIRAC install
(3) In the file "vm-pilot", dirac-pilot need to have an option to provide pythonVersion
(4) d

[2022-06-15 07:07] #6156 closed

[2022-06-16 06:12] DIRACGridBot opened #6166 "Sweep failed for PR replaced old vomses/vomsdir code to be able to handle cvmfs vomses"
Sweep failed for PR replaced old vomses/vomsdir code to be able to handle cvmfs vomses
See https://github.com/DIRACGrid/DIRAC/pull/6155

[2022-06-16 10:22] sfayer commented on #6163
Hi,

We're not really supporting the CloudBootstrap scripts any more. If you would like to patch them to work with python3 then I'm sure that would be accepted, otherwise I suggest switching to the cloud-init based contextualisation (`Operations/<setup>/Cloud/BootType = cloudinit`) instead, which does support python3. I'm not sure there is any complete documentation for this, but it's this code pa

[2022-06-16 16:33] DIRACGridBot opened #6171 "Sweep failed for PR feat: add option to automatically cancel Scheduled requests"
Sweep failed for PR feat: add option to automatically cancel Scheduled requests
See https://github.com/DIRACGrid/DIRAC/pull/6148

[2022-06-16 17:13] fstagni commented on #6143
This is because in the pilot we set the cfg option `/LocalSite/InstancePath` as the "working directory", which is something like /pool/condor/dir_8273/DIRAC_bs1w3dcdpilot.

I will think at a solution, with the easiest being to simply restore this cfg option.

[2022-06-17 06:35] zhangxiaomei commented on #6163
Thank you for the suggestion.  In my case, it is working with cloudBootstrap after fixed.  When I  directly changed to the cloudinit mode (Operations/<setup>/Cloud/BootType = cloudinit), it failed and I even failed to login VMs to have a look with previous password. Is there any documents to understand how to write my own cloudinit from cloudinit.template, or need some different configurations to

[2022-06-17 07:04] #6171 closed

[2022-06-17 08:30] #6166 closed

[2022-06-17 08:44] #6143 closed

[2022-06-20 15:57] marianne013 commented on #6092
@fstagni et al:
Is there a list of all the built-in fields ?

[2022-06-20 16:07] andresailer commented on #6092
https://github.com/DIRACGrid/DIRAC/blob/6764f043334b7d90f28df8fa7b62e41e1cb835c9/src/DIRAC/DataManagementSystem/Client/MetaQuery.py#L15-L31

Not sure if this is the same for the directory metadata

[2022-06-20 16:33] martynia commented on #6092
Let me look into this tonight.
JM

On Mon, 20 Jun 2022 at 18:10, Daniela Bauer ***@***.***>
wrote:

[2022-06-22 13:27] DIRACGridBot opened #6186 "Sweep failed for PR feat (resources): introduce a new way to submit pilots from ARC"
Sweep failed for PR feat (resources): introduce a new way to submit pilots from ARC
See https://github.com/DIRACGrid/DIRAC/pull/6183

[2022-06-23 10:29] #6186 closed

[2022-06-24 07:32] zhangxiaomei commented on #6163
I didn't use SSH key since the cloud we connected is in remote and we can only login in with control console from web page.  From the control console the only way I get in is to use user/passwd.  Any suggestions?

[2022-06-24 11:03] sfayer commented on #6163
Hi,

Can you please try copying the `Resources/Cloud/cloudinit.template` to a different name and set `CITemplate` in your cloud resource settings to contain the full path to the new file.

You can then edit the template to add a user with a password, something like:
[code]
The full documentation for the user section is here:
https://cloudinit.readthedocs.io/en/latest/topics/modules.html#users-and-

[2022-06-27 09:21] fstagni commented on #6058
Merged in 8.0 https://github.com/DIRACGrid/DIRAC/pull/6188

[2022-06-27 09:21] #6058 closed

[2022-06-28 06:40] fstagni commented on #6092
Was this fixed at the end?

[2022-06-28 06:44] martynia commented on #6092
Yes. In #6180

[2022-06-28 06:47] fstagni commented on #4623
Just linking a few things here:
- actual test in https://github.com/DIRACGrid/DIRAC/discussions/6121, using a DIRAC v8.0 server (would have worked the same with a v7.3 server properly configured)
- for a "no client" solution, need to wait for v8.1 and https://github.com/DIRACGrid/DIRAC/pull/6164

[2022-06-28 07:05] #6092 closed

[2022-06-28 08:57] DIRACGridBot opened #6212 "Sweep failed for PR fix: ARC6 CE issues"
Sweep failed for PR fix: ARC6 CE issues
See https://github.com/DIRACGrid/DIRAC/pull/6211

[2022-06-28 14:56] #6212 closed

[2022-06-30 06:25] DIRACGridBot opened #6226 "Sweep failed for PR Make tmpdir for local cache instead of using CWD when replicating"
Sweep failed for PR Make tmpdir for local cache instead of using CWD when replicating
See https://github.com/DIRACGrid/DIRAC/pull/6224

[2022-06-30 09:27] zhangxiaomei opened #6229 "root directory in DFC is not protected even with FullSecurityManager"
Our DFC is configured with "FullSecurityManager" and dirac_admin is given the right to manage. All the directories under /juno are in good control, but some new users are still able to create their own directories directly under root directory.

[2022-07-01 07:14] zhangxiaomei commented on #6163
Sorry to reply late!  The clouds we used are two private cloud inside institutes and haven't enabled the floating IP.
I just have a try today with the new cloudinit.template adding:
users:
4647  - name: dirac
4648    sudo: ALL=(ALL) NOPASSWD:ALL
4649    shell: /bin/bash
4650    plain_text_passwd: xxxxxxxx
But in the log, I found the error of creating vms:
"4654 2022-07-01 06:51:14 UTC WorkloadMana

[2022-07-01 08:58] sfayer commented on #6163
The "Maximum number of ports exceeded" usually means you've reached the neutron port quota limit on the cloud... You can check the current value and maximum on the OpenStack dashboard overview page. (It's not related to the cloud-init stuff, that happens much later in the boot process).

Regards,
Simon

[2022-07-01 14:02] zhangxiaomei commented on #6163
You are right.  I can't create VMs from the dashboard because of the same problem.  But the overview page said only 1/3 ports was used.  I contacted the cloud admin and retried later.

[2022-07-06 10:12] #6226 closed

[2022-07-06 14:40] chaen commented on #5250
`rucio-clients-1.29.0rc1` results in failing test.
So, can we finally make this dependency optional ? Or at least not take release candidates ?!

[2022-07-06 14:41] marianne013 commented on #5250
Simon has already fixed it:
https://github.com/rucio/rucio/issues/5704
Now go back to changing some nappies, all of you.

[2022-07-07 06:27] DIRACGridBot opened #6243 "Sweep failed for PR feat (logging): add an stdout Backend with json formatting"
Sweep failed for PR feat (logging): add an stdout Backend with json formatting
See https://github.com/DIRACGrid/DIRAC/pull/6237

[2022-07-07 06:45] zhangxiaomei commented on #6163
VMs are created, but cloudinit has problems. I try to understand the problem. Here is the screenshot from control console.
![image](https://user-images.githubusercontent.com/1860588/177709134-a05cf03c-9e7e-444f-bcc3-5116f88f452f.png)

[2022-07-07 08:32] sfayer commented on #6163
OK, that's looking a bit promising... It's mainly having trouble with the dirac user permissions: I think what's happening is that your extra user with the password set for debugging is called dirac, but the cloud pilot start-up also tries to create the dirac user, so two things happen:
 * The script expects the home directory to be in /mnt, but as the user already exists this doesn't get created

[2022-07-07 08:58] zhangxiaomei commented on #6163
I add "- [ chown, -R, "dirac:dirac", /mnt/dirac]" and am able to use another user instead of "dirac" to login. I am able to see the pilots start to run, but look like having problems to find dirac.cfg under diracos:
![image](https://user-images.githubusercontent.com/1860588/177733999-d86b2866-3f83-414d-8d80-888517ec730d.png)

[2022-07-07 09:10] chrisburr opened #6245 "GET requests to AuthHandler are not processed"
Now that https://github.com/DIRACGrid/DIRAC/pull/6128 has been merged the `TornadoREST` class no longer supports handling HTTP `GET` requests.

The only affected class is `AuthHandler` for handling OAuth logins so the only affected installation is https://lbcertifdiracoauth.cern.ch/

Ideally we should come up with a good plan with how to have "modern" HTTP REST services in DIRAC though the require

[2022-07-07 09:34] sfayer commented on #6163
OK, that's looking close to working...

Do you have a queue defined in your DIRAC Configuration system for this site? The thing it's looking for is:

`/Resources/Sites/CLOUD/CLOUD.INFN-PADOVANA.it/CEs/cloud-areapd.pd.infn.it/Queues/Cloud`

(If that doesn't exist, it falls through to looking for VMTypes and things, but it's better to do it in the standard non-VMDIRAC way as it's then easier to swit

[2022-07-07 09:51] zhangxiaomei commented on #6163
Yes, I have also realized that.  My configuration is really a little bit not mapping with your description:
![image](https://user-images.githubusercontent.com/1860588/177745268-a275e94f-964c-4749-a9c4-7a1b6d52af31.png)

Now I fixed "cloud-areapd.pd.infn.it" to "Cloud", and it is working with the command:
(base) -bash-4.2$ dirac-resource-get-parameters -S CLOUD.INFN-PADOVANA.it -N cloud-areapd.pd.i

[2022-07-07 10:24] zhangxiaomei commented on #6163
With the above configuration,  I can't see the queue for this cloud in RSS and only see the queue "Cloud" for all the cloud.  It must be something wrong with it.

[2022-07-07 12:14] atsareg commented on #6245
We have to proceed with lots of tests of the OAuth related functionality which are now completely blocked by merging #6128. While this is solving the problem of extensions the other stuff is also very important. I think we have to add a quick fix proposed by Andrii which solves the extension problem without breaking the OAuth even despite it is deemed "fragile". Then a better solution can be still

[2022-07-07 16:08] TaykYoku commented on #6245
@chrisburr Thank you for creating this issue.

#6128 PR was merged ignoring my warning and without my approvement. The problem described here is expected and I described it in [comment](https://github.com/DIRACGrid/DIRAC/pull/6128#discussion_r889486911).
I think that the most simple and reasonable solution is to cancel #6128 PR, this will remove restrictions on the use of `GET` methods and unlock

[2022-07-08 03:03] zhangxiaomei commented on #6163
getVMTypes() looks fine:
'VMTypes': {'WN-CentOS78-NEW2-DIRAC': {'Image': 'WN-CentOS78-NEW2-DIRAC', 'ImageName': 'WN-CentOS78-NEW2-DIRAC', 'FlavorName': '1-4-40', 'VO': 'juno, bes, cepc', 'Platform': 'x86_64_CentOS_Core_7.9'}

[2022-07-08 04:48] zhangxiaomei commented on #6163
Not quite understand in CloudEndpoint.py the VMType was assigned to CEType:
CloudEndpoint.py:        self.parameters["VMType"] = self.parameters.get("CEType", "OpenStack")

[2022-07-08 06:43] zhangxiaomei commented on #6163
I modified " -Q "%(vmtype)s" " in cloudinit.template to be  "-Q "%(image-name)s" " (in bootype=pilot, use image-name instead of vmtype for queue name),  VMs now can work with the original queue name.

[2022-07-08 07:10] chrisburr commented on #6245
Apologies I was unaware of this. From the BiLD meeting reports I thought the EGI installation was still running v7r3 with Python 2?

The fact the CI still passes despite such an apparently critial feature being broken is a serious issue that should be addressed. Major new functionality should have good test coverage and https://github.com/DIRACGrid/DIRAC/pull/6128 would never have been merged if t

[2022-07-08 08:23] zhangxiaomei commented on #6163
The problem with RSS was also found. It is caused by the wrong configuration: the section "CEs" should be in parallel with "Cloud".

[2022-07-08 08:40] atsareg commented on #6245
If I understand correctly, #6128 prevents classes derived from TornadoREST to implement methods that potentially can conflict with methods provided by tornado. The latter provides some methods with the `get_` prefix but with some well defined method name. So, if TornadoREST derived classes do not implement methods with exactly the same full name as the tornado one, then there is no conflict possib

[2022-07-10 06:43] zhangxiaomei commented on #6229
Ok. thanks.

[2022-07-12 15:52] sfayer opened #6260 "Queue specific XRSLExtraString?"
Hi,

Is is possible to set the XRSLExtraString at the queue level, e.g. for specifying a high memory queue or one that asks for a GPU on a CE that also has a general queue? The documentation seems to imply this isn't possible:

https://github.com/DIRACGrid/DIRAC/blob/ab13ec3615fad7e45e126cb4c8d67aab51927277/src/DIRAC/Resources/Computing/ARCComputingElement.py#L151-L154

This search order also seem

[2022-07-14 08:23] chrisburr opened #6264 "[v7r3] Rucio integration is broken with Python 2"
Since v7r3 the rucio integration uses the `default_extract` keyword argument with `extract_scope` however this was added in `ruico-clients` 1.27. This is fine except DIRACOS contains 1.26 so the option isn't available.

I've added a hack in #6262 (8a5623aa2) to get the CI passing again however this needs to be reverted and the underling issue fixed.

[2022-07-14 08:29] #6245 closed

[2022-07-15 12:06] #6243 closed

[2022-07-15 14:20] chrisburr opened #6269 "Proxy generation fails with Python 3.10 if `--strength 2048` isn't passed"
This is caused by the default [OpenSSL security level](https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_set_security_level.html#DEFAULT-CALLBACK-BEHAVIOUR) in Python 3.10 being increased to 2 (see https://github.com/python/cpython/issues/88164).

[code]

[code]

[2022-07-18 08:38] #6229 closed, assigned to nobody

[2022-07-18 08:40] chrisburr commented on #6074
The manual case is addressed by having a Site and CE specific `ContainerBind` parameter (https://github.com/DIRACGrid/DIRAC/pull/6252).

[2022-07-20 14:14] DIRACGridBot opened #6272 "Sweep failed for PR Update link to install.cfg for Python3"
Sweep failed for PR Update link to install.cfg for Python3
See https://github.com/DIRACGrid/DIRAC/pull/6270

[2022-07-20 16:04] chrisburr commented on #6272
This should have targetted v7r3 (or possibly fixed the URL to be the right branch).

I'll fix it tomorrow.

[2022-07-21 08:39] marianne013 opened #6273 "python3 version of v7r3p25 not commited properly"
I'm trying to install v7.3.25 from git, but it isn't having it. The python2 version looks fine:

https://github.com/DIRACGrid/DIRAC/tree/v7r3p25 -> Commit 68303d3 -> All fine
https://github.com/DIRACGrid/DIRAC/tree/v7.3.25 -> Commit 22a06a2 -> Yellow
warning bar: Commit isn't in repo, it'll work on github but not any client.

@atsareg Could you please have a look ?
@sfayer FYI

[2022-07-21 09:13] chrisburr commented on #6273
It looks like v7.3.25 is basically the same as v7.3.24 (which also explains why some bugs I expected to be fixed weren't).

I can't see the GitHub security logging for DIRACGrid but from the CI log it looks like `v7r3p25` was originally tagged as 22a06a2 and then deleted. As mentioned on many occasions in the past, we should never retag commits as the CI cannot handle it (and even if it could PyPI

[2022-07-21 11:14] chrisburr commented on #6273
Actually the code on PyPI is what is expected to be there as the deployment CI for https://github.com/DIRACGrid/DIRAC/commit/22a06a25442014fbd0a7ff759829f88984b00c49 [failed due to a conflict with the tag](https://github.com/DIRACGrid/DIRAC/runs/7387653786?check_suite_focus=true) so it's only the v7.3.25 tag which is in an inconsistent state. Regardless it still shouldn't be changed as it affects

[2022-07-22 15:38] atsareg commented on #6273
I can not think of retagging the v7r3p25, but may be I did something wrong. I have tagged and created a new v7.3.26 release with the latest merges. Sorry for the mess

[2022-07-25 12:44] fstagni commented on #6260
I made similar comment in https://github.com/DIRACGrid/DIRAC/pull/5542#discussion_r885573160 but no answer.

[2022-07-28 15:21] DIRACGridBot opened #6280 "Sweep failed for PR [DOC]Use full path to install.cfg"
Sweep failed for PR [DOC]Use full path to install.cfg
See https://github.com/DIRACGrid/DIRAC/pull/6271

[2022-08-02 08:19] #6273 closed

[2022-08-03 11:40] sfayer commented on #6260
Adding @rajanandakumar to this ticket.
I agree that it should be as simple as looking it up in self.ceParameters across all of the ARC CE versions (and updating any associated documentation / release notes for people who already have it set).
Perhaps this could be discussed at the next BiLD meeting?

Regards,
Simon

[2022-08-04 08:04] chrisburr commented on #6269
After discussing with @chaen we think we should:

* Set security level to 1 in v7.3 and v8.0
* Change default strength to 2048 in v8.0
* After a year of running with the new default we can think about increasing the security level back to 2

We'll do some tests in a hybrid mode in today's hackathon.

[2022-08-04 08:07] chrisburr commented on #6269
Fixes for 2048 bit proxies were added in https://github.com/DIRACGrid/DIRAC/pull/6188/files

[2022-08-05 07:50] chrisburr opened #6290 "Avoid logging sensitive information"
Currently it's possible for sensitive information to be accidentally logged in various places such SQL queries:

[code]

This mostly affects debug logging so it's rare to be running, though as we move to more centralised logging it would be good to minimise the risk of leaks.

From searching online it the solution I've found is to use a custom logging formatter which can then remove patterns like

[2022-08-05 12:18] chaen opened #6292 "[Monitoring] Non sensical information in DataOperation"
Since I start stumbling onto too many problems for me to keep track, I'll create issues...

The monitoring contains entries like

[code]

This makes no sense whatsoever. A transfer from RAL-SE to Imperial using FTS3 CANNOT have PIC as `ExecutionSite`

[2022-08-05 12:36] chaen commented on #6292
Found out why:
somebody edited by hand the `dirac.cfg` of the certification instance and wrote non-sense

[2022-08-05 12:36] #6292 closed

[2022-08-08 15:46] marianne013 opened #6296 "v7.3.26 TransformationManager: "Show Details" fails"
While trying to work out why my replication transformation isn't replicating anything I clicked on "Show Details" on the transformation in the WebInterface, but all it did was produce the following error in the log. (I doubt it would have the information I am looking for, but it's returning an S_ERROR which probably means it should exist. )
Any idea what happened here ? I'm using something a sligh

[2022-08-08 16:49] andresailer commented on #6296
There simply isn't anything that sets the "DetailedInfo" parameter for these transformations.

[2022-08-08 16:52] marianne013 commented on #6296
Maybe a default "No detailed information available" as a message might be better, initially I though I just hadn't clicked on it properly.

[2022-08-09 11:40] andresailer commented on #6296
It should return that?

https://github.com/DIRACGrid/WebAppDIRAC/blob/f131bacf5e313599160e015ebd28d6782e269e4b/src/WebAppDIRAC/WebApp/handler/TransformationMonitorHandler.py#L307

But yeah, it doesn't

[2022-08-11 08:34] DIRACGridBot opened #6306 "Sweep failed for PR Don't notify users with expired proxies"
Sweep failed for PR Don't notify users with expired proxies
See https://github.com/DIRACGrid/DIRAC/pull/6305

[2022-08-11 11:57] sfayer opened #6308 "Nested PoolCE / SingularityCE Issues (Job 0 has no specified executable)"
Hi,

I'm trying to set-up nested Pool/Singularity pilots on a cloud (CloudCE submission) but the user jobs fail to run: They stick in the "Submitted to CE" state and eventually get rescheduled.

I did some digging through the logs and I found that the Singularity side of things is getting a JobID of 0 and no job details, so it fails with this as the inner-most error:
[code]
I spent some time addin

[2022-08-11 12:00] sfayer commented on #6308
Ah, I forgot to say, this is on 7.3.26!

[2022-08-15 08:26] #6306 closed

[2022-08-15 08:44] chrisburr opened #6315 "Making use of Python typing"
Now that DIRAC is Python 3 only we can think about making use of Python's typing fuctionality. This was added in Python 3.5 however over the past few years it has grown to be really powerful and is even capable of understanding DIRAC's `S_OK`/`S_ERROR` convention (#6309).

A few ideas:

- [x] Add CI to run `mypy` (waiting for a release with generic TypedDict support https://github.com/python/mypy/

[2022-08-15 13:34] fstagni commented on #6308
I see nothing wrong with your proposed patch. Go ahead!

[2022-08-16 09:39] chrisburr opened #6322 "Replacing unmaintained suds-jurko package"
### Some background

The `suds-jurko` package used by DIRAC was a fork of the original `suds` package. At some point `suds-jurko` stopped being maintained and now `suds-community` has been created. The `suds-community` package has now gained access to the original `suds` name on PyPI are currently releasing under both names. When `suds 2.0.0` is released they intend to stop using `suds-community`

[2022-08-16 14:40] #6322 closed

[2022-08-17 06:44] chrisburr opened #6332 "Remove `CPU(MHz)` and `CacheSize(kB)` job parameters"
_Originally posted by @chrisburr in https://github.com/DIRACGrid/DIRAC/pull/6330#discussion_r947500336_

[2022-08-17 12:58] fstagni commented on #6315
If we do down this way, should we consider running https://github.com/Instagram/MonkeyType or https://github.com/dropbox/pyannotate?

[2022-08-18 05:32] chrisburr commented on #6315
I hadn't considered that would even be a possibility. For bits with non-trivial DIRAC semantics (`S_OK`/`S_ERROR`/`CFG`/`executeRPC`/`dict`) we'll need hand crafted types (like https://github.com/DIRACGrid/DIRAC/pull/6309) but for the long tail of "easy" cases that looks like a good idea. Once `mypy` is updated (eta late August) and we have CI for it I'll take a look.

There is also the option of

[2022-08-18 07:55] #6308 closed

[2022-08-18 07:57] fstagni commented on #6163
Hello, updates on this? Is your setup working now or there's still an issue?

[2022-08-18 08:00] fstagni commented on #4744
Is the above mentioned PR (which is merged) enough to close this issue?

[2022-08-18 08:28] andresailer commented on #4664
Obviously not urgent, I'll just try something eventually.

[2022-08-18 08:36] chaen commented on #4744
nop :(

[2022-08-18 08:47] cserf commented on #6264
Just noticed this ticket. It looks like this `default_extract` was introduced in https://github.com/rucio/rucio/commit/1c2c8e4292ae2a67e9f6d64d56a5657c7813dfbe by @martynia
Can we update to use `1.27.x` ?

[2022-08-18 09:20] chrisburr commented on #6264
DIRACOS v1.x (i.e. the only supported way of using DIRAC with Python 2) is now archived and is unlikly to be revived for an update. If anyone wants DIRAC + Python 2 + Rucio to work they'll need to find another solution (or try to revive DIRACOS 1 themselves).

[2022-08-18 09:50] chrisburr commented on #6264
During the BiLD everyone was happy for this to only work with Python 3 so closing.

[2022-08-18 09:50] #6264 closed

[2022-08-18 11:55] #6272 closed

[2022-08-18 11:55] #6280 closed

[2022-08-18 14:26] #6332 closed

[2022-08-19 07:37] #6019 closed

[2022-08-29 08:37] zhangxiaomei commented on #6163
@sfayer  It is fully working with CloudDirector? Do I need to continue migrating to CloudCE?
Another thing, in my case,  in cloudinit.template,  we work only with -Q "%(image-name)s"  instead of -Q "%(vmtype)s" :
  python dirac-pilot.py \
          --pythonVersion=3 \
          --setup %(setup)s \
          -r %(release-version)s \
          --MaxCycles %(max-cycles)s \
          --configurationSe

[2022-08-30 09:01] sfayer commented on #6163
Eventually yes: The CloudDirector will be removed in future versions, being replaced with standard SiteDirector + CloudCE (you can either use the same SiteDirector you do for the grid or have a separate instance just for cloud submission based on the CETypes parameter).

I suggest trying out CloudCE in the near future even if you don't fully migrate immediately just to check that it works for your

[2022-08-30 17:30] rajanandakumar commented on #6260
Hi @sfayer , @fstagni and @marianne013 ,

Apologies - I did not see this before as I was not (yet) working on it, waiting for the DIRAC certification instance to come up. Now, I am getting around to the different points one-by-one.

I am currently working on the AREXComputingElement and assume that this is soon going to replace the ARCComputingElement for most, if not all sites. Given this, how im

[2022-08-31 06:56] fstagni commented on #6260
What is wrong with the DIRAC certification setup? It has been used successfully for running DIRAC certifications. Also the LHCbDIRAC one should be OK.

It is not "necessary" as we have of course been living with it for a long while. It is anyway rather easy to do it, I think.

[2022-09-01 01:15] zhangxiaomei commented on #6163
@sfayer  I just saw a new problem:  the VMs can't shutdown itself correctly after jobAgent finished its cycles.
![image](https://user-images.githubusercontent.com/1860588/187810968-3e8f3fcc-0238-4f30-94cf-971441e8e902.png)
Am I missing something?

[2022-09-01 07:01] sfayer commented on #6163
What should happen is that the VirtualMachineMonitor agent should detect the JobAgent isn't running any more and shutdown the machine... The logs for this should be in `/mnt/monitor/monitor_start.log` and `/mnt/monitor/runit/VirtualMachineMonitorAgent/log/current`: There is probably an error in one of those that will indicate why it didn't work.

A workaround you can do is to simply add `- [ power

[2022-09-02 05:07] zhangxiaomei commented on #6163
I  found the problem: In /root/run_monitor.sh provided in the CloudCE template, it should be:
-pip install "DIRAC==%(release-version)s"
+pip install "IHEPDIRAC==%(release-version)s"
After fixing that, it works now.

[2022-09-05 06:57] zhangxiaomei commented on #6163
@sfayer  In the monitoring log, it looks like it is halting the instance:
![image](https://user-images.githubusercontent.com/1860588/188383733-190fb6a9-f908-4639-86f2-3f048b7155d2.png)
 but the VMs didn't get halted, there is an ERROR which I don't know if it is the reason:
![image](https://user-images.githubusercontent.com/1860588/188382662-0c447943-d916-41d7-853a-6c0ba042d19b.png)

[2022-09-05 08:14] sfayer commented on #6163
Hi,

Hmm, it looks like the halt line was left commented out, I've put in a pull request to re-enable it:
https://github.com/DIRACGrid/DIRAC/pull/6353
(You could potentially patch it from the cloudinit.template, either directly or by installing a pre-patched DIRAC version for the VMM but it's much easier to wait and use an officially released version).

The error you see later is a side-effect rat

[2022-09-05 11:48] rajanandakumar commented on #6260
Hi,

Thanks for the pointer about self.ceParameters. What information does it give? I have tried to print it out on the test system and I am basically getting what I am guessing is garbage.

- I have put in a test XRSLExtraString but that does not get printed out
- The dictionary does contain MaxTotalJobs (and other such parameters) which seem to be incorrect, looking at the configuration.

Cheers

[2022-09-06 10:10] DIRACGridBot opened #6356 "Sweep failed for PR Add a gfal2 context manager as well as a removal timeout for echo"
Sweep failed for PR Add a gfal2 context manager as well as a removal timeout for echo
See https://github.com/DIRACGrid/DIRAC/pull/6352

[2022-09-07 02:23] zhangxiaomei commented on #6163
"simply add - [ poweroff ] to the very end of the template (in the runcmd section)" didn't work completely.  The VMs are closed and still occupied resource, but not are completely deleted as before. Do you know what happened? @sfayer

[2022-09-07 07:43] #6356 closed

[2022-09-07 08:25] sfayer commented on #6163
Hi,

With the poweroff at the end, the instances should go into the OpenStack "SHUTOFF" state; this prevents the VMM agent from sending any further heartbeats. After a set amount of time (default is 40 minutes, although the function is only called every 15 minutes, so maximum wait time is 55 minutes), the database should transition them to stalled:
https://github.com/DIRACGrid/DIRAC/blob/573913cf4

[2022-09-07 09:02] zhangxiaomei commented on #6163
The further halting was not happened.  I don't see any errors in the log of VirtualMachineManager except:
WorkloadManagement_VirtualMachineManager/log/@400000006315667a141c5e6c.s:2022-09-05 03:01:04 UTC WorkloadManagement/VirtualMachineManager NOTICE: Returning response ([::ffff:192.168.90.58]:43682)[hosts:cloudvm] (0.55 secs) ERROR: Transition ( Halted -> Running ) not allowed
@sfayer

[2022-09-07 10:42] sfayer commented on #6163
The error implies there is an instance still running after it has tried to shutdown, which isn't really a problem (it should still be removed as stalled after about an hour). Are you able to check what state some of the problem VMs are in on both OpenStack and the DIRAC VirtualMachine database?

Regards,
Simon

[2022-09-08 03:17] zhangxiaomei commented on #6163
These problem VMs is shown "shutdown" in OpenStack and "stalled" in database:
mysql> select * from vm_Instances where Name="679AC199";
+------------+------------+----------+-------------------------------------------------+--------------------------------------+-----------+---------+---------------------+-----------------+-------------+--------------+-----------------+--------+------+------+
| Ins

[2022-09-08 04:44] zhangxiaomei commented on #6163
I also set the log to debug mode for the VirtualMachineManager.  I don't see any DELETE or UPDATE operations on these "stalled" VMs, just SELECT.

[2022-09-08 06:29] zhangxiaomei commented on #6163
@sfayer  It looks like some old problem VMs can't get cleaned and stuck the VirtualMachineManager. I updated some old VMs state from "stalled" to "halted" manually in the database, and I begin to see some VMs get deleted now.
mysql> select * from vm_Instances where Status="Stalled" limit 10;
+------------+------------+----------+--------------------------------------+----------+-----------+-------

[2022-09-09 08:40] sfayer opened #6360 "Cancellation of FTS3 job when request is cancelled?"
Hi,

We have a large number of RMS file transfer requests submitted by an end user (we're running v7r3 with FTS3 agent backend), but due to SE TPC interoperability problems they aren't transferring correctly. The requests were cancelled, but this left the FTS jobs in the queue: These are going to take a long time to complete as they're staging the files from tape at the source.

I had a look and c

[2022-09-09 09:16] sfayer commented on #6163
Hi,

Once a machine is in the stalled state, it should have been removed already: If it's still on openstack and setting it back to halted then causes it to get deleted, that implies the first delete failed for some reason.

Can you please add some print statements around this block and see what happens for future VMs? (I'm not sure deletion error messages are particularly well reported otherwise)

[2022-09-12 15:07] fstagni opened #6362 "Creation of real releases "deployment" GitHub Actions"
We now have a "rel-v8r0" branch from which we can create production releases, that should be done through the "deployment" actions

2 issues:
- the creation of the v8.0.0 tag worked only if starting from the _integration_ branch (for today it was possible because the content of _integration_ was identical to _rel-v8r0_). It is probably a simple change to be done in this line https://github.com/DIR

[2022-09-13 06:51] andresailer commented on #6362
Release Notes:
* Merging release notes by hand would be most straight forward
* Huge could be an issue, because we would need pagination to go through the PRs and tags, or some other logic change in the script

[2022-09-13 09:30] chaen opened #6363 "Logging from a Tornado handler"
### Discussed in https://github.com/DIRACGrid/DIRAC/discussions/6361

<div type='discussions-op-text'>

<sup>Originally posted by **martynia** September 11, 2022</sup>
Hi,

My logging level in my Tornado handler seems to be `info`. Debug records don't show up. I have enabled `LogLevel = DEBUG` both in my handler section (`/Systems/WorkloadManagement/Devel/Services/TornadoPilotLogging/LogLevel`  in

[2022-09-13 10:12] fstagni commented on #6260
It should give at runtime all info that are for the CE (and the queue) that are stored in the CS.

Can you try to investigate further?

[2022-09-14 04:49] zhangxiaomei commented on #6163
I have added print messages to the VirtualManagerHandler.py and found there are about 470 problem VMs which keep reporting errors and the new VMs have been stopped successfully.   It looks like the only way to get rid of these problem VMs is to delete from database. No idea why these problem VMs were there. @sfayer

[2022-09-15 07:47] fstagni commented on #6150
What's the status of this issue?

[2022-09-16 08:37] rajanandakumar commented on #6260
Okay - so, I try to print out the following

[code]
and I get the following

[code]

Now, if I look at the CS, the MaxTotalJobs should be either 2500 or 0 (depending on the queue) and the MaxWaitingJobs is 100 or 500 for the above CE.

So, what could be going on here?

Cheers,
Raja.

[2022-09-16 08:44] rajanandakumar commented on #6260
Okay - it is kind of understood then after I trawled through the whole of the configuration. The numbers printed out are from the CEDefaults. They are not coming from the actual CE information.

So, a bug somewhere preventing the actual CE information coming from the CS and populated only by the CEDefaults? Should I open a bug report?

Cheers,
Raja.

[2022-09-19 10:51] chrisburr commented on #5355
This has come up again due to the summer students leaving and being suspended in VOMS very quickly after they finish working. It also causes the JobCleaningAgent to become very slow due to the many failover attempts.

[2022-09-19 13:06] chaen commented on #6360
@sfayer would you have a chance to try https://github.com/DIRACGrid/DIRAC/pull/6371 ?
I did this a bit quickly but haven't had time to properly test it.

[2022-09-20 07:20] zhangxiaomei commented on #6163
I have just deleted all the problemetic VMs in the database and looks fine.  I closed the issue.

[2022-09-20 07:20] #6163 closed

[2022-09-20 09:50] chaen commented on #6363
@martynia can you please try https://github.com/DIRACGrid/DIRAC/pull/6373 ?

[2022-09-20 17:07] sfayer commented on #6360
Sure, I've given it a go... It seems to work to me: I submitted a large job (with failing transfers) and cancelled it part way through successfully with it cancelling the FTS jobs as expected.

I wasn't able to do a test of cancelling a successful job part way through to check things ended consistently: Every successful job I ran finished too quickly to get the cancellation through before it finis

[2022-09-26 08:40] sfayer commented on #6360
Fixed by #6371.

[2022-09-26 08:40] #6360 closed

[2022-09-27 09:13] chrisburr commented on #6362
I think both points have now been adressed and the 8.0.1 release went through smoothly.

[2022-09-27 09:13] #6362 closed

[2022-09-29 06:37] #3514 closed

[2022-10-04 08:08] fstagni commented on #6296
I can't reproduce the error: there is nothing returned when I click "show details" but no error.

[2022-10-04 08:43] fstagni commented on #5620
I have not found the source of this, at least not using py3. I see you were trying with what is today a rather old py2 version of DIRAC. I suspect the error might be there can't prove it. Have you by change tried again?

[2022-10-04 14:11] IgorPelevanyuk opened #6400 "Presumably wrong order of checking VO information"
Hello,

I have just installed DIRAC 7.3.29. During installation it was necessary to set VirtualOrganization parameter. Since we have multiVO setup I have just put there some general value(name of organization)

But after installation during dirac-dms-add-file that general VO name was used no matter which proxy I used. I found the source of problem:
https://github.com/DIRACGrid/DIRAC/blob/073655c5a

[2022-10-04 14:14] fstagni commented on #5575
Of which output are you talking about exactly? I am a bit confused on why you say that for LHCb production jobs the output is written. There is no output sandbox written out for stalled jobs in any case.

[2022-10-04 15:37] chrisburr commented on #5575
Assuming I remember correctly:

* I mean jobs which are marked failed with the `Watchdog identified this job as stalled`-like message.
* LHCb production jobs continuously write the output [here](https://gitlab.cern.ch/lhcb-dirac/LHCbDIRAC/-/blob/8389046a2dd7a837d5e392547f1e7b84a6024641/src/LHCbDIRAC/Core/Utilities/RunApplication.py#L225-229)
* LHCb user jobs only write the output at the end of the

[2022-10-05 09:29] fstagni commented on #6269
Updates on this task?

[2022-10-05 09:52] chrisburr commented on #6269
It's done now https://github.com/DIRACGrid/DIRAC/pull/6337 is merged.

[2022-10-05 09:52] #6269 closed

[2022-10-05 20:17] atsareg commented on #3373
I think that with 8.0 out, this issue can be closed

[2022-10-06 09:02] marianne013 commented on #6116
@fstagni To get back to this, we (GridPP) are still trying to understand what was the reasoning behind having a pilot literally sit around for hours. I don't think there's a reason not to wait let's say 20 min, but as you say pilots are disposable and there will always be more pilots. If nothing has happened in 20 min, there are probably no jobs for that VO around.
The over submitting is definitel

[2022-10-11 08:13] rajanandakumar opened #6404 "self.ceParameters returns only values from CEDefaults"
Hi,

While working on the AREXComputingElement, I am trying to use self.ceParameters to return the defined parameters from the configuration for the given CE. However, this returns only the values from CEDefaults.

It looks to me like this feature is not really used during the initialization phase by any other CE and so I am hitting this issue. Could someone point out to me what other initialisati

[2022-10-11 08:17] rajanandakumar commented on #6404
Resolution of this wiill help me with the issues

https://github.com/DIRACGrid/DIRAC/issues/6260

https://github.com/DIRACGrid/DIRAC/pull/5542

Cheers,
Raja.

[2022-10-11 08:35] sfayer commented on #6404
Hi Raja,

The initialisation of ceParameters is normally done in two steps:
The defaults are filled out by the ComputingElement.initializeParameters which is called from the base constructor:
https://github.com/DIRACGrid/DIRAC/blob/9dc204e1d8feb4c49be68c91f40176bbfc4b9fdf/src/DIRAC/Resources/Computing/ComputingElement.py#L84

The rest of the parameters (including the CE & queue specific details) a

[2022-10-12 10:55] fstagni commented on #6116
Even 10 or even 5 minutes. But I would still do this:

[2022-10-12 11:04] marianne013 commented on #6116
You still haven't told me what the reasoning was :-D

[2022-10-12 11:35] fstagni commented on #6116
The original change (buggy) was done in https://github.com/DIRACGrid/DIRAC/pull/5001, then corrected in https://github.com/DIRACGrid/DIRAC/pull/5957. TBH, atm I can't remember the original use case.

[2022-10-12 12:58] marianne013 opened #6407 "v7r3: dirac-admin-kill-pilot fails"
Yes, I realize the subject line is a bit vague, but then so is the error I see.
[code]
results in the error below in PilotManager. I don't even know where to start with that one.
This is the production server running v7.3.26

[code]
@martynia At least I can reproduce your issue :-D

[2022-10-12 13:06] andresailer commented on #6407
What are the lines before this traceback?

[2022-10-12 13:13] marianne013 commented on #6407
[code]

[2022-10-12 13:22] fstagni commented on #6407
Is it for each and every pilot? For HTCondor pilots (all)? Or for a specific HTCondor endpoint?

[2022-10-12 13:32] marianne013 commented on #6407
Condor issue as far as I can tell - I tried a different condor ce with the same result. I didn't get an error for ARC:
[code]
Though (at least according to the web portal) the ARC job wasn't actually killed (it still shows up as submitted), but maybe I am too impatient.

[2022-10-12 18:43] marianne013 commented on #6407
Just to say that the ARC CE job now shows up as "unknown". Hrmpf.

[2022-10-13 07:24] DIRACGridBot opened #6413 "Sweep failed for PR Fix MySQL Optimizer and don't start JobAgent for integration tests"
Sweep failed for PR Fix MySQL Optimizer and don't start JobAgent for integration tests
See https://github.com/DIRACGrid/DIRAC/pull/6411

[2022-10-13 09:20] marianne013 commented on #6407
I just tried this on the certification machine.
There I didn't see an error, but when accidentally trying to kill the same pilot twice I got:

[code]

[2022-10-13 12:56] fstagni opened #6415 "Integration tests: update version of OpenSearch"
And maybe remove ElasticSearch.

Be aware of the [breaking changes for OpenSearch](https://github.com/opensearch-project/opensearch-clients/issues/12) and maybe of those for [ES 8](https://towardsdatascience.com/important-syntax-updates-of-elasticsearch-8-in-python-4423c5938b17)

[2022-10-13 12:57] fstagni opened #6416 "Deprecate dirac-proxy-init in favor of dirac-login"
From docs, and from code.

[2022-10-13 13:55] rajanandakumar commented on #6404
Hi Simon,

Thanks for this. So, it works as long the initialisation is not done at initialisation time. It needs a slightly different philosophy but I can work with this.

Cheers,
Raja.

[2022-10-13 13:55] #6404 closed, assigned to nobody

[2022-10-13 15:41] chrisburr commented on #6416
I'm not sure this is a good idea until we're sure the interface of `dirac-login` is stable.

[2022-10-14 15:08] fstagni commented on #6407
For that we can't do much, but at least that pointed me to this fix: https://github.com/DIRACGrid/DIRAC/pull/6422

[2022-10-14 15:19] fstagni commented on #6400
Hi,

What do you mean? That you had to remove the config entry `DIRAC/VirtualOrganization` from the CS?

[2022-10-14 15:28] fstagni commented on #6400
Anyway, from BiLD:

[2022-10-17 10:43] IgorPelevanyuk commented on #6400
Thanks Federico for reply! Ok, I will add this information to documentation.

[2022-10-17 10:43] #6400 closed, assigned to nobody

[2022-10-17 11:37] chrisburr opened #6424 "Remove master branch?"
I'm not sure the `master` branch serves any purpose now that DIRAC 8.0 has been released. What do people think about removing it?

[2022-10-17 12:04] DIRACGridBot opened #6425 "Sweep failed for PR Update InstallingDiracServer.rst"
Sweep failed for PR Update InstallingDiracServer.rst
See https://github.com/DIRACGrid/DIRAC/pull/6423

[2022-10-17 12:35] fstagni commented on #6424
It is (only) used by readthedocs as far as I remember.

[2022-10-17 13:04] chrisburr commented on #6424
Ah yes I'd forgotten about that, I'd suggest changing that to use `integration` by default.

[2022-10-17 13:07] chrisburr commented on #6424
Alternatively if we want to show something else we should be able to get the desired effect using: https://docs.readthedocs.io/en/stable/automation-rules.html

[2022-10-17 13:14] fstagni commented on #6424
The idea was to always show with "latest" the most recent production release, so `integration` is not the correct branch.

Automation rules could be used to hide too old (un-supported) versions @andresailer

[2022-10-17 14:39] #6413 closed, assigned to chaen

[2022-10-17 16:04] marianne013 commented on #6116
How about "Maybe we made a mistake when implementing this feature, so we do one retry and then give up" instead ?

[2022-10-17 16:13] marianne013 opened #6433 "v8.0.1 WebApp ssl issue"
We have always run the  DIRAC WebApp directly (without a frontend).
This fails in v8.0.1 (WebApp 5.0.0) with:
[code]
Now SSL (https://docs.python.org/3/library/ssl.html) seems to have a DER_cert_to_PEM_cert function, tornado somewhat less so.
How is this meant to work ? Did it ever work ?

[2022-10-17 18:04] DIRACGridBot opened #6434 "Sweep failed for PR fix: WMSUtilities.killPilotsInQueues have a consistent return value"
Sweep failed for PR fix: WMSUtilities.killPilotsInQueues have a consistent return value
See https://github.com/DIRACGrid/DIRAC/pull/6422

[2022-10-17 18:26] chrisburr commented on #6433
This is failing as it's using Python's SSL library instead configuring `tornado_m2crypto` by running:

[code]

I suspect in it's current form this has never worked as this was all changed for v8.0 as part of the OAuth stuff.

This PR seems to work in certification but I'm not certain it's actually doing the right thing: https://github.com/DIRACGrid/WebAppDIRAC/pull/699

[2022-10-18 09:39] #6434 closed, assigned to fstagni

[2022-10-18 09:39] #6425 closed, assigned to nobody

[2022-10-20 09:06] andresailer commented on #6424
* added an automation rule to update the "latest" to the latest release branch.
* There already was a rule to create new active versions when new branches are made
* cannot add a rule to hide unsupported version. Rules only act on new branches or tags, or removal of tags or versions. As we shouldn't delete branches, we cannot unpublished automatically.

[2022-10-20 10:02] chrisburr commented on #6424
I think this is desirable and effectively what we already did. While we're looking at it, shall we remove `rel-v7r1`/`rel-v7r0`/`rel-v6r22` from readthedocs?

[2022-10-20 10:34] andresailer commented on #6424
Fine for me to remove those

[2022-10-20 12:06] fstagni commented on #6424
Yes, please do remove them.

[2022-10-20 12:16] andresailer commented on #6424
They are gone now.

[2022-10-20 12:25] sfayer commented on #6433
I've had a look through this and I think the headers are the only issue in this mode (other than the SSL cert issue that's fixed by the PR)... We probably just need to check the balancer setting from the config, similar to how webapp v4r3 used to do it:
[code]

Any comments?

[2022-10-20 12:50] #6424 closed, assigned to andresailer

[2022-10-21 09:35] DIRACGridBot opened #6446 "Sweep failed for PR Add pyupgrade to pre-commit"
Sweep failed for PR Add pyupgrade to pre-commit
See https://github.com/DIRACGrid/DIRAC/pull/6443

[2022-10-21 11:55] #6446 closed, assigned to chrisburr

[2022-10-21 11:55] #5282 closed

[2022-10-25 15:21] fstagni commented on #4105
Token counter in SiteDirector has been removed long time ago. PR 6451 removes MyProxy support and solves this issue.

[2022-10-26 05:33] fstagni commented on #5620
Closing as I believe solved already.

[2022-10-26 05:34] #6296 closed

[2022-10-26 06:53] chrisburr commented on #5620
The issue is here:
https://github.com/DIRACGrid/DIRAC/blob/85a8918df0cdd1c0a03123f7d746dda060becffa/src/DIRAC/FrameworkSystem/DB/InstalledComponentsDB.py#L328-L332
See: https://docs.sqlalchemy.org/en/14/core/engines.html#escaping-special-characters-such-as-signs-in-passwords

[2022-10-26 09:43] DIRACGridBot opened #6453 "Sweep failed for PR feat: launching optimizers in the integration environment"
Sweep failed for PR feat: launching optimizers in the integration environment
See https://github.com/DIRACGrid/DIRAC/pull/6129

[2022-10-26 13:15] #4105 closed

[2022-10-26 13:38] marianne013 opened #6455 "diracdoctools Command Reference title"
While trying to fix up the COMDIRAC documentation ready for merging, I noticed that all commands (e.g.
https://dirac.readthedocs.io/en/latest/Commands/index.html#dirac-dms-add-file
) end up with "Accounting" in the title bar.
I think this is set in diracdoctools/cmd/commandReference.py, but all  my creative efforts to get it to display something sensible, i.e.the actual Section it's in (here: "Dat

[2022-10-26 14:38] andresailer commented on #6455
All the command details are now on a single page, which probably doesn't have a good parent section and It ends up the accounting for alphabetical reasons.

[2022-10-26 15:02] marianne013 commented on #6455
Yes, I tried to change that so that the overall title would be "Command Reference" (if you scroll all the way up, it's actually there), but I suspect I got confused with the =/-/@ syntax.

[2022-10-26 19:57] #6455 closed, assigned to andresailer

[2022-10-27 12:31] #6453 closed, assigned to fstagni

[2022-10-27 16:40] marianne013 opened #6467 "v8.1 (and possibly earlier): pilots fail on ARC-CE with proxy not found"
Converted from https://github.com/DIRACGrid/DIRAC/discussions/6465

I noticed on the DIRAC certification server that a lot (though not all) pilots on ARC-CEs fail with "proxy not found" in the pilot log.
They start running, but then never pick up a job and eventually reach the Failed state.
I tried to work out what the difference was between jobs that succeeded and those that failed. I had some lu

[2022-10-28 07:44] fstagni commented on #6467
I don't how using PoolCE would make any difference.
You are mentioning:

so what are the differences?

And BTW, can you try moving (some) of these CEs to `ARC6` instead of `ARC`?

[2022-10-28 08:26] marianne013 commented on #6467
@fstagni
I mean the two things I tried: - the ENV/PROXY and the only one queue per CE.
But my point is that I *don't* need to do these things on the production server and those CEs work fine and that even *with* these changes I can't make Janusz' stuff work. Have a look at the certification server to see what I mean.
I'm going to put RALPP on the production server back to what it was, as we need t

[2022-10-28 09:35] fstagni commented on #5620
Good catch! I just made a PR, have a look.

[2022-10-28 12:24] rajanandakumar commented on #6467
Hi @marianne013

Just to confirm - is this the EGI DIRAC certification instance?

Cheers,
Raja.

[2022-10-28 13:10] fstagni commented on #6467
No, the DIRAC certification instance: https://lbcertifdirac70.cern.ch/

[2022-10-28 17:05] fstagni opened #6470 "Pilot.json : add a new format"
This issue is a follow-up of discussions happening in the thread started at https://github.com/DIRACGrid/DIRAC/pull/6208#discussion_r999137004

`PilotCStoJSONSynchronizer` creates at the moment of writing a custom pilot.json file, composed of 2 parts: the first contains pilot-related information taken from the `Operations/<>/Pilot` CS section. The second contains few info for each Computing Elemen

[2022-10-30 17:06] rajanandakumar opened #6471 "Bug in ComputingElementFactory?"
https://github.com/DIRACGrid/DIRAC/blob/f0077ecc350e8a4c3f994415efe39a6b344b90c5/src/DIRAC/Resources/Computing/ComputingElementFactory.py#L56

Hi,

In line 55, the "result" does not contain the keyword "OK". As a result, the setting of the ceParameters is failing. And as a further result, the AREX CE is not being instantiated.

Cheers,
Raja.

[2022-10-30 17:16] andresailer commented on #6471
~~What is the traceback for the exception that should come a few lines later~~
https://github.com/DIRACGrid/DIRAC/blob/f0077ecc350e8a4c3f994415efe39a6b344b90c5/src/DIRAC/Resources/Computing/ComputingElementFactory.py#L61
Sorry, doesn't make sense. traceback will point to line 55

Which computing element is tried to be instantiated?

[2022-10-30 17:26] sfayer commented on #6471
Hi Raja,

I suspect the _reset() function of the CE needs to return S_OK() rather than a plain type (which is then eventually returned via the default ComputingElement.setParameters function to this bit of code).

Regards,
Simon

[2022-10-31 02:52] rajanandakumar commented on #6471
@andresailer It is the AREX computing element that I am testing.

@sfayer Thanks a lot - that was the problem. Guru level debugging - thanks!

Cheers,
Raja.

[2022-10-31 02:52] #6471 closed, assigned to nobody

[2022-10-31 08:46] chrisburr opened #6472 "New optimizer tests are flaky"
The new optimizer tests added in https://github.com/DIRACGrid/DIRAC/pull/6129 seem to be flaky:

For example they failed in these two nightly tests of DIRACOS2:

* https://github.com/DIRACGrid/DIRACOS2/actions/runs/3353998996/jobs/5557386007
* https://github.com/DIRACGrid/DIRACOS2/actions/runs/3358441562/jobs/5565461003

[2022-10-31 08:52] chrisburr commented on #6472
There seems to be at least two issues, one causes the test to hang until it times out after 5 minutes:

[code]

Looking in the `JobScheduling` log I see errors like

[code]

[code]

The test also fails fails in a different way to the CI if it's ran in a loop:

[code]

[2022-10-31 10:39] fstagni commented on #6472
One fix is in https://github.com/DIRACGrid/DIRAC/pull/6473 but I am not sure it will be enough. I will leave this one open.

For my info: tests in DIRACOS2 are running for which release? What you pointed above was for the pre-release.

[2022-10-31 10:39] fstagni commented on #6407
I think I can't do much better than what I coded above.

[2022-10-31 10:39] #6407 closed, assigned to fstagni

[2022-10-31 10:42] fstagni commented on #6077
Should https://github.com/DIRACGrid/DIRAC/pull/6405 solve this issue?

[2022-10-31 10:56] IgorPelevanyuk opened #6474 "Issue when using self-signed CA"
Hello, dear colleagues,

In our installation there is a need in using our own CA which is not present in EGI certificate list. In version v7r0p26 the following approach was working:
1. We generate certificate diracCA_cert.pem
2. We put it in /opt/dirac/etc/grid-security/certificates and also create link to it: 9ccdc0aa.0 -> /etc/grid-security/certificates/diracCA_cert.pem
After restart DIRAC would

[2022-10-31 10:56] chrisburr commented on #6472
They run for everything that I'm aware of people using:
* `rel-v7r2` (Py2 server)
* `rel-v7r3` (Py2 server)
* `rel-v7r3` (Py3 server)
* `integration`
* (as of this morning) `rel-v8r0`.

[2022-10-31 11:00] martynia commented on #6077
Yes.
I tested it for ARC and HTCondor CEs
J.

[2022-10-31 15:17] marianne013 opened #6475 "v8.1 (certification server) SSHBatchComputingElement/cdParameters error"
While trying to debuh #6467 I came across this in the logs, probably needs fixing ?
[code]

[2022-10-31 15:21] marianne013 commented on #6467
I double check my production server and I don't have "ENV/PROXY" set anywhere in the configuration. I still left it in on the certification server.
I wasn't able to get the SiteDirector to print the rsl it submits to ARC, even when setting the log level to DEBUG, I had to put in a print statement. The output from this print statement seems to suggest that the rsl is fine:
[code]

[2022-11-02 10:29] DIRACGridBot opened #6482 "Sweep failed for PR [rel-v7r2]: WIP : First version of AREX computing element"
Sweep failed for PR [rel-v7r2]: WIP : First version of AREX computing element
See https://github.com/DIRACGrid/DIRAC/pull/5542

[2022-11-02 11:39] DIRACGridBot opened #6484 "Sweep failed for PR First version of AREX computing element"
Sweep failed for PR First version of AREX computing element
See https://github.com/DIRACGrid/DIRAC/pull/6483

[2022-11-02 11:47] fstagni commented on #5620
Fixed by https://github.com/DIRACGrid/DIRAC/pull/6468

[2022-11-02 11:47] #5620 closed

[2022-11-02 11:48] fstagni commented on #5005
Added!

[2022-11-02 11:48] #5005 closed

[2022-11-02 11:49] fstagni commented on #6116
Not the most complex fix, but #6469 + https://github.com/DIRACGrid/Pilot/pull/164 are the simplest approximations.

[2022-11-02 11:49] #6116 closed

[2022-11-02 12:00] fstagni commented on #4959
Closing (by cc-ing @aldbr )

[2022-11-02 12:00] #4959 closed

[2022-11-02 12:09] #6482 closed, assigned to rajanandakumar

[2022-11-02 12:09] #6484 closed, assigned to rajanandakumar

[2022-11-02 15:01] fstagni commented on #6260
I believe that this issue can now be closed, as solved as explained above.

[2022-11-02 15:01] #6260 closed

[2022-11-03 08:33] DIRACGridBot opened #6488 "Sweep failed for PR fix (wms): additional fixes for the PushJobAgent"
Sweep failed for PR fix (wms): additional fixes for the PushJobAgent
See https://github.com/DIRACGrid/DIRAC/pull/6486

[2022-11-03 11:01] fstagni opened #6491 "(for PilotLogging) find the VO from the proxy (and from the token)"
This issue is a follow-up of discussions happening in the thread started at https://github.com/DIRACGrid/DIRAC/pull/6208#discussion_r999137004 where we asked how to find a VO from an existing proxy and/or token.

Few alternative options were considered:
1. use off-the-shelf tools like `openssl` but this not seem possible (?) for VOMS proxies
2. use `voms-proxy-info`, but this might not be availabl

[2022-11-03 11:08] fstagni opened #6492 "(for Pilot Logging) Add backends"
At least an ElasticSearch backend.

[2022-11-03 11:10] fstagni opened #6493 "DIRAC logger to use the ISO 8601"
In order to use the ISO 8601 format and microseconds. If this is done, then all log messages will have the same format.

[2022-11-03 11:15] fstagni opened #6494 "Requirements and tasks for token-based pilot submissions"
Requirements:
* HTCondor client on conda-forge correctly deployed (issue acknowdged by the HTCondor maintainers, but should raised - target version 9.0, not 10.0) -- this is needed for M.2 of https://zenodo.org/record/7014668#.YyrDF9JBxD9

Tasks:
- [x] `bashrc` should be adapted
    * corollary: puppet should be updated
- [x] _SiteDirector_ needs to be updated for getting token instead of or along

[2022-11-03 11:28] fstagni opened #6495 "All dips services should have a counterpart on https."
- [ ] DataStore
- [ ] **careful** ReportGenerator
- [x] Configuration
- [x] DataIntegrity
- [x] FileCatalog
- [x] FTS3Manager
- [x] S3Gateway
- [ ] **does it make sense?** StorageElement
- [x] BundleDelivery -> not doing, see https://github.com/DIRACGrid/DIRAC/issues/6821
- [x] ComponentMonitoring
- [x] Notification
- [x] ProxyManager
- [x] UserProfile
- [ ] SystemAdministrator
- [x] Monitoring
-

[2022-11-03 11:32] fstagni opened #6496 "Provide minimal support for non-DIRAC DIRAC client"
Provide minimal support for non-DIRAC DIRAC client (solving [Submitting DIRAC jobs via HTTP](https://github.com/DIRACGrid/DIRAC/discussions/6121) and more). A good starting point would be to provide instructions on how to do it for read-only operations, e.g. for monitoring.

[2022-11-03 12:22] andresailer commented on #6491
Maybe I missed this by not paying attention during the discussion, but why not add another environment variable besides the DIRAC_PILOT_STAMP (#6405) to add the VO that pilot is for?

[2022-11-03 17:03] #6488 closed, assigned to aldbr

[2022-11-04 12:16] marianne013 opened #6497 "Docs: No configuration info AREX in AdministrotorGuide/ComputingElements (or anywhere)"
Hi,

I wanted to try out the new AREX Computing Element, but there seems to be no information on how to configure ARCs of any kind in
https://dirac.readthedocs.io/en/integration/AdministratorGuide/Resources/computingelements.html
A search over the whole document didn't unearth any configuration documentation for AREX either.

(I noticed the CloudComputingElement is missing from the AdministratorGu

[2022-11-04 12:44] martynia commented on #6491
We, could, if we can pass any environment variables at all. This is a question to @fstagni on the lhcb HLT use case. Is it possible to pass an environment  variables in this case? Otherwise, if we use a `SiteDirector `, we could add another variable, I think. But if we continue to add more variables and parameters we might end up in a similar situation we have now, when a pilot is configured by a

[2022-11-04 12:55] andresailer commented on #6491
I think the LHCB HLT will know that it will be LHCB VO, there is no need to query things for Single VO instances.

DIRAC_PILOT_STAMP is going to be an environment variable in most cases in #6405 (I can't tell for SSHComputingElement at first glance, maybe missing more)

If the VO is the thing to use further configuration according to pilot.json, it seems more direct to me to send the VO along inst

[2022-11-04 13:02] martynia commented on #6491
Don't forget and even in a single VO case we need DIRAC_PILOT_STAMP, otherwise we will be unable to link a pilot log file or a future pilo log MQ entry to a pilot stamp which uniquely identifies a pilot.

[2022-11-04 13:15] chrisburr commented on #6491
Yes, it's launched by a shell script so we can set whatever we need.

[2022-11-04 14:21] chaen commented on #6491
For what it's worth (car surely be improved)

[code]

results in

[code]

[2022-11-04 16:47] chaen commented on #6491
as rightly noticed by @chrisburr , if there are further delegation of proxy (typically in a job), you need to loop that on the inner certificates

[2022-11-05 02:55] rajanandakumar commented on #6497
Hi @marianne013

Apologies for missing this. I will be submitting the update for the documentation shortly. In the meanwhile, I  attach it below and hope that this is enough. Do let me know if you would like anything to be added here.

Edit - apologies for the formatting below. I understand this is the format of the documentation.

Cheers,
Raja.

[code]

[2022-11-07 17:28] chaen opened #6510 "WMS Monitoring: same selection but different grouping leads to different plot shapes"
What I reported in https://github.com/DIRACGrid/DIRAC/pull/6386 seems to be true for WMS History as well.

The same plot, when grouped by `Site` or `jobType` gives very different plots

![image](https://user-images.githubusercontent.com/3728211/200375520-60ab5e28-ff14-4faa-9c4b-cea18e156b66.png)

![image](https://user-images.githubusercontent.com/3728211/200375560-b3f9274a-e239-4f81-a7e4-e732a4d92

[2022-11-08 09:31] chrisburr commented on #6472
And another while making the release:

[code]

[2022-11-08 10:43] marianne013 commented on #6497
@rajanandakumar @andresailer is the documentation expert, but it looks fine to me :-)
Would you be able to configure and test a CE on the certification server (https://lbcertifdirac70.cern.ch/DIRAC/) ? Maybe one of the RALPP ones (heplnx208 ?). Chris Brew is usually fairly responsive if there are problems.

[2022-11-08 10:54] rajanandakumar commented on #6497
Hi @marianne013 ,

Thanks. As I have mentioned in slack, I don't yet have any karma to work on the dteam test server. It works with the RAL tier-1 CEs. I have not yet had the chance to test with the RAL PPD CEs.

Cheers,
Raja

[2022-11-08 11:17] marianne013 commented on #6497
@rajanandakumar Sorry, didn't see the Slack (I only see the DIRAC certification and then I only look at them during the hackathon unless someone tags me). Maybe @fstagni could give you access before tomorrow ? RALPP is also configured for the gridpp VO, so you can use that for testing as well.

[2022-11-08 16:01] DIRACGridBot opened #6519 "Sweep failed for PR fix: don't fail silently if directory not found"
Sweep failed for PR fix: don't fail silently if directory not found
See https://github.com/DIRACGrid/DIRAC/pull/6518

[2022-11-08 16:07] fstagni commented on #6497
@rajanandakumar you are registered in DIRAC test server with DN `/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=nraja/CN=471708/CN=Raja Nandakumar`. Do you mean that you are not in `dteam` VO?

[2022-11-08 16:48] fstagni commented on #6475
I don't think it is a code issue: https://gitlab.cern.ch/ai/it-puppet-module-dirac/-/merge_requests/81

[2022-11-08 20:30] DIRACGridBot opened #6523 "Sweep failed for PR fix (resources): a few fixes related to ARC"
Sweep failed for PR fix (resources): a few fixes related to ARC
See https://github.com/DIRACGrid/DIRAC/pull/6509

[2022-11-09 12:15] chaen commented on #6472
That one shows here too in DIRACOS2
https://github.com/DIRACGrid/DIRACOS2/actions/runs/3395480486/jobs/5656488217

[2022-11-09 13:27] DIRACGridBot opened #6531 "Sweep failed for PR sweep: #6518 fix: don't fail silently if directory not found"
Sweep failed for PR sweep: #6518 fix: don't fail silently if directory not found
See https://github.com/DIRACGrid/DIRAC/pull/6528

[2022-11-10 08:54] fstagni opened #6532 "Tests: run HTTPs by default, change the way we run it"
It is removed from the list of HTTPs servers that are going to be installed. This is hack-ish way of avoiding issues with the HTTPs integration tests as they are coded now. I have on my to-do list to re-write the way we start HTTPs servers (and make HTTPs the default from 8.1)

_Originally posted by @fstagni in https://github.com/DIRACGrid/DIRAC/issues/6450#issuecomment-1308563539_

[2022-11-10 08:55] fstagni opened #6533 "Keep or remove BundleDelivery machinery?"
Ouf... :)

Well the reason I didn't do it is because then I was pondering if this BundleDelivery stuff is needed at all (starting from the CAUpdateAgent).

_Originally posted by @fstagni in https://github.com/DIRACGrid/DIRAC/pull/6450#discussion_r1017929374_

[2022-11-10 10:53] fstagni commented on #6496
So, jobs submission can't work ATM because in `JobManagerHandler` there is this:

[code]

But of course the correct `credDict["group"]` would normally be added by DIRAC's own "dirac-login/dirac-proxy-init". Since here we are doing `voms-proxy-init`, the DIRAC group is not added.

We might or we might not fix this specific case -- maybe just wait for tokens.

[2022-11-10 14:14] #6523 closed, assigned to aldbr

[2022-11-10 14:15] #6519 closed, assigned to marianne013

[2022-11-10 18:46] DIRACGridBot opened #6538 "Sweep failed for PR style: run pyupgrade on ARC CEs"
Sweep failed for PR style: run pyupgrade on ARC CEs
See https://github.com/DIRACGrid/DIRAC/pull/6536

[2022-11-10 18:56] fstagni commented on #6538
The changes in the mentioned PR were already added by the last commit of https://github.com/DIRACGrid/DIRAC/pull/6530

[2022-11-10 18:56] #6538 closed, assigned to fstagni

[2022-11-11 09:57] rajanandakumar commented on #6497
Hi Federico,

I am definitely in the dteam VO. And it works today - something that definitely did not happen a week ago. I will take a look.

Cheers,
Raja.

[2022-11-11 10:18] andresailer commented on #6497
As I wrote in slack, I added you to some groups.

[2022-11-11 11:39] DIRACGridBot opened #6540 "Sweep failed for PR fix (core): chainAsText not referenced before assignment"
Sweep failed for PR fix (core): chainAsText not referenced before assignment
See https://github.com/DIRACGrid/DIRAC/pull/6537

[2022-11-11 11:51] marianne013 opened #6541 "Hackathon aftermath: all jobs to LCG.GRIF.fr fail with proxy not found error"
This might or might not be an issue.....
[code]
Related: If this is meant to be using ARC6 from now on, I think you will have to change your Bdii2CSAgent which seems to default everything to ARC.

[2022-11-11 12:04] fstagni commented on #6541
For the Bdii2CSAgent I have warned already @andresailer .

[2022-11-11 14:06] #6540 closed, assigned to aldbr

[2022-11-14 07:59] chrisburr opened #6543 "Reject long filenames rather than registering requests"
We've had a handful of cases of REA requests being stuck looping due to long filenames like:

[code]

DIRAC should just outright reject such filenames.

[2022-11-14 09:49] marianne013 commented on #6543
I'm glad to see that it's not our 'small' communities that attempt to encode all their metadata in their file names :-D

[2022-11-14 13:27] DIRACGridBot opened #6545 "Sweep failed for PR fix (resources): AREX CE further fixes"
Sweep failed for PR fix (resources): AREX CE further fixes
See https://github.com/DIRACGrid/DIRAC/pull/6535

[2022-11-16 20:24] fstagni commented on #6467
After the last hackathon, is this behavior still there?
And BTW @aldbr introduced recently few more fixes in https://github.com/DIRACGrid/DIRAC/pull/6558

[2022-11-17 08:56] marianne013 commented on #6467
@martynia: Can you try and do a merge/rebase on your pilot logging machine and see if the ARC jobs now work ?
On the certification server that was kind of lost in the ARC6/AREX transition.
I can run a test on the certification machine with RALPP (not RAL-LCG2) set to the old ARC (as their AREX setup isn't working) and check if it's resolved in integration.

[2022-11-17 10:04] fstagni commented on #6533
...used by `dirac-configure`?

[2022-11-17 11:18] chrisburr commented on #6491
This needs downgrading to be Python 2.7 compatible but this should work:

[code]

[2022-11-17 12:46] fstagni commented on #6533
So, the BundleDelivery machinery will be kept. Is anyone using "CAUpdateAgent"?

[2022-11-17 14:10] fstagni commented on #4365
https://github.com/DIRACGrid/DIRAC/pull/6561 swaps the default flag.
Service will be removed from 8.2

[2022-11-18 11:05] fstagni commented on #5575
Seems like it's the same idea you wrote yesterday in https://github.com/DIRACGrid/DIRAC/pull/6559 ...

[2022-11-18 13:17] fstagni commented on #4486
- ReqDB stores `OwnerDN` instead of user name. This of course has an impact on several DMS operations (and Transformation.RequestTaskAgent`)
- `JobDB.Jobs` has both `Owner` and `OwnerDN` for whatever reason (?)

[2022-11-23 11:03] #6541 closed, assigned to andresailer