[2013-06-04 07:44] phicharp opened #1500 "Fix in DataStoreClient"
DataStoreClient is storing records locally until they are committed, but it is only keeping a reference to the values of the record. This means the same record object cannot be re-used. addRegister() should make a copy of the record.
Please assign to me

[2013-06-04 18:07] sposs opened #1502 "Installing services from extensions"
Now, to install a service, the client needs to have the /DIRAC/Extension defined. But that's not systematically defined in the CS (shared installations like Lyon for example), so one needs to add it by hand both in the Server etc/dirac.cfg and in the client's etc/dirac.cfg. As the extension is always installed (because that's where the extension's service is installed), why is it necessary to have

[2013-06-05 09:46] #1497 closed, assigned to graciani

[2013-06-05 14:42] sposs opened #1505 "getShifterProxy needs to be VO aware"
It's not possible to get the right proxy as the Operations helper is not using the VO setting. I can imagine that this is tricky to implement as the code that calls this function is not necessarily aware of the VO. Nonetheless, it's a serious issue when running multi-vo installations with VO specific shifters.

[2013-06-05 15:41] sposs opened #1506 "Getting proxies with many VOMS servers"
When a VOMS server is down, DIRAC stops while it could try the second server. So basically it;s as if there was no second server defined. (this is the case when calling getShifterProxy for example, but I think it's the same with dirac-proxy-init)

[2013-06-05 18:04] sposs opened #1507 "getQueues with community set"
The getQueus shoudl return ONLY sites that are compatible with the specified community: if the VO is not defined for the queue, it will be returned (as if it was valid). The culprit is

[code]

where there should be a check `if not comList: continue`

[2013-06-06 11:37] remenska opened #1510 "Job killing signal should also affect the stager"
The submitted staging requests that belong to jobs that get killed, should also be canceled.

[2013-06-07 10:23] #1506 closed, assigned to nobody

[2013-06-07 10:24] sposs opened #1516 "update XXX -g version should update the dirac.cfg"
In case a new version of the LcgBundle is requested when updating the server installations, the LcgBundle section of the dirac.cfg must be creted/modified accordingly.

[2013-06-07 15:31] #768 closed, assigned to KrzysztofCiba

[2013-06-10 15:55] fstagni opened #1523 "Move to new RequestManagementSystem"
Not for v6r9, but RequestTaskAgent and TaskManager should be moved to use the new RMS.
Reminder: up to now we moved only the failover reports from the jobs.

[2013-06-11 06:51] roiser opened #1525 "Create an RSS digest mail"
Hi,

currently we are receiving RSS mails for every single action taken by the system. In case e.g. of banning all SEs on a site this can lead to quite a number of mails. I would like to suggest to have RSS create one summary mail, e.g.

Subject: RSS actions taken for Site <Site>

e.g. for banning SEs
                    Read                   Write                       .......
<SE1>         Acti

[2013-06-11 08:56] ubeda opened #1526 "dirac-configure"
I have the following use-case for the VMs;

DIRAC + Extensions are in CVMFS, so we are sourcing them.
The usual /opt/dirac structure is there, so in that sense there is a dirac.cfg in /opt/dirac/etc

Problem, if I try to generate that dirac.cfg using dirac-configure, the script tries to write on CVMFS instead of the local /opt/dirac/etc.

Could it be possible to add a parameter so that a non defau

[2013-06-11 21:03] #1510 closed, assigned to atsareg

[2013-06-13 09:27] zimmerst opened #1535 "Potential bug: dirac-dms-user-lfns"
Hi,
in @GlastDIRAC we are using DIRAC v6r7p27 and as normal user or software group manager when issuing dirac-dms-user-lfns without any arguments, DIRAC throws an unpleasant exception:

zimmer@pontius:~/Projects/Fermi/Virgo/Draft$ dirac-dms-user-lfns
LcgFileCatalogClient.__init__: Failed to import lfc module.
== EXCEPTION ==
<type 'exceptions.ImportError'>:No module named lfcthr
  File "/home/zimm

[2013-06-13 12:20] #483 closed, assigned to nobody

[2013-06-26 15:25] ubeda opened #1553 "[ALL] BUG: "use TransferDB:" is missing on DMS/DB/TransferDB.sql"
I'm preparing a certification test for DIRAC and I encountered the following when issuing dirac-install-db.

dirac-install-db TransferDB
Installing TransferDB
Missing "use TransferDB;"

[2013-06-27 08:31] ubeda opened #1556 "[v7r0] "import *""
I will slowly take care of the "import *" on the **init** files. This is the list of methods / functions imported from DIRAC.Core.Utilities into DIRAC. I will remove the lines on DIRAC.Core.Utilities.**init** and leave the import \* on DIRAC.**init** until the first file is empty.

DIRAC.Core.Utilities.File
- makeGuid
- checkGuid
- getSize
- getGlobbedTotalSize
- getGlobbedFiles
- getCommonPath
-

[2013-06-27 12:29] ubeda opened #1558 "uniqueElements"
Sometimes we do not need to keep the ordered of the elements in the list, we just need them to be unique. There are cases where we use uniqueElements and we could be using set()  -or list( set() ) if a list is needed- which is **much** faster than the uniqueElements implementation.

To be identified which cases do not require ordered unique elements.

[2013-06-27 14:43] #1556 closed, assigned to nobody

[2013-07-01 07:33] ubeda opened #1561 "SiteMap as RSS entry point"
I was thinking about resurrecting the SiteMap and making it the entry point for the RSS web information display.

Ideas ?
@atsareg
@graciani
@fstagni

[2013-07-01 12:45] #1526 closed, assigned to acasajus

[2013-07-09 08:02] ubeda opened #1577 "BUG: dirac-install-db ( InstallTools.installDatabase )"
I've found a very interesting bug while installing databases ( from sql file ).

[code]

The database is registered on the CS under the DataManagement section instead of the RequestManagement, which is wrong.

[2013-07-09 14:28] ubeda opened #1578 "Uniform method name to createTables in DB"
Running tests to automate the process of testing DIRAC as a whole, I encountered that the method in the DB classes to generate them does not have an uniform name, so far I've seen:

  _checkTable(), _createTables( tablesToCreate )

Could we agree on one ( any, I do not really mind which one ) and impose it ?

[2013-07-17 14:38] jstrube opened #1585 "dirac-dms-add-file fails unpredictably if the name of the file on the grid is different from local"
I'm trying to upload some files to the grid, but a simple test fails:

dirac-dms-add-file /ilc/user/j/jstrube/Garbage/test.py singleParticles.py  CERN-SRM
Uploading /ilc/user/j/jstrube/Garbage/test.py
__putFile: Failed to put file to storage. srm://srm-public.cern.ch:8443/srm/managerv2?SFN=/castor/cern.ch/grid/ilc/user/j/jstrube/Garbage/test.py: Invalid argument

putAndRegister: Failed to put file

[2013-07-24 09:08] ubeda opened #1590 "Indexes of PrimaryKeys"
I've invested some time on moving the remaining SQL schema to Python dictionaries. I noticed that is not rare on our schema to have an Index of a Primary Key ( identical ! ).

By default ( if I'm not wrong ) Primary Keys are indexed.  What is the point then ?

[2013-07-25 08:08] ubeda opened #1591 "BUG: duplicated items on InstallTools.getSoftwareComponents"
Calling the method:

[code]

Returns a list which allows duplicated items ( as they are on DIRAC and LHCbDIRAC ). It can be easily fixed using a set instead of a list, but I do not know if the method is returning duplicates on purpose or by mistake.

What do you think @graciani ?

[2013-07-25 11:55] graciani opened #1593 "Max thread limits do not apply to messages"
https://github.com/DIRACGrid/DIRAC/pull/1592

fixes the problem for RPC and FileTransfers, messages have not been fixed.

[2013-07-29 10:43] fstagni opened #1597 "dirac-rss-* scripts should be able to handle more than one element at a time"
E.g., dirac-rss-set-set-status --name=SE1,SE2 --statusType=ReadAccess,WriteAccess,RemoveAccess --status=Banned

[2013-07-31 14:12] fstagni opened #1599 "Make TransformationClient.setFileStatusForTransformation a bulk operation"
At the moment it can only be done just one by one (status has to be a string). For merging jobs it translates into a lot of queries. It is also listed as one of the most time consuming query: https://its.cern.ch/jira/browse/LHCBDIRAC-114

[2013-08-01 11:54] phicharp opened #1602 "RM operations are accounted as acsmith"
The DMS operations in the ReplicaManager, SRM2Storage and FTSRequest are accounted with Andrew's nickname, hardcoded in python :(((

  def __initialiseAccountingObject( self, operation, se, files ):
    """ create accouting record """
    accountingDict = {}
    accountingDict['OperationType'] = operation
    accountingDict['User'] = 'acsmith'
    accountingDict['Protocol'] = 'ReplicaManager'

The

[2013-08-05 15:26] phicharp opened #1604 "Problem checking permissions in FC"
When checking permissions for a list of files in the FC (in fact checking whether the directory has write permission), the check is not properly done. In addition if the permission is not correct for a single file in a list, the whole list is rejected…
This requires fixing the RM and the catalog client. The latter is the most delicate (LFC and DFC) but is less urgent than the RM.
In the RM: files

[2013-08-09 12:16] acasajus opened #1609 "Resources helper has a conflict commited"
Please fix:

https://github.com/DIRACGrid/DIRAC/blob/integration/ConfigurationSystem/Client/Helpers/Resources.py#L164

[2013-08-14 16:32] fstagni opened #1620 "File name re-used for different proxies."
(discovered by @phicharp )

The RemovalAgent (using ProcessPool) suffers of a problem when dumping a proxy to a file: it happens that two processes get the same temporary file name... Usually this should not be a problem but sometimes it happens almost simultaneously and then we hit a problem as one tries to use the wrong proxy, and also one process may delete it while the other is still using it.

[2013-08-16 12:45] fstagni opened #1621 "Remove old RMS"
TBD with care, after https://github.com/DIRACGrid/DIRAC/issues/1523 and after having seen that it is really unused for good.

[2013-08-20 13:30] phicharp opened #1628 "Snapshot of running agents and services"
As GEOC or operations team member, we need to know which agent is running on which VOBOX. Therefore we need to have somewhere (preferably on the Web portal) a list, for example structured by system like:

TransformationSystem
    Agents
       TransformationAgent
          TransformationAgent-Reco  volhcb20
          TransformationAgent-DM  volhcb24
    Services
       TransformationManager

[2013-08-21 14:53] ubeda opened #1629 "BUG? : Wrong disk space calculation"
While running the JobAgent, I run into the following problem while downloading data:
I have two partitions, a small one with the DIRAC installation and a large one /scratch where to download data, etc..

Code from DIRAC.WMS.Client.DownloadInputData

[code]

Which means, no matter what, we always check the space left on the partition where the JobAgent is running - even if our dirac.cfg says someth

[2013-08-29 11:45] mirguest opened #1636 "There are merge conficts in the integration branch"
Hi,

You can see the merge conflicts in https://github.com/DIRACGrid/DIRAC/blob/integration/ConfigurationSystem/Client/Helpers/Resources.py

[2013-09-02 07:57] ubeda opened #1642 "GetObjectMemDB"
I found the following class that I believe it is old and unused:
https://github.com/DIRACGrid/DIRAC/blob/integration/FrameworkSystem/DB/GetObjectMemDB.py

Does anyone know anything about it ?

[2013-09-07 12:53] phicharp opened #1646 "Consider MissingInFC and ProbInFC files in TransformationAgent for removal operations"
Currently these files are ignored (also for files in Failover) and therefore not removed. They should just be considered.

[2013-09-25 12:29] #1636 closed, assigned to nobody

[2013-09-25 12:35] #1642 closed, assigned to nobody

[2013-09-25 12:47] #1629 closed, assigned to graciani

[2013-09-25 13:56] pigay opened #1658 "dirac-dms-filecatalog-cli fails on listing file"
Within the CLI, ls command aith a file argument fails:

<pre>
FC:/>ls /dirac/user/a/atsareg/oaexample.py
Traceback (most recent call last):
  File "/home/pigay/dc/DIRAC/DataManagementSystem/scripts/dirac-dms-filecatalog-cli.py", line 57, in <module>
    cli.cmdloop()
  File "/home/pigay/dc/Linux_x86_64_glibc-2.15/lib/python2.6/cmd.py", line 142, in cmdloop
    stop = self.onecmd(line)
  File "/hom

[2013-09-25 15:53] #1609 closed, assigned to atsareg

[2013-09-25 15:55] #1590 closed, assigned to nobody

[2013-09-25 16:05] #1561 closed, assigned to nobody

[2013-09-25 16:08] #1553 closed, assigned to nobody

[2013-09-27 14:15] #192 closed, assigned to nobody

[2013-09-27 14:17] #223 closed, assigned to KrzysztofCiba

[2013-09-27 15:19] #662 closed, assigned to atsareg

[2013-10-02 08:08] glestaris opened #1665 "Unable to install DIRAC v6r9p16"
Using a configuration file similar to one found [here](http://diracgrid.org/files/docs/AdministratorGuide/GettingStarted/Step%201/index.html):

On `dirac-setup-site` call:

[code]

[2013-10-02 21:29] #1665 closed, assigned to nobody

[2013-10-02 21:56] #1500 closed, assigned to phicharp

[2013-10-03 07:14] #1599 closed, assigned to fstagni

[2013-10-03 12:18] ubeda opened #1668 "Question: MaxCycles on JobAgent"
How could one run the JobAgent a predefined number of times ? On the code I see
this line, which prevents the option MaxCycles to be useful. Is that line actually needed ?

[code]

[2013-10-03 19:11] #1668 closed, assigned to nobody

[2013-10-03 19:18] #1372 closed, assigned to nobody

[2013-10-03 19:25] #1577 closed, assigned to atsareg

[2013-10-08 08:34] sviscapi opened #1672 "Lcg issue on Ubuntu 12.04.3 32 bits"
Hi,

When installing /upgrading the Dirac client I get the following error message:

python dirac-install -V GlastDIRAC

2013-10-07 09:19:03 UTC dirac-install [NOTICE]  Retrieving http://lhcbproject.web.cern.ch/lhcbproject/dist/DIRAC3/installSource/../lcgBundles/DIRAC-lcg-2013-04-22-Linux_i686_glibc-2.15-python26.tar.gz
2013-10-07 09:19:03 UTC dirac-install [ERROR] http://lhcbproject.web.cern.ch/l

[2013-10-11 12:00] #1672 closed, assigned to nobody

[2013-10-16 14:53] zimmerst opened #1682 "extend job.type() content"
Hi,
we use the job.setType() API functionality in our extension, GlastDIRAC, but from the looks it seems that only type == "User" is supported. In the documentation of the API, it says developer function - is there any intended use case for this and are there plans to extend the type to arbitrary types. If not, is there a way of adding additional pre-determined types?
The reason for that is that t

[2013-10-17 12:48] phicharp opened #1683 "Transformation status when deriving"
Currently when deriving transformation <trans1> to <trans2>, <trans1> is set to Completing status.
First this name is quite confusing as it is close to Completed, and the end of Completing is not Completed ;-)
A more suitable name would be Derived.
However in some cases, it is required that this transformation stops submitting jobs. In this case the transformation can be first stopped (status Stop

[2013-10-19 16:19] graciani opened #1685 "JobDB"
[code]

should rather be

[code]

[2013-10-22 12:19] #1685 closed, assigned to nobody

[2013-10-24 13:36] fstagni opened #1694 "Fix global priorities between different production activities"
From @roiser :

Currently the different priorities between production activities are not handled correctly (e.g. MC / data processing). This is partly due to the fact that a "matching delay" needs to be put for data processing and will allow MC to fill the "gaps" between the delays.

[2013-10-29 14:29] #1683 closed, assigned to nobody

[2013-11-01 11:44] ubeda opened #1703 "Bad merge: RSS/Utils/RssConfiguration"
[code]

[2013-11-14 12:14] ubeda opened #1721 "DB monitoring"
Discussed privately with @acasajus

it would be great to monitor the databases as we do with the services ( number of queries, connections, etc... )

Ping Luca, as he can probably enlighten us on which metrics would be interesting to collect. @ltomassetti

[2013-12-10 23:58] zimmerst opened #1750 "lcg bundle missing in dirac installation."
Hi, it looks like some lcg libraries are missing for Linux x64, glibc 2.17 and python 2.7. Below the output of dirac-install:

zimmer@pontius:~/programs/DIRAC/latest$ ./dirac-install -V GlastDIRAC -r v1r3p7
2013-12-10 23:53:40 UTC dirac-install [NOTICE]  Processing installation requirements
2013-12-10 23:53:41 UTC dirac-install [NOTICE]  Destination path for installation is /home/zimmer/programs/D

[2013-12-12 09:58] zmathe opened #1753 "Add web service to the SystemAdministrator"
Currently, the web services are not accessible from the SystemAdministrator. It would be better to also make it available. I know it is not a standard DIRAC service and It is not trivial to do that…

[2013-12-12 17:40] fstagni opened #1755 "Fixes for the StorageManagement system"
As discussed privately:
- the StorageManagementAgents are interrogating directly the DB. Instead, agents should be using only the StorageManagerClient. In general, the only component that should be allowed to talk directly with the DB is the service, so the StorageManagementHandler.
- please have a look at pylint "high" violations, showed in https://buildlhcb.cern.ch/jenkins/view/DIRAC/job/dirac-b

[2014-01-15 23:48] #1750 closed, assigned to nobody

[2014-01-15 23:50] #1703 closed, assigned to nobody

[2014-01-15 23:52] #1694 closed, assigned to nobody

[2014-01-15 23:54] #1682 closed, assigned to nobody

[2014-01-17 07:14] zhangg opened #1773 "a bug in the command "dataset update""
In /DataManagementSystem/DB/FileCatalogComponents/DatasetManager.py, line 415,
req += "WHERE DatasetName=%s" % datasetName>  should replace with <req += "WHERE DatasetName='%s'" % datasetName.
This bug will cause an error like:
ERROR: failed to update dataset: Execution failed.: ( 1054: Unknown column 'xxxx' in 'where clause' )

[2014-01-20 14:47] #1773 closed, assigned to atsareg

[2014-01-20 14:47] #1658 closed, assigned to atsareg

[2014-01-20 14:48] #1646 closed, assigned to fstagni

[2014-01-20 14:51] #1621 closed, assigned to fstagni

[2014-01-20 14:52] #1602 closed, assigned to atsareg

[2014-01-20 14:55] #1523 closed, assigned to fstagni

[2014-01-20 14:57] #1489 closed, assigned to nobody

[2014-01-20 15:01] #1487 closed, assigned to nobody

[2014-01-20 17:58] #1432 closed, assigned to atsareg

[2014-01-20 18:02] #1361 closed, assigned to atsareg

[2014-01-20 18:04] #1358 closed, assigned to atsareg

[2014-01-20 18:17] #1272 closed, assigned to KrzysztofCiba

[2014-01-20 18:18] #1271 closed, assigned to KrzysztofCiba

[2014-01-20 18:34] #170 closed, assigned to atsareg

[2014-01-21 13:17] #1484 closed, assigned to nobody

[2014-01-21 14:53] #1453 closed, assigned to atsareg

[2014-01-22 15:07] fstagni opened #1780 "Errors in SystemLogging"
Hi,
this is probably not of big importance, anyway: why do we get a lot of the following?

2014-01-21 20:31:11 UTC Framework/SystemLogging NOTICE: Executing action (128.142.241.44:42609)[hosts:volhcb20.cern.ch] RPC/addMessages(<masked>)
2014-01-21 20:31:11 UTC Framework/SystemLogging/SystemLoggingDB  ERROR: Could not retrieve inserted values
2014-01-21 20:31:11 UTC Framework/SystemLogging  ERROR:

[2014-01-23 07:58] sposs opened #1781 "BundleDelivery error in case no CRLs are found"
When installing my test server yesterday, I saw that there was an uncaught exception in the Bundle delivery client:

[code]

I think it would be nice to have a try/except clause here, with a message like 'Missing Certificate Revocation Lists (CLRs)'. Also, in the documentation, where there is a discussion about the machine configuration, it could be useful to have a section about the crls (like th

[2014-01-23 08:00] sposs opened #1782 "dirac-admin-sysadmin-cli with host=localhost"
The cli command does not accept the `localhost` as host. It only accepts hosts that have a domain. I think it would be useful to make an exception to this rule when the host is localhost.

[2014-01-27 09:31] fstagni opened #1788 "Fix the displaying of Requests from the web portal"
The display of requests from the web portal isn't fully working. For example, in LHCb we have Completed job 67936632

From job monitor, see attachment.

By hand

In [19]: res = rc.readRequestsForJobs([67936632])

In [20]: print res['Value']['Successful'][67936632].getDigest()['Value']
ForwardDISET:ForwardDISET:Done:0
ForwardDISET:ForwardDISET:Done:1
ForwardDISET:ForwardDISET:Done:2
RegisterFile:Re

[2014-01-27 09:36] fstagni opened #1789 "FIX the RMS code - use standard python way of coding"
The RMS code works, and python wise it is correct. It has been coded, anyway, with a bit of a strange way of coding. Pylint does not understand it. The violations can be seen in https://buildlhcb.cern.ch/jenkins/view/DIRAC/job/dirac-branch-v6r11/violations/

I suggest to move to a more understandable, standard code - e.g. avoid globals.

[2014-01-27 10:20] #1755 closed, assigned to remenska

[2014-01-29 11:34] fstagni opened #1793 "DIRAC.GetFile with wildcard"
(from Alexander Richards)

Exposed in the API is the 'getFile' method of API.Dirac. This it seams does work for a list of files but not for a wildcard. I note also that you have a method 'getFilesFromDirectory' in DataManagementSystem/Client/ReplicaManager.py.. This it seems is capable of accepting a wildcard. Would it be possible to have this exposed in the API or the getFile method to include wi

[2014-01-30 12:27] fstagni opened #1796 "Remove SE check when registering a file"
The ReplicaManager uses the StorageElement in __registerFile() in order to call se.getPfnForProtocol(). And this pfn is then used when adding the file to the FileCatalog.
Given the fact that we are now completely ignoring the FileCatalog pfn (thanks to Philippe), and that we want to have a v6r12 where all (or most of) the pfn use will be replaced with pfn, I guess that we can just remove this whol

[2014-01-31 10:26] redbouch opened #1800 "dirac-v6r10 bug : "ls" command in FileCatalog client ended with error"
When I use the command dirac-dms-filecatalog-cli under dirac-v6r10, I get this error :
FC:/> ls
Error: 'Datasets'
Can you please tell me what is the problem ?
redbouch

[2014-02-02 13:06] #1800 closed, assigned to atsareg

[2014-02-03 06:39] sposs opened #1807 "Install extension in the sysadmin-cli"
Once a server has been installed, there is no easy way (to my knowledge) to install an extension (say the VMDIRAC). It would be useful to be able to install such thing directly from the CLI.

[2014-02-05 11:03] andresailer opened #1812 "Permissions for diracAdmin in DFC"
When I am working as diracAdmin I cannot mkdir, chgrp, chown, etc. in folders which are owned by another group.
For example I have folders onwed by some account and the group "ilc_user"
As diracAdmin I cannot create a folder, but as ilc_user I can.

I would expect that the diracAdmin functions as root for the DFC and would be allowed to do these and other things.
We are running v6r9p26

[2014-02-05 18:13] sposs opened #1813 "Broken parametric jobs in v6r10"
Trying to run
dirac-wms-job-submit job.jdl
where job.jdl contains

[code]

yields only one job, while I'd expect a few.

[2014-02-05 18:44] #1813 closed, assigned to nobody

[2014-02-06 09:35] fstagni opened #1814 "Speed up ReqDB queries"
[from Philippe/Zoltan]

As we now have a single agent for serving all requests, we are hitting the problem that it takes very long to get a single request from the DB:

Seems that a solution can simply be on the DB side: missing one index: create index RequestID on Operation(RequestID);

I do not know how this table accessed, but maybe a composite index will be better Operation(RequestID,????).

[2014-02-06 09:46] #781 closed, assigned to KrzysztofCiba

[2014-02-07 11:15] andresailer opened #1820 "dirac-stager-stage-files accepts non-existent files"
At least in the version we are using
dirac-stager-stage-files CERN-SRM bogus/filename.root
will happily try to stage this file even tough it does not exist.

There is (was?) also no check if the storage element exists.
So now we have stager requests for storage elements and files that do not exist.
One of those is crashing the RequestPreparationAgent
From the log:

[code]

Sorry if this has alread

[2014-02-11 10:09] sposs opened #1821 "Return value of script failing to parse the CLI options shouldn't be 0"
This behavior is problematic to catch errors:

[code]

[2014-02-11 14:13] phicharp opened #1822 "Exception during finalisation of agent using process pool"
We recurrently have a problem with the RequestExecutingAgent that is crashing when finalizing:

2014-02-09 16:10:25 UTC RequestManagement/RequestExecutingAgent EXCEPT: Failed to execute finalize for Agent: RequestManagement/RequestExecutingAgent
2014-02-09 16:10:25 UTC RequestManagement/RequestExecutingAgent EXCEPT: == EXCEPTION ==
2014-02-09 16:10:25 UTC RequestManagement/RequestExecutingAgent EX

[2014-02-11 15:55] redbouch opened #1823 "v6r10p8 : Problem to copy files to the storage element with Dirac's API using addfile function"
Hi,
when I try to copy some files to the storage element, i get this error message :

... Framework  ERROR: FileCatalog._getCatalogs: Failed to get file catalog configuration. Path /Resources/FileCatalogs does not exist or it's not a section.

... Framework  ERROR: FileCatalog._getCatalogs: Failed to get file catalog configuration. Path /Resources/FileCatalogs does not exist or it's not a section.

[2014-02-14 05:29] hmiyake opened #1830 "Short time out in SSHComputingElement"
Hello,

I realized sometimes update of pilot job status failed when I use
SSHComputingElement based CE (e.g. SSHCondor).
In _getJobStatusOnHost(), ssh time out is defined as 10 seconds, but
sometimes it takes long time due to command output.
In our environment, condor_history takes 13 seconds and SSH connection is
regarded as failed.

Could you increase the time out or is it possible to set it fro

[2014-02-18 15:20] #1823 closed, assigned to nobody

[2014-02-20 13:04] #1196 closed, assigned to chaen

[2014-02-21 09:47] #1331 closed, assigned to chaen

[2014-02-24 10:24] IgorPelevanyuk opened #1840 "dirac-dms-show-se-status - error message is not very self explanatory"
dirac-dms-show-se-status
Cache misses: [('YANT-USER', 'RemoveAccess'), ('YANT-USER', 'CheckAccess'), ('YANT-USER', 'ReadAccess'), ('YANT-USER', 'WriteAccess')]
Failed to get StorageElement status for ['BES-USER', 'BES-USER-NEW', 'GUCAS-USER', 'IHEP-USER', 'IHEPD-USER', 'JINR-USER', 'ProductionSandboxSE', 'TEST-USER', 'USTC-USER', 'YANT-USER']
Traceback (most recent call last):
  File "/opt/dirac-c

[2014-02-25 10:40] fstagni opened #1842 "Application thread killed by buffer overflow"
Reporting here after brief email discussion (this was Andrei's mail).

We have a case again that the systemCall in the application thread is exiting because of the output buffer overflow. This should not happen of course because application should behave correctly. However if it happens, then the result is drastic. It looks like the killChild() call inside the Subprocess object somehow manages to

[2014-03-05 15:16] #1812 closed, assigned to nobody

[2014-03-05 15:37] #1820 closed, assigned to remenska

[2014-03-07 11:48] fstagni opened #1853 "Regular exception in OptimizationMind"
There is a regular exception in OptimizationMind. Error is given below. It seems to happen for jobs that are already deleted, seems like a race condition to me.

2014-03-06 15:11:17 UTC WorkloadManagement/OptimizationMind  ERROR: Cannot write changes to job 72040552:
Initial state was different
2014-03-06 15:11:17 UTC WorkloadManagement/OptimizationMind EXCEPT: Exception when processing task 72040

[2014-03-09 10:21] #1840 closed, assigned to nobody

[2014-03-09 10:21] #1830 closed, assigned to atsareg

[2014-03-09 10:22] #1796 closed, assigned to chaen

[2014-03-09 10:23] #1782 closed, assigned to nobody

[2014-03-12 09:23] fstagni opened #1862 "Missing thread safe update of RSSCache?"
Occasionally we see missing hits in the RSS cache. Suspicion is that the update operation might be the cause. To investigate.

[2014-03-12 10:32] #1190 closed, assigned to atsareg

[2014-03-12 12:12] phicharp opened #1863 "Efficiency plots limited to 100%"
The CPU efficiency plot is limited to 100%. Although this may appear reasonable, it doesn't allow us to monitor user jobs that eventually use more than 100% of CPU because they are multithreaded.
For multi-core jobs, it would be worth foreseeing an accounting of the number of cores available otherwise the efficiency will also be larger than 100% (wall-clock time should be multiplied by the number

[2014-03-13 11:51] #272 closed, assigned to acasajus

[2014-03-13 11:51] #263 closed, assigned to acasajus

[2014-03-14 11:17] phicharp opened #1867 "Bad credentials doesn't trigger an error in LFC"
Calling the LFC without a proxy prints out a message in the log, but the code doesn't return an error!!!
In [2]: rm.getCatalogReplicas('/lhcb/LHCb/Collision12/MDST.DST/00034958/0000/00034958_00000565_1.mdst.dst')
No proxy found
send2nsd: NS002 - send error : client_establish_context: Could not find or use a credential
Out[2]: {'OK': True, 'Value': {'Failed': {}, 'Successful': {}}}

This was causin

[2014-03-19 08:47] arrabito opened #1874 "Bug in dirac-dms-filecatalog-cli with 'meta get'"
The meta get command in dirac-dms-filecatalog-cli crashes when there is a '/' at the end of the path:

Example:
$ dirac-dms-filecatalog-cli -f DIRACFileCatalog
Starting DIRACFileCatalog client

File Catalog Client $Revision: 1.17 $Date:

FC:/> meta get /vo.cta.in2p3.fr/MC/PROD2/
Traceback (most recent call last):
  File "/afs/in2p3.fr/home/a/arrabito/swCTADIRAC/versions/v1r17p7_1392628454/DIRAC/Da

[2014-03-25 15:55] roiser opened #1878 "prevent accounting to store "crazy" numbers"
Hi,

the accounting plots are sometimes screwed because some sites would report numbers which are out of bounds e.g. for the CPUTime spent for a given job. I would suggest to have a mechanism in the Dirac accounting where such entries are spotted and not put into the databases, e.g. an entry exceeds N times the mean of last month.

cheers
Stefan

[2014-03-28 13:17] sposs opened #1885 "exception in getProxy"
In DIRAC v6r10p8 (quite old I know), I see the following exception.
I'm trying to do self.am_setOption( 'shifterProxy', self.shifterProxy ) in an Agent I coded.

2014-03-28 13:12:51 UTC Framework/ProxyManager EXCEPT: Uncaught exception when serving RPC Function getProxy
2014-03-28 13:12:51 UTC Framework/ProxyManager EXCEPT: == EXCEPTION ==
2014-03-28 13:12:51 UTC Framework/ProxyManager EXCEPT: <ty

[2014-03-28 13:27] fstagni opened #1886 "Add SLURM support"
To calculate the CPUTime left in the queue.

[2014-03-31 15:12] fstagni opened #1888 "Consider check of CPUTime for first job"
The CPUTimeLeft utility invoked by the JobAgent should be called also before matching the first job (right not it is done only from the second match).

In case it is impossible to get the CPUTime left (e.g. because of a not yet supported batch system), we should fall back using the information passed in by the pilot (that correspond to what it is written in the CS). But, for this case, it is a dan

[2014-03-31 21:44] #1878 closed, assigned to nobody

[2014-04-03 14:22] #427 closed, assigned to avedaee

[2014-04-03 14:23] #1244 closed, assigned to nobody

[2014-04-03 14:28] #1620 closed, assigned to nobody

[2014-04-03 14:28] #1628 closed, assigned to nobody

[2014-04-03 14:28] #1781 closed, assigned to nobody

[2014-04-03 14:28] #1788 closed, assigned to nobody

[2014-04-03 14:28] #1807 closed, assigned to nobody

[2014-04-03 14:28] #1814 closed, assigned to nobody

[2014-04-03 14:28] #1867 closed, assigned to nobody

[2014-04-09 10:44] #1862 closed, assigned to nobody

[2014-04-09 10:48] #1336 closed, assigned to nobody

[2014-04-09 12:38] #1373 closed, assigned to nobody

[2014-04-09 12:38] #1369 closed, assigned to nobody

[2014-04-09 12:48] fstagni opened #1898 "Review the JobDB structure and usage"
The JobDB structure should be checked for:
- move to InnoDB
- for performance: SLOW queries identification
  in similar fashion to what has been done for TransformationDB.

Still to be decided to which release targeting the changes.

This task should be used to contain the notes of the evaluation.

[2014-04-10 14:36] #1874 closed, assigned to chaen

[2014-04-10 15:18] #1585 closed, assigned to chaen

[2014-04-11 15:18] chaen opened #1901 "Lock in the RequestExecutingAgent"
Hi,

We would like to get more feedback on this.
 From observations so far, seems that the agent becomes stuck when new requests arrive, after some period of idleness.

A quick reminder:The RequestExecutingAgent is using ProcessPool utility to create slave workers (subprocesses running RequestTask) desingnated to execute requests read from ReqDB. Each worker is processing a separate request from a

[2014-04-15 09:00] chaen opened #1905 "Exception in dirac-transformation-cli"
(@fstagni )

$ dirac-transformation-cli
(Cmd) getall
Traceback (most recent call last):
  File "/home/chaen/dirac/DIRAC/TransformationSystem/scripts/dirac-transformation-cli.py", line 20, in <module>
    cli.cmdloop()
  File "/home/chaen/dirac/Linux_x86_64_glibc-2.12/lib/python2.6/cmd.py", line 142, in cmdloop
    stop = self.onecmd(line)
  File "/home/chaen/dirac/Linux_x86_64_glibc-2.12/lib/pytho

[2014-04-15 12:37] #1905 closed, assigned to nobody

[2014-04-15 13:00] #151 closed, assigned to nobody

[2014-04-15 13:07] #684 closed, assigned to acasajus

[2014-04-15 13:21] #337 closed, assigned to nobody

[2014-04-15 13:23] #812 closed, assigned to nobody

[2014-04-15 13:27] #870 closed, assigned to atsareg

[2014-04-15 16:01] #472 closed, assigned to chaen

[2014-04-16 14:42] #413 closed, assigned to avedaee

[2014-04-20 09:14] graciani opened #1914 "SiteDirector and OScompatibility"
If not define the Agent sends an error a refuses to continue.

2014-04-20 09:09:45 UTC WorkloadManagement/SiteDirector  ERROR: Errors in the job submission:  OS compatibility info not found

Should simply go ahead, right? or be more verbose.

[2014-04-20 13:05] graciani opened #1915 "TaskQueueDirector"
These lines have to be restored:

from DIRAC.WorkloadManagementSystem.private.gLitePilotDirector   import gLitePilotDirector
from DIRAC.WorkloadManagementSystem.private.LCGPilotDirector     import LCGPilotDirector

otherwise the instantiation does not work. They were removed in Feb 21st.

[2014-04-25 15:29] #1468 closed, assigned to avedaee

[2014-04-28 13:56] #1337 closed, assigned to zmathe

[2014-04-30 08:27] #356 closed, assigned to KrzysztofCiba

[2014-04-30 08:36] #448 closed, assigned to atsareg

[2014-04-30 08:43] #980 closed, assigned to nobody

[2014-04-30 09:06] #1507 closed, assigned to sposs

[2014-04-30 15:18] fstagni opened #1930 "Simple modifications to the accounting clients"
With DIRAC v6r12 as target, we should modify the ReportGeneratorClient and the DataStoreClient so that they are capable to decide to which service to talk, depending on the accounting type.

This will enable the separation of WMSHistory from other accounting types as defined as highest priority point of https://github.com/DIRACGrid/DIRAC/wiki/Monitoring-service

[2014-05-06 09:36] chaen opened #1932 "Integrate FTS3 in RSS for v6r13"
Hi,

In order to take the most benefits out of FTS3, we need to integrate it in RSS in both directions:
* Input: FTS3 service status are published in SLS and gocdb. We would like the status to be available as a normal RSS entry.
* Output: it is possible to give FTS3 a blacklist of SE. We would like RSS to react to SE changes, and communicate the updated blacklist to FTS3

Note that there are sever

[2014-05-18 22:10] hmiyake opened #1944 "StalledJobAgent misrecognizes failure jobs due to inconsistent statuses"
Hi,

In StalledJobAgent, "Job died during finalization" is judged if old "Completed" jobs exist while MinorStatus is not "Pending Requests".
However, this condition can be satisfied if MinorStatus is changed from "Pending Requests" to "Requests done" after JobDB returns "Completed" jobs. It could happen when JobDB access takes a long time and statuses are inconsistent.

One solution is to retrieve

[2014-05-22 14:06] sposs opened #1951 "[DIRAC] [v6rx] LFN normalization issue"
In the putAndRegister (ReplicaManager, dunno about DataManager), if the input LFN looks like /something/somethingelse//path/file (has //), the fc.exists() check part will always fail because the returned dict has a normalized LFN, where all // were replaced by /. So res['Value']['Sucessful'] will never contain the input LFN. I think the first thing to do in those methods is to sanitize the input L

[2014-05-25 16:41] #1930 closed, assigned to acasajus

[2014-06-05 13:01] #376 closed, assigned to avedaee

[2014-06-05 13:01] #1257 closed, assigned to avedaee

[2014-06-05 13:02] #1302 closed, assigned to avedaee

[2014-06-05 13:03] #1597 closed, assigned to avedaee

[2014-06-06 09:31] acasajus opened #1967 "Renew the agent proxy once every 24h"

[2014-06-16 10:18] #215 closed, assigned to avedaee

[2014-06-17 14:00] fstagni opened #1984 "Bash environment variable for the run file"
It should be possible to specify options in the ConfigTemplate.cfg file so that bash environment variable are set when installing services or agents.

The use case is agents/services that need a certain environment variable to be set while being deployed.

[2014-06-17 21:14] #1915 closed, assigned to fstagni

[2014-06-17 21:35] #1885 closed, assigned to acasajus

[2014-06-17 21:50] #1822 closed, assigned to acasajus

[2014-06-17 23:04] #1944 closed, assigned to nobody

[2014-06-17 23:05] #1853 closed, assigned to acasajus

[2014-06-17 23:05] #1821 closed, assigned to atsareg

[2014-06-24 06:17] hmiyake opened #1993 "Obsolete function call in JobWrapperTemplate"
Hi,

DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapperTemplate.py
calls sendWMSAccounting() which was replaced with sendJobAccounting()

Could you fix them?

Cheers,
Hideki

[2014-06-26 10:22] twhyntie opened #1996 "Accessing the DFC/user metadata functionality using the Python API?"
Hello,

I'm using DiRAC v6r11p3 on a set-up at Imperial College London. It's working very well, and we've successfully produced our first Monte Carlo production datasets using DIRAC to manage the jobs and storage. Many thanks!

This also means I'm now in a position to work with the user metadata commands featured in the 10th tutorial - working with user metadata:

https://github.com/DIRACGrid/DIRA

[2014-07-08 09:22] andresailer opened #2006 "Speed up for AccountingDB cleanup"
Hello,
As some of you are probably aware, the nightly cleanup of the AccountingDB (ac_bucket_<Setup>_WMSHistory) routinely blocks the accounting system
Quote @zmathe from February 2, 2014

This leads to this hole in the plots, that get filled up (sometimes not completely) after the deleting statement is done.
![accountinghole](https://cloud.githubusercontent.com/assets/2115797/3507585/e7f22b2a-067

[2014-07-11 15:56] #150 closed, assigned to nobody

[2014-07-14 10:10] #248 closed, assigned to graciani

[2014-07-14 10:10] #1334 closed, assigned to atsareg

[2014-07-21 20:15] #1993 closed, assigned to nobody

[2014-07-29 15:56] fstagni opened #2019 "Include the "t" runsv script when deploying an agent"
The installation of a new agent (via the SystemAdminitrator, for example) should also include the deployment of this "control/t" script. This method has been seen giving good results in the LHCb installation

Following what (quickly and partially) explained in the "Customize Control" part of
http://smarden.org/runit/runsv.8.html a simple script named "t" can be deployed in each runit directory for

[2014-07-30 10:14] sposs opened #2021 "[DIRAC][v6r10] Issue with File catalogs when file system and SE directory have the same structure"
I know the title does look strange but it's complicated to explain in one line.

One ILCDIRAC user reported a problem that is very annoying. The situation is as follows: He has a file system that uses the same directory conventions/names as the storage element he uses, i.e his user directory in his file system is /grid/ilc/user/u/user, and the SE path is also /grid/ilc/user/u/user. Now, for some r

[2014-08-08 16:01] martynia opened #2039 "Problems with asynchronous FTS transfers (dirac-dms-replicate-and-register-request)"
Hi, I have a problem when trying to submit a replication request. I have 2 replicas (created with dirac-dms-replicate-lfn):

dirac-dms-lfn-replicas /na62.vo.gridpp.ac.uk/martynia/worldwindx.jar
{'Failed': {},
 'Successful': {'/na62.vo.gridpp.ac.uk/martynia/worldwindx.jar': {'BIRMINGHAM-disk': 'srm://epgse1.ph.bham.ac.uk:8446/srm/managerv2?SFN=/dpm/ph.bham.ac.uk/home/na62.vo.gridpp.ac.uk/martynia/w

[2014-08-14 09:38] closier opened #2046 "Problem with getVOName and python2.7"
In the agent Configuration/UsersAndGroups we get an error when we run with python2.7 with the function "readline" :+1: 2014-08-14 08:00:45 UTC Configuration/UsersAndGroups   INFO: {'Message': 'Error in function getVOName: readline() takes exactly 1 argument (2 given)', 'OK': False}

It is working ok with python 2.6

The full output of the agent:
2014-08-14 08:00:45 UTC Configuration/UsersAndGroups

[2014-08-27 15:24] sfayer opened #2062 "Uploading a file doesn't create a replica DB entry (in v6r11p11)"
Hi,

We have a clean install of v6r11p11 with a single VO configured. When we upload a file with dirac-dms-add-file using the in-built FileCatalog, the file appears in the namespace, but has no replicas listed (even though the file is created on the SE).

This seems to work correctly with v6r11p3.

Regards,
Simon

[2014-08-27 16:27] marianne013 opened #2063 "ARC-CEs with SGE queues"
Hi,

[I tried the mailing list, but maybe this should go here.]

I am trying to enable some ARC CEs on my dirac server (v6r11p3 with v6r11p1 for Pilot, p3 didn't work).
I'm running into a problem with ARC-CEs using SGE, as ARC insists on inserting a '/' in the queue name [the way the queue names are constructed is not configurable], i.e. my queue is called "nordugrid-OGS/GE-grid.q" (the CE is cete

[2014-08-27 16:33] marianne013 opened #2064 "PilotOutput for jobs running on the ARC-CE"
Hi,

[Transfered from the mailing list]

I have a Dirac install (v6r11p3 with v6r11p1 for Pilot, p3 didn't work). When running jobs on ARC-CEs (which seems to work in principle) I cannot retrieve the pilot output:
When I go from PilotMonitor -> PilotOutput I get the error message: "Error: ComputingElementFactory  could not instantiate ARCComputing Element()".

Apologies if this has been fixed sinc

[2014-09-12 14:28] #2006 closed, assigned to nobody

[2014-09-17 15:34] andresailer opened #2073 "StorageElementHandler Error"
I have a storage element created with the name StorageElement3
i.e. DataManagement/StorageElement3

Due to this line
https://github.com/DIRACGrid/DIRAC/blob/integration/DataManagementSystem/Service/StorageElementHandler.py#L104
I could not get any files out of the StorageElement.
From the log (with some added debug statements from me):
(notice the "/3/" in the expected path)

[code]

The serviceNa

[2014-09-17 17:43] #2073 closed, assigned to nobody

[2014-09-18 12:19] andresailer opened #2077 "Cannot download sandbox via (old) webinterface when TrustedHost only"
As discussed via e-mail (with Adri, Andrei, Zoltan, Joel).
One cannot download sandboxes via the (old) webinterfaces when the Host has only the TrustedHost property. Adding other properties is not possible for security reasons.

The webserver is running dirac version v6r10p23

[2014-09-22 10:51] chaen opened #2084 "CheckSumType vs ChecksumType"
Hi,

there are some inconsistencies between the DFC and the LFC that creates exception in the RMS.
The LFC uses "CheckSumType" while DFC has "ChecksumType". This is used as keys in dictionary. So we should make a choice, and keep it consistent everywhere. I'd go for "ChecksumType", because we have "Checksum" everywhere

[2014-09-22 12:39] zmathe opened #2085 "Cannot add # to the URL"
It is not possible to add the full URL to the CS if it contains a #, because it think it is a comment...
For example:
Open the CS and change WebApp/Schema/DashBoard Host Monitor/lbvobox18=link|...
to
link|https://dashboards.cern.ch/public/_plugin/kibana/#/dashboard/elasticsearch/Metrics:%20Host?entity=lbvobox08
The Url split into two part:
1.)link|https://dashboards.cern.ch/public/_plugin/kibana/

[2014-09-22 13:43] #2046 closed, assigned to nobody

[2014-09-22 13:45] #2039 closed, assigned to nobody

[2014-09-22 14:51] #1996 closed, assigned to nobody

[2014-09-22 15:06] #1914 closed, assigned to atsareg

[2014-09-22 15:34] phicharp opened #2089 "Cannot transfer large set of information in DISET"
We are suffering from not being able to transfer large amounts of data with DISET due to timeouts. Sometimes BK request returns 100,000's of files and in this case we always get a timeout. It is not possible to predict how large a dataset is going to be, therefore there is nothing that can be done at the user level.
It would be important that DISET is able to handle safely large amounts of data. S

[2014-09-23 07:06] #2085 closed, assigned to nobody

[2014-09-23 07:07] #2062 closed, assigned to nobody

[2014-09-23 07:07] #2084 closed, assigned to chaen

[2014-09-24 13:49] jaimeibar opened #2092 "Version conflict at installation time"
Hi,
I'm trying to install the latest version(v6r11p13) following this manual [1], but when it tries to install the web portal I get this error

[code]

Could you take a look, please?

Thanks
Jaime

[1] http://diracgrid.org/files/docs/AdministratorGuide/InstallingDIRACService/index.html

[2014-09-25 12:40] #2092 closed, assigned to nobody

[2014-09-26 13:42] jaimeibar opened #2094 "[DIRAC][v6r12-pre18] Sysadmin cli error"
Hi,
after install dirac and dirac client,

[code]

I loggin in dirac server

[code]

[code]

And when I try to cd without arguments, I get this error

[code]

Thanks
Jaime

[2014-09-26 15:22] martynia opened #2095 "Problems with asynchronous FTS transfers (dirac-dms-replicate-and-register-request) v6r11p12"
Hello,
We still have problems with FTS transfers. Although many issues have been fixed thanks to help of Christophe and Andrei, the current situation is that a request stays in a 'Scheduled' state forever.

A job appears in the FTSFile DB table but is not transferred to the FTSJob table. The FTSAgent throws an exception when trying to contact the FileCatalog. The exception message is of type <clas

[2014-09-26 15:48] martynia opened #2096 "dirac-dms-ftsdb-summary looks broken"
Client version: v6r11p12

[2014-09-30 09:21] zmathe opened #2099 "Web portal installation: bug during the dirac.cfg creation"
We have discovered when DIRAC installed first time as an LHCb extension then the dirac.cfg is not correct. In the file missing the Extensions=LHCb, LHCbWeb
We have to add by hand this line to the dirac.cfg: Extensions = LHCb, LHCbWeb
The configuration file contains:
ExtraModules = WebAppDIRAC,LHCb,LHCbWeb
Project = LHCb

We have added the Extensions=LHCb,LHCbWeb, in order to check that the line wi

[2014-10-01 13:06] martynia opened #2100 "dirac-dms-lfn-replicas broken for LFC"
Hi,
 When trying to do:
dirac-dms-lfn-replicas  lfn

I'm getting:
(client at v6r11p12)
LcgFileCatalogClient.**init**: Failed to import lfc module.
== EXCEPTION ==
<type 'exceptions.ImportError'>:No module named lfcthr
  File "/home/martynia/dirac/DIRAC/Resources/Catalog/LcgFileCatalogClient.py", line 157, in **init**
    import lfcthr as lfc

[2014-10-01 16:43] #2096 closed, assigned to chaen

[2014-10-01 17:23] andresailer opened #2101 "ReplicateAndRegister requires FTSManager"
I am testing the RequestExecutingAgent. Admittedly still running v6r10....
I am not using the FTS System at all.

[code]

My guess would be, that this would also happen with v6r11 given this line:
https://github.com/DIRACGrid/DIRAC/blob/rel-v6r11/DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py#L146

I think, there just needs to be a check if FTSMode is True or False.

[2014-10-02 12:43] twhyntie opened #2105 "File Catalog Client cannot handle spaces in file/directory names"
Hello,

I'm using the File Catalog client via:

[code]

I uploaded some files via the Python API and, due to a bug in my script, one of the directory names (set in the `outputPath` parameter in `Job.setOutputData`) contained spaces. The directory got created succesfully, but I can't do anything with it via the File Catalog Client (including deleting it with `rm`) because the interface doesn't appe

[2014-10-02 14:37] fstagni opened #2106 "JobDB: make insertion and removal of Jobs atomic operations"
Both needs to add to or remove from several tables. This is the cause of possibile inconsistencies in JobDB.

[2014-10-03 09:50] andresailer opened #2109 "Merge problem markers in integration branch"
https://github.com/DIRACGrid/DIRAC/blob/integration/StorageManagementSystem/DB/StorageManagementDB.sql

[2014-10-03 14:34] #2100 closed, assigned to nobody

[2014-10-06 13:31] andresailer opened #2110 "dirac-rms-show-request not working without FTSClient"
Trying to use dirac v6r11p14

[code]

[2014-10-06 13:38] andresailer opened #2111 "RequestExecutingAgent not failing out request with diracAdmin proxy"
I accidentally created a replicateAndRegister request with a diracAdmin proxy.
This request is not working, because there is no VOMS extension and the file cannot be replicated with these credentials.
However it seems like the request is not being deleted by the system after many failures.
From the ReqExeAgent

[code]

It has been running for a few days now.

[2014-10-08 10:09] #1842 closed, assigned to acasajus

[2014-10-08 10:51] #1593 closed, assigned to acasajus

[2014-10-10 16:59] #1268 closed, assigned to acasajus

[2014-10-10 16:59] #1462 closed, assigned to acasajus

[2014-10-10 20:55] #2109 closed, assigned to atsareg

[2014-10-10 21:45] #2110 closed, assigned to chaen

[2014-10-10 21:45] #2101 closed, assigned to nobody

[2014-10-10 21:46] #1967 closed, assigned to acasajus

[2014-10-10 21:48] #1238 closed, assigned to atsareg

[2014-10-10 22:33] #2094 closed, assigned to atsareg

[2014-10-14 09:43] chaen opened #2129 "[v6r13] JSON and SQLAlchemy in the RMS"
@atsareg  Please assign to me, for memory

The toJSON and toSQL methods of the RMS are very error prone, and should be delegated to appropriate libraries.

[2014-10-15 14:33] andresailer opened #2132 "dirac-proxy-init: fail for revoked certificates"
Hello,

Somehow one of our users got their certificate revoked (or somehow managed to get completely broken usercert/userkey files). But dirac-proxy-init would still create a proxy, with which they later ran into problems when trying to download files.

with dirac-proxy-init -ddd this output is given

[code]

I think dirac-proxy-init should fail in this case or at least print an error message for

[2014-10-17 11:54] chaen opened #2138 "Core: plot the average/mean processing time of a service call"
The RequestHandler has a method __logRemoteQueryResponse which systematically writes in the log the time it took to DIRAC to answer a query. I'd love to have the average or mean time plotted with gMonitor. All the information are there, it just needs to be sent.

Could you please assign to the appropriate person Andrei? I suppose that would be Adri.

[2014-10-22 20:31] #2132 closed, assigned to nobody

[2014-10-28 16:55] #334 closed, assigned to nobody

[2014-10-29 09:17] andresailer opened #2154 "Bug in DMS FileMetadata"
see the note regarding line 328 in #2150 for  DataManagementSystem/DB/FileCatalogComponents/FileMetadata.py
Please someone add a comment or fix the code.

[2014-10-29 09:19] #2154 closed, assigned to nobody

[2014-11-06 15:57] sposs opened #2165 "[v6r11] Cannot create trigger"
Hi,
There is a serious issue with the triggers: external DB providers, including Amazon, forbid the definition of user functions by default. I get this error when I try to create the trigger for the JobLoggingDB.LoggingInfo:

[code]

cf. http://forums.mysql.com/read.php?98,593340,593760#msg-593760

Also http://websitenotebook.blogspot.ch/2013/11/enabling-triggers-and-stored-procedures.html may be

[2014-11-06 16:03] #2165 closed, assigned to nobody

[2014-11-07 13:39] andresailer opened #2167 "Some scripts not sanitizing options"
For example

[code]

Will try to remove replicas from the StorageElement SLAC-SRM and then from the StorageElement
"-o/DIRAC/Setup=ILC-Production"

[code]

I think this also affects other scripts which take multiple options. The
sys.argv should be cleanup before this script does

[code]

[2014-11-07 16:22] fstagni opened #2169 "TransformationDB.getTransformation() parameters"
As a quick optimization, we should add the possibility to select a restricted list of parameters when calling, e.g. getTransformation()

e.g. getTransformations inside TransformationAgent only needs TransformationID, Status, Plugin, then GroupSize in TransformationPlugin, SourceSE, TargetSE, Destination, MaxFiles

The XML blob should be returned only if needed (there are not many cases)

[2014-11-20 09:17] #2111 closed, assigned to chaen

[2014-11-20 10:37] #1789 closed, assigned to chaen

[2014-11-28 16:55] andresailer opened #2187 "Add a removeFile call after failed putFile?"
I recently had some troubles with cern castor, where putFile would fail, but still leave a fileremnant on the storage element. In these cases the failover transfer did not succeed, because subsequent copy commands (transferRequests) to cern already found a file and failed again.
(For background see https://ggus.eu/?mode=ticket_info&ticket_id=110084 and https://ggus.eu/index.php?mode=ticket_info&ti

[2014-12-03 10:10] andresailer opened #2192 "[v6r11p25] Missing column in UserProfilesDB"
In the UserProfileManager we get this error message

[code]

It seems like one has to add the PublishAccess column.
ALTER TABLE up_ProfilesData ADD PublishAccess varchar(10) DEFAULT NULL AFTER ReadAccess;

Can someone tell me the correct Default value?
I think this also needs  to be changed in the python code for the table, right?

[2014-12-04 14:24] #2192 closed, assigned to nobody

[2014-12-05 10:44] andresailer opened #2194 "dirac-install: missing lcg-bundles: Fail or Fallback to compilation"
Hi,

Bug report feature request from one of our ilcdirac users:

Trying to install a new version of ilcdirac via dirac-install -V ILCDIRAC resulted in the following set of messages. Trying to install on ScientificLinux 5 (gcc 4.1, glibc2.5) at KEK-CC.
[code]
The last message indicates success, in spite of the ERROR of not finding the right set of libraries to download. This error was not recovered

[2014-12-05 18:37] #2187 closed, assigned to nobody

[2014-12-15 12:25] phicharp opened #2207 "DIRAC modules with same name as system modules"
Would it be possible to get rid of the Dirac modules that "replace" the system modules just with a difference in the fact that names are capitalized...
It is a real pain, for example when the disk on which Dirac is is mounted with case-insensitive namespace...
Very likely most of them should just be removed and replaced by the python native ones (e.g. Time that mainly replaces datetime.py and not

[2014-12-18 09:09] pigay opened #2213 "ProxyStorage fails on v6r12"
Since my upgrade to v6r12 (v6r12p8 more precisely), I'm not able to use ProxyStorage anymore.

I was using it to put/get files on SRM SEs from a non lcg enabled client.

Here is the error message:

[code]

Thanks in advance,

Pierre

[2014-12-18 13:02] ahaupt opened #2214 "Ease large configuration changes"
Hi,

on large installations with many configured CEs and queues it is some kind of complicated and error-prone to change settings of a larger number of similar instances. Two ideas come into my mind to improve the situation:
- introduce a default section for e.g. queues / CEs / SEs, etc., so that common settings just need to be done once
- provide better scripting capabilities to modify the config

[2014-12-21 13:05] #2213 closed, assigned to nobody

[2014-12-21 13:16] #2167 closed, assigned to nobody

[2015-01-06 11:06] fstagni commented on #752
Old task. I install in Jenkins all the DBs and services using standard tools, and all works (fixed fully within v6r12)

[2015-01-06 11:06] #752 closed

[2015-01-06 11:12] fstagni opened #2219 "Implement State Machine for WMS jobs"
At least to forbid jobs going from Failed to Running again (which is possible and right now may happen, if the job was stalled).

[2015-01-06 16:44] fstagni commented on #147
This is superseded, I believe, by the "Monitoring System" being implemented by Zoltan and Adri.

[2015-01-06 16:44] #147 closed

[2015-01-06 16:49] fstagni commented on #228
Done long ago

[2015-01-06 16:49] #228 closed

[2015-01-06 16:50] fstagni commented on #261
Chris, I assign this to you momentarily. Please close it if you think it's done.

[2015-01-06 16:53] chaen commented on #212
@fstagni you can close it is already in the DM

[2015-01-06 16:55] #212 closed

[2015-01-06 17:01] fstagni commented on #441
That deserves one more bump. Also considering it's more than 2 years old...

[2015-01-06 17:02] fstagni commented on #478
Superseded by https://github.com/DIRACGrid/DIRAC/issues/2019

[2015-01-06 17:02] #478 closed

[2015-01-06 17:09] fstagni commented on #1264
Fixed definitely in v6r13

[2015-01-06 17:09] #1264 closed

[2015-01-06 17:16] fstagni commented on #1095
To re-open if still valid...

[2015-01-06 17:16] #1095 closed

[2015-01-07 10:01] chaen commented on #261
All this (and more!) is already implemented in the DMScript of LHCbDIRAC.
There has been plenty of discussions about porting at least part of it into DIRAC if I understood correctly.
Anyway, most of what is said here is (or will be very soon) obsolete, so I think it can be closed, but I don't have the karma for it.

[2015-01-07 10:04] chaen commented on #988
What is the desired behavior ? What would you like to see as the output of dirac-dms-lfn-replicas ? I haven't looked at aliases yet :-)

[2015-01-07 10:05] chaen commented on #2129
Implemented and merged so I close

[2015-01-07 10:05] #2129 closed

[2015-01-07 10:05] fstagni commented on #261
Closing it, moving to DIRAC can be a good idea.

[2015-01-07 10:05] #261 closed

[2015-01-07 10:47] sposs commented on #988
I can't remember exactly what was the use case of this (2 years ago...). I think the idea was that in principle it's possible to assign aliases to resources and have many logical names that match one resource. If a SE changes its configuration because it changes for example its base path, I was thinking to add a new SE with the new configuration and replace the old SE configuration by an alias to

[2015-01-07 11:57] chaen commented on #988
Okay, but in that case I am not the one to be assigned for this :-)

[2015-01-07 12:11] sposs commented on #988
That's the reason it was initially assigned to Andrei. The thing is: the issue is only a DMS one as far as I can tell, as it's the only one where the config is only partially taken from the CS.

[2015-01-07 12:21] chaen commented on #988
Okay but I don't really see where the problem is. You add a new file/replica at a given SE, so the DFC stores an entry on that given SE, it doesn't matter if it is an Alias or not ?
Also, I don't clearly understand why you say that the SEManager should use getPfnForLfn ? First of all this method disappears in v6r13. And I am totally against calling any storage related method in catalog elements, a

[2015-01-07 12:39] sposs commented on #988
Actually, the initial problem is 2 years old, and I just remembered what the issue was. In the ILC VO, before using DIRAC, people were using the LFC and storing the files there. When I imported the files (LFC->DFC), there were some SEs that did not exist in DIRAC, and had a 'bad' name. I wanted to use the alias facilities to assign those 'strange' and unused SEs to properly defined DIRAC SEs so th

[2015-01-07 12:46] chaen commented on #988
Totally agree with the consistency. But as I said, I don't know all this alias business. I don't know what it does in the CE, I don't know what it does in the SE, and I don't know what it should be doing in the SE. If Andrei knows, he can take care. Otherwise, I'll dig into it

[2015-01-09 12:42] chaen commented on #782
The best is probably that the agent checking the integrity between an SE and the FileCatalog does it. This agent anyway needs a complete rewrite.

[2015-01-14 16:39] fstagni commented on #1483
Does this really make sense? Anyway we do direct submission to the CEs, we know at submission time CEName and QueueName, so does it really make sense to know? We can know the flavour already at server side.

On a related note, the PilotReference inside the pilot is used up to now so that the Matcher reports that a matched pilot goes in status "Running". This should be a job done by the pilot itsel

[2015-01-14 16:42] fstagni commented on #1495
I think this has been solved, after mutual agreement between me and Chris, by https://github.com/DIRACGrid/DIRAC/pull/2222

[2015-01-14 16:42] #1495 closed

[2015-01-15 15:37] hmiyake opened #2226 "Pilot reference mismatching on LocalComputingElement type jobs"
Hello,

Inside DIRAC pilot, it creates pilot reference based on specific environment variables:

if os.environ.has_key( 'CONDOR_JOBID' ):
  cliParams.flavour = 'SSHCondor'
  pilotRef = 'sshcondor://'+cliParams.ceName+'/'+os.environ['CONDOR_JOBID']

However, if we use LocalComputingElement type CE (e.g. condor), the reference is generated as condor://...
and doesn't match with the reference above.

[2015-01-26 09:13] closier opened #2241 "Exception in Framework/SecurityLogging"
Hi

It seems that we have difiiculty to zip file bigger than a given size:

2015-01-25 23:00:50 UTC Framework/SecurityLogging EXCEPT: Can't compress old log file /opt/dirac/data/securityLog/2015/01/20150119.security.log.csv
2015-01-25 23:00:50 UTC Framework/SecurityLogging EXCEPT: == EXCEPTION ==
2015-01-25 23:00:50 UTC Framework/SecurityLogging EXCEPT: <type 'exceptions.OverflowError'>:size does

[2015-02-03 23:48] hmiyake commented on #2226
Dear Andrei,

Thank you for addressing to the issue.
Actually, we also found several additional issues relevant to LocalComputingElement and condorce script.

- In LocalComputingElement._getJobStatus(), sometimes systemCall timeout occurs when SiteDirector handles lots of pilots.
Could you increase its timeout (say 100sec) or divide the jobIDList to small chunks?
If the number is configurable by C

[2015-02-04 11:17] atsareg commented on #2226
  Dear Hideki,

        Yes, this part is considerably reworked to be release in v6r13.
      I will take your observations into
      account in polishing it.

        Thanks a lot,
        Andrei

      On 04/02/15 00:48, hmiyake wrote:

      Dear Andrei,
      Thank you for addressing to the issue.
        Actually, we also found several additional issues relevant to
        LocalComputingElem

[2015-02-04 12:12] fstagni commented on #1488
Cleanup in https://github.com/DIRACGrid/DIRAC/pull/2230

[2015-02-04 12:12] #1488 closed

[2015-02-12 10:44] phicharp opened #2267 "New SE attribute required"
Currently we do not allow any job to use the Failover replica of a file. However we may also be willing to e.g. disallow using the tape replica of a file, without banning the tape SE.
For this purpose we propose to add an attribute to the SE:
UsableByWMS
for example... The default would be True, but it would be set to False in all FAILOVER SEs and possibly others (e.g. ARCHIVE), which would allow

[2015-02-16 14:34] phicharp commented on #2267
Andrei, please assign it to me...

I'll add here info on the implementation we are discussing with Chris.

Thanks!

[2015-02-16 14:46] atsareg commented on #2267
We should discuss the implementation. A single boolean UsableByWMS is probably not informative enough and certainly VO dependent. I would better consider a list, let say, Propeties which can have values like Failover, Tape, etc. Then these properties are interpreted by the WMS code with some "usability" rule.

[2015-02-16 17:32] phicharp commented on #2267
After discussion with Chris, the proposed implementation is to not have this information in the Resources section as it is an operational parameter.
For testing I have implemented it as a list of SEs or SEGroups as (names can be changed)
/Operations/<whatever>/DataManagement/SEsNotToBeUsedForJobs
/Operations/<...>/DataManagement/SEsUsedForFailover

It is then possible to define it with an SEGroup,

[2015-02-25 14:47] phicharp opened #2284 "Different methods between DFC and LFC"
We have a major problem with the method getDirectoryMetadata that has two different meanings in LFC and DFC an return completely different information..

* LFC: this is the metadata (in the POSIX sense) of the directory, similar to getFileMetadata
* DFC: returns the user metadata of the metadata part of the DFC

This was completely overlook.
Fortunately it is only used in LHCbDirac at one place an

[2015-02-25 14:50] phicharp commented on #2284
Also getDirectorySize doesn't return the same information... Here the LFC implementation was a bit "ad-hoc" in returning also the number of subdirectories and files, but this is what it is :(

[2015-02-25 15:00] phicharp commented on #2284
To illustrate these are the keys of the returned dictionaries for LFC and DFC

In [13]: lfc['Value']['Successful'] ['/lhcb/data/2012/RAW/FULL/LHCb/COLLISION12'].keys()
Out[13]: ['Files', 'TotalSize', 'SubDirs', 'ClosedDirs', 'SiteUsage']

In [14]: dfc['Value']['Successful'] ['/lhcb/data/2012/RAW/FULL/LHCb/COLLISION12'].keys()
Out[14]: ['LogicalFiles', 'LogicalDirectories', 'LogicalSize']

Clearly

[2015-02-25 15:18] atsareg commented on #2284
To keep the symmetry with the LFC and File/Directory case I suggest:
1. Rename in the DFC getDirectoryMetadata() -> getDirectoryUserMetadata()
2. Expose a new  getDirectoryMetadata() equivalent to LFC. For the moment there is no such method in the service interface in the DFC although there are equivalent methods in the underlying DB classes ( getDirectoryParameters() ).

[2015-02-25 15:19] phicharp commented on #2284
Continuing with listDirectory(), again different information returned:

In [50]: lfcRes['Value']['Successful'][d].keys()
Out[50]: ['Files', 'SubDirs', 'Links']

In [51]: dfcRes['Value']['Successful'][d].keys()
Out[51]: ['Files', 'Datasets', 'SubDirs', 'Links']

Up to here nothing special, just 'Datasets' added, but...

In [46]: dfcRes['Value']['Successful'][d]['Files'].values()[0]
Out[46]:
{'MetaD

[2015-02-25 15:57] phicharp commented on #2284
Another very annoying feature of the DFC:

In [72]: d = '/lhcb/data/2012/RAW/FULL/LHCb/'
In [74]: dfcRes = dfc.listDirectory(d)
In [82]: dfcRes['Value']['Successful'].keys()
Out[82]: ['/lhcb/data/2012/RAW/FULL/LHCb']

As you can see the key of the returned value is not the value used to call the method... This is really nasty. It is not complicated to keep internally the list and create the expect

[2015-02-25 16:23] atsareg commented on #2284
As for the listDirectories() in DFC you can call it with a second argument "verbosity" ( False by default ) which returns more or less information. In non-verbose case it is not returning replicas, for example. LFC client always returns replicas. So, this flag is not interpreted the same way.

[2015-02-25 16:27] atsareg commented on #2284
As for the LFN normalization - there was a long discussion on that in #1951. So, the views are varying. Please, have a look at it, and come up with your suggestion afterwards.

[2015-02-25 19:04] phicharp commented on #2284
This is not the most important... The most important is that the functionality is different...
How do I get the owner of a directory in the DFC, its creation date.. anything usually called metadata? getDirectoryMetadata() doesn't, so what?
That method should return the directory metadata and not the "user metadata"

For the LFC:
In [199]: lfc.getDirectoryMetadata(d)
Out[199]:
{'OK': True,
 'Value'

[2015-02-25 19:07] phicharp commented on #2284
Another strange feature:
when calling getDirectorySize(d), I understand one can call it with additional arguments to get the storage usage... However these cannot be passed as keyed arguments
getDirectorySize(d, longOut = True) doesn't work and doesn't fail...
getDirectorySize(d, True) works

I strongly suggest to implement all methods in the FileCatalogClient. Firstly it will document the signatu

[2015-02-25 19:10] phicharp commented on #2284
Can't you just change getDirectoryMetadata into getDirectoryUserMetadata (as for files) and implement a getDirectoryMetadata() that returns the real metadata?

I have almost reimplemented the StorageUsageAgent using the DFC, just missing getting the owner and the creation date....

[2015-02-25 19:12] atsareg commented on #2284
I suggested to do that (implement getDirectoryMetadata) in the above comment, I think this is what you want. So, far nobody using DFC needed the getDirectoryMetadata().

As for the getDirectorySize(), what you suggest can be done. Note that the semantics of getDirectorySize() in LFC and DFC turned to be different ( non-recursive vs recursive summary )

[2015-02-26 09:15] andresailer commented on #2284
We are using getDirectoryMetadata in ILCDIRAC. But as long as it is clearly mentioned in the release notes.

[2015-02-26 14:27] fstagni opened #2285 "Removed Downtimes"
The cached list of our downtimes does not consider that, from time to time, downtimes previously inserted in the GOCDB are later removed from GOCDB itself. But, our internal cache seems not to know about it.

[2015-03-11 09:48] acasajus commented on #441
PR ready in #2272

[2015-03-12 15:42] fstagni commented on #2019
Merged

[2015-03-12 15:42] #2019 closed

[2015-03-19 08:54] andresailer opened #2314 "RequestFinalizationAgent cleaning Replicas while they are inserted to the DB"
The RequestFinalizationAgent is removing entries in the CacheReplicas table while they are being inserted via the dirac-stager-stage-files script. This is especially prevalent when a large list of files is requested to be staged.
Would it be reasonable to add a delay for the Cleanup of CacheReplicas for entries younger than an hour or so? (e.g., this line https://github.com/DIRACGrid/DIRAC/blob/re

[2015-03-19 15:59] fstagni commented on #1984
I assign this task to @Sbalbp as he's doing already several additions and fixes for the components installations and monitoring.

[2015-04-24 07:30] hmiyake opened #2342 "MySQL configuration"
Hello,

I realized recent DIRAC doesn't allow MySQL tuning by configuration file:

https://github.com/DIRACGrid/DIRAC/pull/2146

However, --no-defaults is too tight for us since our DIRAC server has large memory and we'd apply some tuning items.
How about if it is replaced with --defaults-file=/opt/dirac/mysql/.my.cnf ?

Regards,
Hideki

[2015-04-24 09:57] atsareg commented on #2342
  My understanding is that adding
      --no-defaults was introduced for skipping the application of
      /etc/my.cnf
      which is often present for the system mysql installation.
      Absolutely that /opt/dirac/mysql/.my.cnf must
      be taken into account. Are you sure that these settings are not
      applied ?

        Cheers,
        Andrei

      On 24/04/15 09:30, hmiyake wrote:

[2015-04-24 10:21] hmiyake commented on #2342
At least it doesn't work on our environment.
I have tried many possible paths but any my.cnf and .my.cnf were read by mysql.

Cheers,
Hideki

[2015-04-27 08:42] graciani commented on #2342
Hi Hideki,

the reading of this file (/opt/dirac/mysql/.my.cnf) is trigger by setting
HOME to /opt/dirac/mysql/ in the file mysql//share/mysql/mysql.server (that
get's fixed during the installation).

You should have something like:

# If you change base dir, you must also change datadir. These may get
# overwritten by settings in the MySQL configuration files.

basedir=
datadir=/opt/dirac/mysql/d

[2015-04-27 09:52] hmiyake commented on #2342
Hi Ricardo,

Our mysql.sever already points the /opt/dirac/mysql as HOME.

basedir=/opt/dirac/versions/v6r12p28_1425405947/Linux_x86_64_glibc-2.12
datadir=/opt/dirac/mysql/db
export HOME=/opt/dirac/mysql

We haven't modified any relevant file other than .my.cnf, thus both basedir and datadir are given value by InstallTools.

Cheers,
Hideki

[2015-04-27 11:16] graciani commented on #2342
And what does "my_print_defaults" reports, typically you should see towards
the end something similar to:

Default options are read from the following files in the given order:
/etc/my.cnf /etc/mysql/my.cnf  ~/.my.cnf

where HOME=/opt/dirac/mysql implies that the last file becomes:

/opt/dirac/mysql/.my.cnf

This will work provided that there are not conflicting settings in the
other .cnf files th

[2015-04-27 11:59] andresailer commented on #2314
Bump.
Can someone confirm this is a bug?

[2015-04-27 11:59] #2194 closed

[2015-04-27 12:01] andresailer commented on #2077
Any news on this?

[2015-04-27 17:54] hmiyake commented on #2342
Hi Ricardo,

My point is "What is read by mysqld_safe under --no-defaults".
If $HOME/.my.cnf is read in correct system, something should be wrong in our environment.

Cheers,
Hideki

[2015-04-28 08:40] graciani commented on #2342
Hi Hideki,

the script that it is used by DIRAC to start mysql is

$DIRACROOT/mysql//share/mysql/mysql.server

and given the same environment "my_print_defaults" should report the actual
values used by "mysqld_safe"

How are you starting MySQL in your installation?

Ricardo

On 27 April 2015 at 19:54, hmiyake <notifications@github.com> wrote:

--
===================================================

[2015-04-28 09:18] hmiyake commented on #2342
Hi Ricardo,

We are using control script given by DIRAC installation page:
http://diracgrid.org/files/docs/AdministratorGuide/InstallingDIRACService/index.html

The script invokes mysql.server which was modified by InstallTools.

$ my_print_defaults --no-defaults --basedir=/opt/dirac/versions/v6r12p28_1425405291/mysql --datadir=/opt/dirac/mysql/db --user=dirac --log-error=/opt/dirac/mysql/db/can66

[2015-05-05 15:42] kazeevn opened #2356 "Getting "directory not found" while selecting a directory through the tree browser"
Dear DIRAC developers,

I'm sorry if that's the wrong place to report - I also tried forum, but the posting there is closed to public.

I tried to view metainformation for LFN:/lhcb/MC/2012/ALLSTREAMS.DST/00040479/0000/00040479_00000002_2.AllStreams.dst I've selected it through the file browser in the top-right pane, clicked the green button beneath it and got "directory not found" error - attache

[2015-05-05 15:56] chaen commented on #2356
Hi,

indeed there is a problem with the web interface for the time being. This should be fixed in the new future. Sorry about that.

Chris

[2015-05-07 02:36] #2342 closed

[2015-05-08 15:01] phicharp opened #2363 "The FileCatalogCLI doesn't work for certain actions"
Due to an inconsistency in the way to change owner or set permissions to files and directories in the DFC, the CLI command chown or chmod doesn't work properly...
Could this be fixed please?

[2015-05-08 15:07] chaen commented on #2363
To be more specific, changing a directory (Mode, Owner, Group) does not have the same interface as the files.
For directory, the parameter should be  { 'myLFN' : {'Mode' : 0o755} }, while for Files it should be {'myLFN' : 0o755}. Same goes for Owner and Group

[2015-05-18 10:19] fstagni opened #2373 "Use BDII information for RSS status for ComputingElements"
If a CE has the following status:
  GlueCEStateStatus: Draining

than it can be set as "Banned"

For example:
dirac-admin-bdii-info ce-state cygnus.grid.rug.nl |grep -e CE: -e GlueCEStateStatus:
CE: cygnus.grid.rug.nl:8443/cream-pbs-short
  GlueCEStateStatus: Draining
CE: cygnus.grid.rug.nl:8443/cream-pbs-medium
  GlueCEStateStatus: Draining

[2015-05-18 14:36] phicharp commented on #2363
In addition the "recursive = True" options should be implemented in an efficient way.

Any assignment of this issue? Is it considered normal?

[2015-05-18 15:00] atsareg commented on #2363
I have the recursive implementation already coded but not yet properly tested to go in v6r13. It is quite a lot of code changes. So, normally should go into v6r14.

[2015-05-18 16:44] phicharp commented on #2363
Thanks Andrei!
What about the initial issue that is a real pain...

[2015-05-18 17:06] atsareg commented on #2363
Yes, this one I will try to fix quickly

[2015-05-22 15:07] andresailer opened #2382 "DFC: DirectoryUsage issues"
Two Issues with the DirectoryUsage for the DFC:

a)
I noticed some errors in the DirectoryUsage overview in the FileCatalogCLI

[code]

Notice the negative size and number of replicas. This was probably caused by me unregistering all the replicas on PNNL-SRM, and in some cases unregistering replicas no longer present at PNNL-SRM, but those were still subtracted from the usage.

b)
When I tried to

[2015-05-23 21:07] atsareg commented on #2382
In your case the DirectoryUsage somehow got out of sync with the actual contents of the catalog. You correctly did the rebuilding of the table. This is a lengthy operation, so it is kind of normal that you have got a timeout ( I will increase the timeout for this command ). This recreates the DirectoryUsage tables completely. In the normal course of operations, the table is updated each time there

[2015-05-23 21:08] atsareg commented on #2363
Fixed in v6r13

[2015-05-23 21:08] #2363 closed

[2015-05-23 21:11] atsareg commented on #2285
Can this issue be closed ?

[2015-05-24 07:49] avedaee commented on #2285
I would say yes.

[2015-05-24 10:20] #2285 closed

[2015-05-24 11:26] atsareg commented on #2382
This is rather a topic for discussion in the DIRAC forum. Closing it here

[2015-05-24 11:34] atsareg commented on #1502
The client needs to add Configuration data for the new service. This is done by the client in order to keep track of the author of the new CS changes. So, I would say that this is normal that the client of the service administrator is installed and configured with the necessary extensions.

[2015-05-24 11:37] atsareg commented on #1466
This should be solved once forever in v6r14 with a uniform discovery and checking of the available extensions

[2015-05-24 11:40] atsareg commented on #1505
Agents needing shifter proxies ( we should progressively get rid of those ) must have a mandatory VO option and run one agent per VO in the multi-VO installations.

[2015-05-24 11:45] atsareg commented on #1314
Should have been fixed a while ago. Reopen if you still see the issue

[2015-05-24 11:45] #1314 closed

[2015-05-24 11:47] atsareg commented on #1227
Implemented in v6r12

[2015-05-24 11:47] #1227 closed

[2015-05-24 11:48] atsareg commented on #1203
Fixed in v6r13 by using a standard ObjectLoader for Storage plugins

[2015-05-24 11:48] #1203 closed

[2015-05-24 11:50] atsareg commented on #1177
Done a while ago by setting up a removal request when the corresponding job is deleted in the JobCleaningAgent

[2015-05-24 11:50] #1177 closed

[2015-05-24 11:53] atsareg commented on #1037
The following is available in COMDIRAC:
dfind . FileName=*.ext
in v6r13:
dirac-dms-find-lfns Path=/lhcb/yser/s/sposs FileName=*.ext

[2015-05-24 11:53] #1037 closed

[2015-05-24 11:59] atsareg commented on #372
The problem with the clock desync, not a DIRAC issue

[2015-05-24 11:59] #372 closed

[2015-05-24 12:01] atsareg commented on #207
Should have been fixed a while ago

[2015-05-24 12:01] #207 closed

[2015-05-24 12:03] #176 closed

[2015-05-25 12:29] andresailer commented on #2382
As I said, I am pretty sure the negative size and number of files is caused when calling
"unregister replica LFN SE" for replicas no longer present at the given SE, so this is a bug that needs to be fixed.

I think the rebuild command does not work properly when there are other file additions in the catalog while the command is running.

If it is normal to get a timeout, why not print out a messag

[2015-05-25 17:03] chaen commented on #1505
why do you want to get rid of those ? I don't see how you could, providing that the DFC (for write operations) needs a proxy, and not a server certificate

[2015-06-05 14:02] andresailer opened #2403 "RescheduleCycle = -1 in JobDB.AtticJobParameters Table"
https://groups.google.com/forum/?hl=en#!topic/diracgrid-forum/vFFj8MI2eSg
Sometimes RescheduleCycle =  -1 happened.

[2015-06-08 13:00] andresailer opened #2405 "Error for Replication Transformation (broadcast plugin) and parameters as Tuples"
If one creates a Replication Transformation and passes the source or target SE as tuples (instead of lists), things start to break (the sql statements is broken because the tuple is weirdly interpreted later on.

Maybe Transformation.__setSE should check for tuples and convert them to lists?

Also the version in v6r11 and v6r12 are different, but it seems this is only due to the different merging

[2015-06-08 17:19] phicharp commented on #2405
Frankly, this is awful code, right!
I'll try and include a quick fix in my current PR...
B.t.w. thanks for commenting it ;-)

[2015-06-10 06:32] chaen opened #2413 "DIPS as third party"
Hi,

there were places were it was hard coded that dips could be used as a third party copy protocol. What it actually does is download locally, and then upload. The problem is that it doesn't work :-)
[code]

The problem is in the DIPStorage class, line 110, when constructing the srcSEURL. We don't append the equivalent of the base path, that is the name of the service. We construct something lik

[2015-06-10 09:10] chaen opened #2414 "Granting trigger by default"
With the way of installing the DB using python, some permissions are omitted, that are necessary. For example, a freshly installed stager cannot work. Trigger, create routine, and alter routine should also be granted. I assume it is in the Core/Utilities/InstalLTools.

[2015-06-10 11:09] atsareg commented on #2414
Fixed in v6r13

[2015-06-10 11:09] #2414 closed

[2015-06-10 11:19] chaen opened #2416 "Monitoring should never make an operation fail"
Trying to do a data management operation, some accounting information were supposed to be send. Since it couldn't work, it tried to setup a Request to send the information. And as there was no RequestManagement system defined in the CS, the whole operation crashed with an exception

This is conceptually wrong. Monitoring should be on the best effort basis, and by no mean prevent the operation to h

[2015-06-11 14:03] fstagni opened #2420 "Create a "Stager" optimizer"
The "Stager optimizer" should just verify if there is the need to stage, and issue the staging request if needed. This logic is, as of today in the JobScheduling executor.

[2015-06-11 15:37] fstagni opened #2421 "JobWrapper can't read optimizer info, calling catalog"
In all LHCb pilot outputs I get the following message:

"Optimizer information could not be converted to a dictionary will call catalog directly".
Which I think is a generic problem.

To be fixed in order to avoid unnecessarily queries to the FC, but BannedSEs should be considered at run time.

[2015-06-15 14:23] #1932 closed

[2015-06-16 11:40] andresailer opened #2432 "Feature Request: FileCatalogCLI: execfile, EOF"
As I requested at the 4th (SIC) Dirac user workshop it would be nice to have a execfile method to execute a list of commands for the FC-CLI.
It would also be good if (all) the CLIs would understand the EOF (CTRL-D) character(?).

Currently I do
[code]
which works nicely, as long as I don't forget to add "exit" as the last line of inputfile.

[2015-06-25 10:52] #1984 closed

[2015-06-25 10:54] fstagni commented on #2405
I guess this can be closed now, right?

[2015-06-25 10:54] #2405 closed

[2015-06-25 11:02] fstagni commented on #2095
Was this fixed? (looking for possibilities to close tasks...)

[2015-06-25 11:04] fstagni commented on #209
Resurrecting after 4 years... is this still a valid feature request? If this is the case, I think it can be assigned to Sergio.

[2015-06-25 11:14] fstagni commented on #336
Is this still valid (looking for closing tasks)

[2015-06-25 11:49] andresailer commented on #2405
I think there is still something wrong with the _Broadcast function in TransformationPlugin.
(https://github.com/DIRACGrid/DIRAC/blob/rel-v6r13/TransformationSystem/Agent/TransformationPlugin.py#L69)
Why are sourceSE and targetSE parameter treated differently?
[code]
sourceSEs is just eval'ed but targetSEs lots of things are checked.

[2015-06-25 11:59] sposs commented on #2405
Hi Andre,
AFAIR, this is because the Source SE isn't really used... I added the other
checks because eval is evil.

Cheers,
S Poss

Le jeu. 25 juin 2015 à 13:49, andresailer <notifications@github.com> a
écrit :

[2015-06-25 12:01] sposs commented on #2405
Ok, sorry, it is used in line 100. There is another reason: the way those
are stored in the DB. They aren't handled the same way...

Le jeu. 25 juin 2015 à 13:59, Stéphane Poss <stephposs@gmail.com> a écrit :

[2015-06-25 12:28] andresailer commented on #2405
To me the two variables' contents look very similar when they are being defined.
There used to be checks for sourceSEs as well
https://github.com/DIRACGrid/DIRAC/blob/rel-v6r11/TransformationSystem/Agent/TransformationPlugin.py#L86
But they were just ignored because in line 100 sourceSEs gets overwritten again.
Maybe the checks for targetSE params can be dropped as well?

[2015-06-25 13:10] sposs commented on #2405
I remember there were some nasty effects with the eval. Now some parts of
the TransformationAgent have been changed and it's very possible that none
of this is needed anymore. At least I hope, because it's ugly code...

Le jeu. 25 juin 2015 à 14:28, andresailer <notifications@github.com> a
écrit :

[2015-06-30 12:12] andresailer opened #2462 "[v6r12] pilotCommands __doOSG does not work: AttributeError: 'PilotParams' object has no attribute 'installScript'"
I have pilots running at IFCA-LCG2 now, which don't do anything, but end with this message:

[code]

The pilots run the __doOSG function, because have the environment variable
[code]
defined.
This line is then causing the error
https://github.com/DIRACGrid/DIRAC/blob/rel-v6r13/WorkloadManagementSystem/PilotAgent/pilotCommands.py#L579
[code]
self.pp.installScriptName also does not exist either by t

[2015-07-07 15:58] fstagni commented on #2462
You are probably correct, indeed this part is a copy paste of some very old code, but I would like to know what @atsareg says about it.

[2015-07-08 15:04] fstagni commented on #2314
Daniela is, I believe, not anymore in the loop. I assign Chris.

[2015-07-08 15:13] fstagni commented on #1408
Is this still valid?

[2015-07-08 15:13] fstagni commented on #1163
Closing, I guess...

[2015-07-08 15:13] #1163 closed

[2015-07-08 15:15] fstagni commented on #1013
This seems quite easy. I assign it to @Sbalbp

[2015-07-08 15:16] fstagni commented on #441
This can be closed...

[2015-07-08 15:16] #441 closed

[2015-07-08 15:21] fstagni commented on #819
There's by now dirac-admin-add-group and dirac-admin-add-shifter which I would say it is enough (even if it's not exactly what is requested here). Closing.

[2015-07-08 15:21] #819 closed

[2015-07-09 14:36] fstagni commented on #1106
@marcelovilaca this is just another script of the "same" field of consistency checks. I assign it to you, just for not forgetting about it. No rush (this is a ~30months old task...)

[2015-07-10 15:12] andresailer opened #2493 "[v6r13] FileCatalog/UniqueGUID=False no longer works"
[code]
This still worked in v6r12

[2015-07-10 15:27] andresailer opened #2495 "[v6r13] XRootStorageElement not working , TestXRoot not Working"
[code]

BTW: None of the tests in TestXROOTStorage.py work any longer either

[2015-07-10 15:43] chaen commented on #2495
Hi,

this code was working at some point. What version do you use ? In any case, we never had this code run in production unfortunately (library distribution problem, lack of time, etc). But anyway we plan to get ride of this one as soon as the gfal2 plugins will be certified in v6r13 (August). In case you need it in v6r12, I'm afraid you will have to debug it yourself (here a slash is missing bet

[2015-07-10 15:44] chaen opened #2496 "VOMSProxy table not cleaned properly"
When removing a proxy from the web portal (but most probably not only), it only cleans the "DIRAC only" proxy, but the proxy with the VOMS extension stored in the separate table is not removed, and still picked up.

[2015-07-10 15:56] andresailer commented on #2495
It is working in v6r12, it is broken in v6r13.

[2015-07-10 15:58] chaen commented on #2495
Then this are the changes that we did when reshuffling the DMS, and mainly refactoring the calls to the StorageBase class. @atsareg  did that, I don't know whether he ran the unit tests

[2015-07-10 16:04] chaen commented on #2493
as far as I can tell, there is no difference between v6r12 and v6r13 for that. Was it the exact version of v6r12 that you were using.

As far as I can see, the only change was between p19 and p20, but it should not impact you
This are the changes in the 'exists' call

https://github.com/DIRACGrid/DIRAC/pull/2264/files#diff-6d8a63e48e93cf99613fd6df1ce17cf3

[2015-07-13 08:33] andresailer commented on #2493
ARGH, I didn't restart my FileCatalog instance after changing the variable in the CS.
This was a false alarm
Thanks for your help.

[2015-07-13 08:33] #2493 closed

[2015-07-13 09:40] andresailer commented on #2495
Ok. I see there are already GFAL2_ Storage Modules in Dirac.
I guess those are not expected to work at the moment?

[2015-07-13 11:12] chaen commented on #2495
you're welcome to give them a try. We will certify it during august

[2015-07-13 11:16] andresailer commented on #2495
So they are supposed to work? With which lcg bundles or client externals?

[2015-07-13 11:28] chaen commented on #2495
@fibbo to comment on that.
As for which version of the lcg bundles, I don't know when @closier included that, but 2015-06-26 for sure contains the necessary bits

[2015-07-13 12:00] andresailer commented on #2495
Ok, after installing with 2015-06-26 and dirac v6r13
and doing this:
[code]

It actually worked with this
[code]
Note, it needs full path of the local file.
CERN-EOS-TEST is a GFAL2_XROOT SE

[2015-07-13 12:06] chaen commented on #2495
Very good news, thanks for the feedback ! Did you try also with ./test20.stdhep ?

@fibbo , can you fix this please ?

[2015-07-13 12:13] andresailer commented on #2495
Doesn't work either
[code]

[2015-07-13 12:32] fibbo commented on #2495
I'm on it!

[2015-07-15 11:53] andresailer opened #2502 "[v6r12/v6r13] Different SEs Classes return different file Metadata, DownloadInputData fails"
In this file: DIRAC/WorkloadManagementSystem/Client/DownloadInputData.py (both v6r12 and 13 very similar)

[code]

It tries to access the metadata keys: Lost, Unavailable and Cached
which are available for files on SRM SEs (SE Class SRM2Storage)

[code]

However, the EOS SEs give different metadata.
in v6r13 using the GFAL2_XROOT Storagelement I get this from getFileMetadata

[code]

in v6r12 with

[2015-07-15 12:09] chaen commented on #2502
The point here is that there is no way in xroot to interact with tape so far, so "Cached" does not make sense. I am not sure either what would "Lost" and "Unavailable" mean, since contrary to SRM, there is no metadata server in front of the storage.
From there, there are different approaches. What I think is the correct one is to define a minimum set of information that should always be present; t

[2015-07-15 12:53] andresailer commented on #2502
Maybe I wasn't clear enough. At the moment the DownloadInputData fails with an exception, because of metadata['Lost'], when I have input data (only?) on the XROOT storage. I would like a fix for this soon.
So the least intrusive change is to change the getFileMetadata of the XROOT Storage classes.

Alternative is to check every time the metadata dict is accessed if the key exists and decide on the

[2015-07-15 13:04] chaen commented on #2502
Either that, or replace metadata[X] with metadata.get(X) in the DownloadInputData, which I believe is more logical, since as I said, these fields do not make sense for xroot

[2015-07-15 13:24] andresailer commented on #2502
The Dirac StorageElement returns a dict including Cached, Lost, Unavailable.
https://github.com/DIRACGrid/DIRAC/blob/rel-v6r13/DataManagementSystem/Service/StorageElementHandler.py#L120
Probably more consistent to do it similarly for XRoot, instead of hunting down every place this function is used.

[2015-07-15 13:36] chaen commented on #2502
and so in the four new plugins on their way (S3, HTTP, File and GSIFTP) I should introduce this non sense as well ?
I just checked, the only places where it is used are the Stager (obviously), the workflow, the DataIntegrity and the FTSRequest (to disappear very very soon).

In any case, as a general comment. For sake of following the ongoing evolutions, we will have to be much more flexible on th

[2015-07-15 14:38] andresailer commented on #2502
Why can't the StoragElements offer a uniform interface instead of making protocol dependent code in  other places, unless absolutely necessary?

[2015-07-15 15:54] chaen commented on #2502
I agree that a minimum set should be made uniform. But the metadata is by essence something protocol/storage specific. Don't you think so ?

[2015-07-15 15:58] chaen commented on #2502
And to be a bit more specific, there are cases where the client must ask for specific protocols. For example FTS, or Storage.
Also, this is very new and no code is ready yet, but if we want to start supporting more generic storage than the incestuous world we are in currently (dCache, DPM, Storm and so on), we will have to start making the code aware of the capabilities of the storage which it is

[2015-07-15 16:41] andresailer commented on #2502
What do you mean in Storage the client has to ask for protocols? Obviously the different child classes of StorageElement implement protocol specific behaviour. In the end everybody outside of the StorageElements should be able to use a set of well defined interfaces and not care about the implementation details. So for compatibility at the moment the metadata has to contain these "nonsensical" ent

[2015-07-15 17:42] phicharp commented on #2502
My 2 cents: I tend to agree with André that the plugins should at least return the elements that are expected by other modules in DIRAC. As for ‘Cached’ it makes sense for any protocol that is not supporting tape to return True although it may not be true (e.g. using the XROOT plugin on Castor) but this is the best one can do. Using get(‘Cached’,???) requires a default value that can only be  True

[2015-07-15 17:51] atsareg commented on #2502
  I would suggest to have a DIRAC
      "standard" set of elements in this dictionary that are necessary
      for the logic of the DIRAC clients of this method. Once this is
      defined, then all the implementations
      must map any standard or specific field onto the DIRAC "standard"
      set of fields whereever appropriate
      or return some default value is the field is irrelevant for t

[2015-07-15 19:35] chaen commented on #2502
Correct me if I am wrong, but I have the feeling we all agree that there should be a minimum set of metadata always returned by the plugin, and the question is "should Lost, Cached, Unavailable" be part of it ? If so, how about we define one entry, let say randomly "Accessible" (or you name it), which will always be returned, by default True, and for specific case like SRM, it could be computed as

[2015-07-16 06:59] atsareg commented on #2502
I think we are speaking about the same thing. I just suggest to look at this from the side of the caller of the getFileMetedata(): what values are needed/useful for the current and possibly future clients. Then make an abstraction of this values and implement it for each plugin by mapping specific internal plugin values onto this generic abstraction. Of course all the mentioned clients must be rev

[2015-07-16 07:45] chaen commented on #2502
Yes, then we totally agree.
There are exceptions though. For example, in the stager, you want specific information regarding the "cached" status. But then, in the stager, we should specifically ask for srm protocol. But the general case should indeed be using these abstractions.
Andre, does that sound correct to you ?

[2015-07-16 07:48] andresailer commented on #2502
Yes, having the abstraction sounds very reasonable, as this sounds like a somewhat delicate operation, this should probably be done for v6r14 or 15?
To get EOS working in v6r12 and 13 can I again propose that we just add the the three entries to the dictionaries in XROOT and GFAL2_XROOT getFileMetadata, which is just a small patch.

[2015-07-16 07:53] chaen commented on #2502
Okay, sounds reasonable. Can I let you do the patch, and I do the final implementation ?

[2015-07-16 07:54] andresailer commented on #2502
Works for me.

[2015-07-22 14:24] andresailer commented on #2462
Solved by #2503

[2015-07-22 14:24] #2462 closed

[2015-08-03 11:45] andresailer opened #2519 "[v6r12, 13, integration] JobDescription, JobManifest: Values taken from TaskQueueDirector Section"
When I tried to submit a job with "mode='agent'" I couldn't because I had removed the TaskQueueDirector from the CS, because the Agent is not used any more.
This resultet in an "unknown submitpool" or something message.

There are options taken from the TaskQueueDirector section.
https://github.com/DIRACGrid/DIRAC/blob/rel-v6r12/WorkloadManagementSystem/Client/JobDescription.py#L146
[code]
Same co

[2015-08-04 11:46] atsareg opened #2521 "meta remove fail on dirac catalog CLI"
From the manual the function is called:
meta remove <path> <metaname>

I got type mismatch in parameter 0 (see attached snapshot).

[2015-08-05 12:14] andresailer commented on #2521
Hi Andrei,
Are you going to fix this soon, if not I would take a look
Thanks,
Andre

[2015-08-13 13:55] andresailer opened #2535 "[v6r12]Permissions for diracAdmin in DFC"
Running chown, chgrp as diracAdmin is not possible in the filecatalog-CLI, again.
chown:
Error: Server error while serving changePathOwner: string indices must be integers, not str
chgrp
Error: Server error while serving changePathGroup: string indices must be integers, not str

chmod gives some other error:
chmod 766 <dir>
Error: Server error while serving changePathMode: 'int' object has no attr

[2015-08-13 13:57] chaen commented on #2535
Most probably that : https://github.com/DIRACGrid/DIRAC/pull/2376

[2015-08-13 14:00] andresailer commented on #2535
Thanks, will see if this fixes it.

[2015-08-13 14:36] fstagni commented on #2535
So, this can be already closed?

[2015-08-13 14:45] andresailer commented on #2535
Once the PR gets merged.

[2015-08-19 09:07] andresailer commented on #2495
Is there any news on the gfal2 validation?
I also had posted something in the forum https://groups.google.com/forum/?hl=en#!topic/diracgrid-forum/pMkjG1PLrLg
Are these libraries going to be included in the new lcgbundles, and what about the environment  variables?
Thanks

[2015-08-19 09:10] chaen commented on #2495
currently being certified. No way to get a proper deployment yet (to answer your forum question). 2.9.1 is distributed on AFS, but segfault for the SRM plugin. Fighting for it. I let you know once we get to something
Cheers

[2015-08-19 09:13] andresailer commented on #2495
Ok, thanks for the update.

[2015-08-19 09:38] #2521 closed

[2015-08-19 09:39] #2535 closed

[2015-08-21 14:05] fstagni commented on #2064
This is fixed in DIRAC v6r14

[2015-08-21 14:05] #2064 closed

[2015-08-21 14:06] fstagni commented on #2063
@rajanandakumar can you confirm this issue is still valid?

[2015-08-21 14:09] fstagni commented on #778
Is this issue still a valid one?

[2015-08-21 14:10] #716 closed

[2015-08-21 14:15] rajanandakumar commented on #2063
It should be fixed with v6r14, using the queue parameter (coded in by Andrei now).
I am assuming here that the problem is not with DIRAC, but we should see.

[2015-08-21 14:19] fstagni commented on #2063
Thanks, so I close this issue.

[2015-08-21 14:36] phicharp commented on #778
As we alluded to recently, I think we should, at least for LHCb, use a completely different strategy for pilot submission.
My proposal would be to use the same strategy used by vcycle and vac i.e. to throttle pilot submission as soon as pilots report they have not matched any job. This would allow a full decoupling (which anyway is kind of fake) between the site directors and the task queues, sinc

[2015-08-21 15:20] atsareg commented on #778
I think there are many ways in how the pilot submission can be improved. For LHCb, explicit throttling of the pilot submission if no matching jobs found can be a kind of coping with the case of job limits and matching delays. For others, who do not use these instruments, throttling does not make sense since piltos will not be sent if no more jobs in the queues. Decoupling of task queues and site d

[2015-09-02 14:41] fstagni commented on #209
Bump

[2015-09-03 10:51] fstagni opened #2572 "RSS DonwtimeCache to be updated with removed downtimes"
The case is the following:
- Downtime xyz is registered in GOCDB
- CacheFeederAgent cache it in ResourceManagementDB/DowntimeCache
- Downtime xyz is removed from GOCDB before it starts (or during its active period)

At the moment, downtime xyz is NOT removed from ResourceManagementDB/DowntimeCache

CacheFeederAgent (via DowntimeCommand().doNew()) should remove dowtime xyz

[2015-09-04 09:00] avedaee commented on #2572
https://github.com/avedaee/DIRAC/commit/29dd3fba3aad6619d2dace0682e04b485df04428

[2015-09-14 11:54] andresailer commented on #1901
I guess there is no solution to the RequestExecutingAgent getting stuck in any of the newer versions (v6r13, v6r14), right?
As I encountered this issue three times in the last week, I would now write an agent that checks the age of the "current" log file and force a restart of the RequestExecutingAgent when this file is getting too old.

[2015-09-14 11:59] chaen commented on #1901
Extra protections have been added,and one can decrease the likelyhood, but I don't think that there is any ultimate solution

[2015-09-15 11:49] #1013 closed

[2015-09-22 10:31] chaen commented on #2496
Any progress on this ? It is quite a problematic bug

[2015-09-30 05:22] hmiyake opened #2627 "[integration,v6r14,v6r13,v6r12] Conditional Expressions in dirac-install.py"
Hello,

I realized recently following code was added to dirac-install.py (for integration, v6r14, v6r13, v6r12)

terminfoLocations = [ defaultLocation ] if defaultLocation else []

However the code does not work on SL5 since python 2.4 doesn't recognize the conditional expressions.
Do you still support SL5? If so, could you modify the code above?

Best Regards,
Hideki

[2015-09-30 06:30] chaen commented on #2627
Hi Hideki,

this form of code is used everywhere in DIRAC, so I would say that de facto python 2.4 is not supported.

Cheers,
Chris

[2015-09-30 06:32] andresailer commented on #2627
dirac-install.py is run to install dirac, so there is no guarantee yet that python 2.6 or 2.7 is used.
I added this ternary operator and did not realise that it would cause problems, but it can be easily replaced.

[2015-09-30 06:51] hmiyake commented on #2627
Thank you for quick reply!
Usually we are using bundled python (2.7 in case of us), but some initial scripts run on system python.

Cheers,
Hideki

[2015-09-30 07:03] chaen commented on #2627
Oh I see, sorry I misunderstood that point. Thanks for correcting me Andre

[2015-09-30 07:15] andresailer commented on #2627
@atsareg et al.
Is dirac-install.py always picked up (wget ...) from the integration branch, or is there any case where this is used from one of the release branches? Just wondering if this needs to be fixed in the release branches as well.

[2015-10-06 11:23] andresailer commented on #2627
So the SiteDirector bundles the local dirac-install.py when submitting pilots, so it needs to be fixed in v6r12 as well.

[2015-10-20 07:45] fstagni opened #2659 "Cron-job like agents"
We need a new option for our agents, so that it is not a periodic cycle but a cron-like.

[2015-10-20 08:06] fstagni opened #2660 "Service re-trials: round robin"
It is agreed that it would be beneficial that, in case of multiple services, and failures in connecting, the re-trials are done in a round robin fashion.

[2015-10-26 13:51] sfayer opened #2677 "[v6r14, 15] __init__.py incorrect version number"
Hi,

We've noticed on the rel-v6r14 & rel-v6r15 branches, the version number in the top-level \_\_init\_\_.py (specifically the minorVersion constant) is out-of-date, which causes the wrong version to be displayed in various places. Would it be possible for this to be fixed?

Thanks,
Simon

[2015-11-02 18:04] andresailer commented on #2495
Any news on this for GFAL2?

[2015-11-03 10:35] fstagni commented on #1901
Given the discussion here, I close this task. It can be re-opened at any time.

[2015-11-12 10:38] chaen commented on #1901
yep, I have the feeling that this documentation will never be written anyway. It's okay, I still have the piece of paper on my desk if anyone wants to come and read it :-)

[2015-11-12 12:21] chaen commented on #2495
Seems like Joel got it to work, but not with the python shipped by the externals I believe. Maybe @closier can give more details

[2015-11-13 08:54] fstagni commented on #2677
Fixed in https://github.com/DIRACGrid/DIRAC/pull/2712 (v6r15)

[2015-11-13 08:54] #2677 closed

[2015-11-13 08:56] #2627 closed

[2015-11-13 09:27] fstagni commented on #2519
Fixed in https://github.com/DIRACGrid/DIRAC/pull/2712 (v6r15)

[2015-11-13 09:27] #2519 closed

[2015-11-13 09:32] #1901 closed

[2015-11-13 10:12] fstagni opened #2724 "Discover pilot parameters at runTime"
I suggest that the list of commands, and the extensions, that the pilot executes could be potentially discovered at runtime, from a configuration. This is one of things originally discussed in the RFC: https://github.com/DIRACGrid/DIRAC/wiki/Pilots-2.0:-generic,-configurable-pilots
This will have the beneficial effect of not having to change several pilots (there's not only the SiteDirector) when

[2015-11-27 16:23] fstagni commented on #1483
Closed as invalid. Also regarding the "PilotReference": it will be changed with the pilot logging system.

[2015-11-27 16:23] #1483 closed

[2015-12-07 10:24] fstagni commented on #2502
Can this be considered as solved?

[2015-12-07 10:26] #2373 closed

[2015-12-07 10:26] andresailer commented on #2502
I think @chaen still wants to do a proper implementation (unless I missed it), but for me things are working

[2015-12-07 10:28] fstagni commented on #2267
Can this be considered as closed?

[2015-12-07 14:08] chaen commented on #2502
No no, you did not miss it, it is still on my todo list

[2015-12-07 14:22] phicharp commented on #2267
I have to check! ;-)

[2015-12-07 17:27] fstagni commented on #2724
It has been discussed that we may instruct the Configuration Server to create the JSON file, starting from the /Operations/pilot section in the CS. This has the advantage of keeping one and one only source of configuration (from the user point of view), which is the CS.
The JSON file should be publicly accessible, and its location known.

These changes may be placed in the same PR, and should then

[2015-12-08 11:54] andresailer commented on #2413
@fstagni: This issue looks like it is related to my log storage element writing to a different path in v6r14
I have the DIP SEs defined with something in the AccessProtocol.1/Path which used to be ignored. And now this Path is prepended to the local storage path. Leaving the "Path" empty (or just "/") causes the error as posted above.
I'll try removing "dips" from the ThirdPartyProtocol list and s

[2015-12-13 20:59] atsareg commented on #2660
Implemented in v6r15

[2015-12-13 20:59] #2660 closed

[2015-12-15 07:58] calancha opened #2745 "Changing UID, GID or Mode for a lfn update its ModificationDate"
The ModificationDate is the time displayed by the fcCLI command **ls**, so
changing above fields will change the order of the listing of one directory.

I do like if fcCLI would resemble an UNIX system, with those UID,GID,Mode changes
not modifying the timestamp showed in the listing.

[2015-12-15 10:47] fstagni opened #2746 "Add pilot wrapper parameter for setting the pilot execution directory"
Certain sites (CEs) needs to run pilots (and jobs) in a specific directory. This directory is set by the pilot wrapper, which is written by the SiteDirector.

We suggest that the SiteDirector checks if there is an option defined for the CE, named for example "PilotRunDirectory", and if it exists, use it for setting the run directory.

Note: it already exists a "WorkDirectory" parameter that does t

[2015-12-15 12:25] andresailer commented on #2746
Doesn't the WorkDirectory for the SiteDirector set the working directory of the SiteDirector agent and not of the pilots it submits?

One can already set some parameters (ExtraPilotOptions) at the Queue level for CEs, it would be great if these could be set at the CE/Site level as well.

[2015-12-15 13:07] fstagni commented on #2746
Yes that's the point: setting these parameters at the CE level

[2015-12-16 15:32] chaen commented on #2496
This has severely screwed us again with the RFC/VOMS proxy bug of yesterday's release. I guess I will fix it at some point... then whoever can assign it to me, I guess...

[2016-01-08 10:36] andresailer commented on #2745
Are there any objections by anyone to change this behaviour of the fcCLI? If not, Tino can implement it.

[2016-01-08 11:15] phicharp commented on #2745
That sounds like a logical thing to do... although strictly speaking it doesn't prevent me sleeping at night ;-)

[2016-01-08 11:42] chaen commented on #2745
fine with me as well

[2016-01-08 11:49] calancha commented on #2745
Thank you. I will look on it.

[2016-01-14 15:23] drbenmorgan opened #2763 "Provide modern, minimal build system"
With Dirac being (seemingly?) pure python, it would be useful if this repository could provide an installer script here using a standard Python tool like setuptools/pip. It should also allow selection of full and server or client components only.

Working through the other installer scripts, these have installed a full Python plus other components that I already have installed. It's not so much th

[2016-01-15 08:24] fstagni commented on #2763
I concur with everything said. There are, of course, historical reasons for which the situation is what it is right now, but it's not important right now. There are also some technical reasons, or at least there were. I don't know if these technical reasons still apply.  Anyway, we need to start looking better into it today, as you say. I am happy to give you all the guidance I can.

First and for

[2016-01-15 13:17] drbenmorgan commented on #2763
Thanks for the info, these look a good starting point! I'm by no means an expert on Python packaging (some experience with macports/homebrew and the various Linux tools), though I can understand the historic context of Python versions. From a cursory glance at the [Python packaging guide](https://python-packaging-user-guide.readthedocs.org/en/latest/distributing/) I *think* it should be possible t

[2016-01-15 15:12] fstagni commented on #2763
Yes, good idea, and thanks for your kind support, appreciated! When you
have something, don't be afraid to ask, or making directly a PR.

[2016-01-20 12:17] chaen commented on #2095
No news since ages, and very old version, so please close

[2016-01-20 12:55] #2095 closed

[2016-01-21 14:19] chaen commented on #2314
oops, sorry I only see this now... Looking at the Line you mention, isn't the problem coming from a too short PinExpiryTime ?

[2016-01-21 14:21] #1535 closed

[2016-01-21 14:27] chaen commented on #988
Coming back to this long after. This seems to be a feature more than a bug. @phicharp has implemented an "inheritance" concept which looks more like what you want to do.

[2016-01-21 15:12] andresailer commented on #2314
Where is that PinExpirySet? What is the default?
As far as I remember: I was doing dirac-stager-stage-files and looking at the db table of the StagingRequests. And while it was being filled with the new requests, the RequestFinalizationAgent was removing the Requests already.

[2016-01-21 15:22] andresailer commented on #2314
I just checked: I do have the triggers that are updating CacheReplicas.Links
So I had guessed that the CR.Links is updated too late and the Agent comes in and removes the files before the Trigger can update the Link.

[2016-01-21 15:37] chaen commented on #2314
It comes from the option PinLifetime of the StageRequestAgent

[2016-01-21 15:41] andresailer commented on #2314
I don't have this option defined and the default is 1 day. So that cannot be the problem. because the entries were removed  within a few minutes of being added to the system.

[2016-01-21 15:51] chaen commented on #2314
Hum, I must say it is a system I don't really know, and I hadnt looked much further than the line you mention, but in that case, I would say it comes more from https://github.com/DIRACGrid/DIRAC/blob/rel-v6r12/StorageManagementSystem/DB/StorageManagementDB.py#L1115

Yes we could add a WHERE clause here regarding the SubmitTime time. Would you have the mean to test it if I give you a fix ?

[2016-01-21 15:54] andresailer commented on #2314
Yes, I can test it.

[2016-01-25 14:55] chaen commented on #2659
After consideration, there is maybe not so much of a demand for that, and it is not a trivial thing. Please close. If there is really a need for that, then we consider it again

[2016-01-25 15:05] chaen commented on #2241
Fixed here https://github.com/DIRACGrid/DIRAC/pull/2688
Please close

[2016-01-25 15:06] #2241 closed

[2016-01-25 15:08] #2659 closed

[2016-01-25 15:15] chaen commented on #2267
yes it can, please close

[2016-01-25 15:19] chaen commented on #2284
I believe this can be closed as well

[2016-01-25 15:21] chaen commented on #2356
I believe I have fixed this. In any case, I can't reproduce anymore

[2016-01-25 15:36] chaen commented on #2495
XRootStorage works again, so this ticket can be closed. The last tests were okay for GFAL2, still needs certification....

[2016-01-25 15:37] chaen commented on #2502
Standard metadata implemented. Now it needs to be used :-) Will be done once the multiprotocol PR is merged

[2016-01-25 15:45] chaen commented on #2077
Is this still needed ?

[2016-01-25 15:46] chaen commented on #2021
I believe it can be closed

[2016-01-25 15:49] #2267 closed

[2016-01-25 15:50] chaen commented on #1951
in v6r15. Please close

[2016-01-25 15:51] chaen commented on #1898
wasn't this done ?

[2016-01-25 15:51] fstagni commented on #1898
No, this has not been finished.

[2016-01-25 15:52] chaen commented on #1793
Can be closed I believe, Andrei implemented it

[2016-01-25 15:59] chaen commented on #1721
Since (and for good reasons :-) ), MySQL will not be distributed with DIRAC anymore, I don't think its monitoring should be part of it.

[2016-01-25 16:01] chaen commented on #1604
I believe this is fixed (VOMSPolicy + other fixes). @phicharp can you confirm ?

[2016-01-25 16:02] #1951 closed

[2016-01-25 16:05] fstagni commented on #1721
I tend to agree with you. If there won't be other comments in the coming days, we may close this task.

[2016-01-25 16:05] #1793 closed

[2016-01-25 16:09] chaen commented on #1558
There is an ordered set implementation btw. It is an external module. In case we do not want to change it everywhere in the code, we could change the implementation of the DIRAC uniqueElements (this ordered set is quite simple, it just uses a map and a double linked list )

[2016-01-25 21:34] atsareg commented on #2496
fixed in v6r15

[2016-01-26 08:20] chaen commented on #1505
The operation helpers are now using the VO parameter, aren't they ?

[2016-01-26 08:32] chaen commented on #1466
Can this be closed ?

[2016-01-26 08:35] chaen commented on #1408
I guess it should be closed. Without the discussion it is difficult to know what was said, but I assume that the idea was that when installing, just look and trust what is in ConfigTemplate.cfg instead of trying to instantiate or load the actual module

[2016-01-26 08:36] chaen commented on #1360
I believe all this is in place already, @atsareg can confirm (or not) and close (or not)

[2016-01-26 08:37] chaen commented on #1335
What's the status of that ?

[2016-01-26 08:38] chaen commented on #1301
@fstagni can this be closed after Aresh changes ? (maybe you want to reassign the tasks as well ? )

[2016-01-26 08:42] chaen commented on #1287
Still valid ?

[2016-01-26 08:43] chaen commented on #1283
I have no idea what this ticket is supposed to mean :-)

[2016-01-26 08:45] chaen commented on #1192
I suppose please close, according to the comment in the DIRACWeb ticket

[2016-01-26 08:46] chaen commented on #1174
@Sbalbp @fstagni does that work now ?

[2016-01-26 08:49] chaen commented on #1123
The fact that we do not clean the CS is just a "bad management" issue, we are just messy :-)
However, I support the idea of having in the config template also the Operations/etc values. As far as I know, this still does not exist. If we agree, maybe we can close this ticket, and create a new one with more explicit requirements ?

[2016-01-26 08:51] chaen commented on #1104
Can this be closed now ?

[2016-01-26 08:57] fstagni commented on #1104
No, we can't yet close this one.

[2016-01-26 08:59] fstagni commented on #1174
I don't think it is available yet, but it's a good idea. I assign it to Sergio, for answer now and for possible implementation later.

[2016-01-26 09:01] fstagni commented on #1301
It's waiting to be released. I flagged and assigned to myself for certification test.

[2016-01-26 09:01] fstagni commented on #1408
I agree with @chaen

[2016-01-26 09:01] #1408 closed

[2016-01-26 09:10] Sbalbp commented on #1174
No, it does not as of now

[2016-01-26 09:22] chaen commented on #1103
@zmathe  I just checked, it is not the case, could you please add a sort statement.

[2016-01-26 10:04] chaen commented on #1099
This is fixed already, please close

[2016-01-26 10:07] chaen commented on #1098
Can be closed as well I thing, @atsareg to confirm

[2016-01-26 10:09] chaen commented on #1034
is this still valid ? wasn't the agent recently replaced ?

[2016-01-26 10:11] chaen commented on #995
Related to https://github.com/DIRACGrid/DIRAC/issues/2138
In any case, for these particular requests, I added most of them in the monitoring.

[2016-01-26 10:13] chaen commented on #927
Also done by the new agent, isn't it ?

[2016-01-26 10:15] chaen commented on #481
This exists, it can be closed

[2016-01-26 10:16] chaen commented on #454
There is now a separation between Resources and Operations for the FC as well, can we close ?

[2016-01-26 10:19] chaen commented on #446
does that still hold ? There is the getUsers or attGetUserNickname in VOMSService that can easily be instrumented

[2016-01-26 10:21] chaen commented on #386
Can this be closed ? We do define HOME in bashrc don't we ?

[2016-01-26 10:27] phicharp commented on #1604
AFAIR it is fixed indeed!... but so long agooooooo!

[2016-01-26 10:27] #1604 closed

[2016-01-26 10:29] chaen commented on #355
It is the case. Please close

[2016-01-26 10:29] chaen commented on #353
Since there was a PR merged, can this be closed ?

[2016-01-26 10:32] chaen commented on #352
@phicharp this is part of what you revisited, isn't it ?

[2016-01-26 10:33] chaen commented on #347
I guess the requirement was met with USER_MANAGER. Please close

[2016-01-26 10:34] chaen commented on #335
I think it can be closed

[2016-01-26 10:35] phicharp commented on #1335
Why should dirac-dms-filecatalog-cli "rm" remove file in storage... This is a pure catalog script which b.t.w. is very dangerous as are CLI commands like dirac-dms-remove-catalog-replicas!

[2016-01-26 10:37] chaen commented on #297
What is the status of this ?

[2016-01-26 10:44] phicharp commented on #352
No, this is part of what SOMEONE should revisit... I don't feel courageous enough.... but it is just a mess (although I don't fully understand which Module Ricardo was taking about in this issue ;-)

[2016-01-26 10:49] phicharp commented on #1103
There is a problem with these pulldown manus, in that they make the selection after each character is typed and it makes it impossible almost to select a production because one needs to type in the first 3 zeros!!! Can the selection be made after a longer time (like 0.5 seconds or so)? and/or match any string in the item (not only startswith())?

[2016-01-26 10:50] atsareg commented on #297
I think this can be closed. The proxy upload logic can be configured. On the other hand the lack of the VOMS registration of the user will result in Failed jobs with "Can not download proxy" error. So, the problem can be understood

[2016-01-26 10:50] #297 closed

[2016-01-26 10:59] atsareg commented on #1335
Yes, I agree with the Philippe's comment. The FC CLI should be rather considered to be an administrator level tool to work with the catalog proper, including removing entries from the catalog without actually checking the physical replicas that "normal" user should never do. To be consistent the CLI interface should then be cleaned from other commands involving physical files: add, get, replicate.

[2016-01-26 11:00] atsareg commented on #335
This discussion should be indeed continued if at all in the RFC/forum

[2016-01-26 11:00] #335 closed

[2016-01-26 11:28] atsareg commented on #386
Yes, we define $HOME in the bashrc

[2016-01-26 11:28] #386 closed

[2016-01-26 11:29] #355 closed

[2016-01-26 11:29] #353 closed

[2016-01-26 11:33] atsareg commented on #454
Yes, any setup/VO dependent parameters of catalogs must now be defined in the Operations section. This should be documented

[2016-01-26 11:35] atsareg commented on #481
There are commands to create replication requests already. The COMDIRAC commands can be instrumented with extra switches to generate requests rather than to perform in-line replication as well. The DFC CLI is not the right place to initiate replication of any kind

[2016-01-26 11:35] #481 closed

[2016-01-26 11:35] atsareg commented on #927
Bdii2CSAgent does both CE ans SE information synchronization

[2016-01-26 11:35] #927 closed

[2016-01-26 11:37] atsareg commented on #1034
This is still a valid request even for the new Bdii2CSAgent that replaces the CE2CSAgent. @VladimirRomanovsky : is it possible that you look at it ?

[2016-01-26 11:40] atsareg commented on #1098
Any selection can be done with DFC with dirac-dms-find-lfns or equivalent COMDIRAC/dfind commands.

[2016-01-26 11:40] #1098 closed

[2016-01-26 11:40] #1099 closed

[2016-01-26 11:47] atsareg commented on #1123
What you suggest is defining the CS schema formally and introduce tools to check the actual contents of the CS against the schema. A la what can be done with XML documents. This is a large development, do we really need that ? Glue has a formally defined schema which does not prevent occasional mess in the contents, for example.

[2016-01-26 11:47] #1192 closed

[2016-01-26 11:49] atsareg commented on #1283
I think this can be closed

[2016-01-26 11:49] #1283 closed

[2016-01-26 11:52] atsareg commented on #1287
We use JobManifest internally now. Even if the JDL form of the JobManifest serialization is still used
( in the database for example ), the JDLs are created from the JobManifest without comments.

[2016-01-26 11:52] #1287 closed

[2016-01-26 11:54] atsareg commented on #1360
The first part is available in the DFC CLI. It should be also made available in the COMDIRAC/dmeta command if nto already.

[2016-01-26 11:54] #1360 closed

[2016-01-26 11:55] #1466 closed

[2016-01-26 12:02] atsareg commented on #1505
getShifterProxy() utility is indeed not VO aware. And we still use Shifter logic in some places ( Transformation, FTS ). The FTS logic will be fixed to be "user-oriented". I would suggest that the Transformation system is fixed to have explicit Production Manager identity in the Operations. Then we can get rid of generic Shifters altogether.

[2016-01-26 16:41] chaen commented on #1123
no, what I mean is that we can define "default" for Services and Agents, but we have no way to define default for Operations, and that is missing

[2016-01-27 11:16] fstagni commented on #2099
Zoltan, does this problem still holds?

[2016-01-27 11:17] #2021 closed

[2016-01-27 11:19] fstagni commented on #2089
This is a rather old task. Is it still valid? May I ask if something has been done to address it?

[2016-01-27 11:21] #2356 closed

[2016-01-27 15:40] fstagni opened #2785 "SystemAdministrator: show extensions versions"
(I am not sure if this task should be here, or in the web section)

The SystemAdministrator web page should show, in the "version" column that is displayed for each host not only the version of DIRAC, but also the version of the installed extensions.

[2016-01-28 10:17] calancha commented on #2745
In the DB we have defined CreationDate and ModificationDate
but no ChangeTime, so the easiest way would be to not
update ModificationDate when changing UID, GID or Mode: This way
the listing in the fc with the option '--timeorder' will not be affected.

As in the commit below:
https://github.com/calancha/DIRAC/commit/b8995450e1134fd496a3fb6730869d33c52955a3

[2016-01-28 10:19] chaen commented on #2745
Hi,
do not forget that there are several managers for files, not only this one. This modificationdate is a bit of a detail, but it is better if ll the managers behave the same way, so you would need to update the others as well

[2016-01-28 10:25] calancha commented on #2745
Thank you for pointing out this.
I am going to update the other managers too.

[2016-02-01 12:41] andresailer commented on #2077
In principle we (and probably others) are still running the old webinterface.

[2016-02-01 15:42] andresailer commented on #1335
"rm" should be removed because of the faulty documentation string.
I find "get" and "replicate" to be very useful to have inside the CLI, probably even for non-administrators.

[2016-02-02 14:48] zmathe commented on #2077
It is time to use the new interface.

[2016-02-02 14:49] zmathe commented on #2077
If I remember correctly: the solution is to add the required property to the host ( I can not remember which one) or use the new interface.

[2016-02-02 14:51] andresailer commented on #2077
We will move to the new system very soon. It would have been nice if this had been fixed a year ago though...

[2016-02-02 14:56] zmathe commented on #2089
This is still valid. This is another improvement which can be added to the framework. We "solved" this problem by retrieving in bunches instead of all. We need kind of streaming in DIRAC.

[2016-02-02 14:59] zmathe commented on #2099
I do not know. I have not installed the web portal since a while.

[2016-02-02 15:07] zmathe commented on #1103
The widget has to be replaced. This will solve the problem.

[2016-02-02 15:33] afortiorama commented on #2432
Hi - I have the same problem.

[2016-02-03 09:29] fstagni commented on #2496
For reference: is this fixed in https://github.com/DIRACGrid/DIRAC/pull/2648 ? This one https://github.com/atsareg/DIRAC/commit/6111ae1d0c24648b514dda67d14107091831dbad specifically ?

[2016-02-03 11:33] atsareg commented on #2496
  Yes, the VOMS proxy deletion is fixed
      here, it is mixed with some other stuff which was not good
      actually.
      I think this part cn be ported back to v6r14. I will see to do it
      together with the next patch.

        Cheers,
        Andrei

      On 03/02/16 10:29, fstagni wrote:

      For reference: is this fixed in #2648
        ? This one atsareg@6111ae1 specifically

[2016-02-03 12:44] fstagni opened #2789 "Create common module for CLIs"
As advised in the discussion in https://github.com/DIRACGrid/DIRAC/pull/2788

[2016-02-04 10:35] twhyntie opened #2790 "[Multi VO] Trying to retrieve files from a differet VO throws a misleading error"
Hello all,

Replicating an issue I had using the GridPP DIRAC instance here:

https://github.com/ic-hep/GridPPDIRAC/issues/28

`/gridpp/userguide/WELCOME.md` was uploaded with a `-g gridpp_user` proxy. Trying to download with a different VO proxy (e.g. `-g cernatschool.org_user`) fails - _as it should_ - but with the wrong error.

[code]

@sfayer points out that this is technically correct, but le

[2016-02-09 11:53] fstagni commented on #2138
This is something that can be part of the "dynamic component monitoring". I assign it to Sergio for the moment.

[2016-02-10 08:26] chaen commented on #2413
@fstagni why did you apply the "waiting for release" tag ? as far as I know, this is not fixed

[2016-02-10 08:53] fstagni commented on #2413
Ah I thought that https://github.com/andresailer/DIRAC/commit/40111f195c96ec21d36356fc4e1c3a3cb8e15825 + https://github.com/DIRACGrid/DIRAC/issues/2779 were fixing this issue. But I don't see the @andresailer  commit merged... why not?

CC @CinziaLu

[2016-02-10 09:04] andresailer commented on #2413
Made a pull request with my fix. At least the crash should disappear.
Though my problem was fixed by @atsareg

[2016-02-10 13:12] Sbalbp commented on #2138
Just making sure, has this been worked on since the issue was opened?
If not, what about reading from the CS which methods will have their average response time monitored?

[2016-02-10 18:03] #2785 closed

[2016-02-10 18:03] #2432 closed

[2016-02-10 18:06] #2789 closed

[2016-02-11 11:39] fstagni commented on #2138
I really doubt that there have been any work on this task yet.

The other possibility is to have a decorator. It is less flexible, but at the same time I don't think we need a fully configurable system, since this is mostly a developer metric.

[2016-02-18 16:02] fstagni commented on #209
No updates, closing.

[2016-02-18 16:02] #209 closed

[2016-02-22 13:51] fstagni opened #2834 "Replace suds with a maintained library"
SOAP "suds" client support seem to have stalled. Please replace it everywhere with "SOAPpy", or any other library that is actively maintained and would do the job.

[2016-02-22 13:57] fstagni commented on #2834
Actually, this package may be a better option: https://pypi.python.org/pypi/suds-jurko

It also has python 3 support.

[2016-02-25 17:01] vipersec commented on #2834
After doing some research and acording to some users in [stackoverflow](http://stackoverflow.com/a/31079508/2335593), I discovered that we can use `suds-jurko` without changing anything in the code. We just have to uninstall the old suds and install suds-jurko using `pip install suds-jurko`

[2016-02-26 10:48] fstagni commented on #2834
Ok thanks! assigning to myself then

[2016-02-26 14:56] closier opened #2838 "Proxy format different with openSSL 1.0.2XX"
In certification we notice that the proxy generated with DIRAC v6r15 series is not able to use with "lcg-" commands.
To reproduce the behaviour, you login to the certification box and you do the following sequence:

ssh lbtestvobox
source /opt/dirac/bashrc
lhcb-proxy-init
lcg-ls -l -b -T srmv2 srm://srm-lhcb.gridpp.rl.ac.uk:8443/srm/managerv2?SFN=/castor/ads.rl.ac.uk/prod/lhcb/user/c/chaen/File1

[2016-02-26 16:25] atsareg commented on #2838
This is serious, it means that the openssl 1.0.2f library used in the v6r15 associated Externals is somehow not compatible with the current SRM service. As such, the version of the openssl in the externals should be rolled back and all the Externals rebuilt. Is it possible to look on the SRM side if there is any indication of a ssl related problem in the logs in this case ?

[2016-02-29 22:40] atsareg commented on #2838
Is there any progress in understanding this case ? Is it something to tune on the SRM server side or we have to roll back the openssl version ?

[2016-03-01 14:00] closier commented on #2838
Who is looking at it on the openssl side and on SRM side ???

[2016-03-01 14:28] sfayer commented on #2063
Is there any documentation for the queue parameter? We had a look but couldn't obviously see what we need to do to use it / change in the config...

Thanks,
Simon

[2016-03-01 15:05] rajanandakumar commented on #2063
Hi,

I misunderstood the question when it was asked originally. This is not an ARC issue per-se, but more of a DIRAC issue on how the name of the queue is extracted (from bdii?) and stored in the configuration. In particular, I think that DIRAC does not like it if the published queue has a "/" inside the name. I do not know where exactly the problem is, but suspect it is in the bdii2cs (or equival

[2016-03-01 15:11] marianne013 commented on #2063
arc makes up the queue name using the output of qstat which returns "OSG/GE" for most (all?) SGE installs. So in principle they could replace this with another character, but this would require a change to the arc code. Right now this is not configurable on the arc side
dirac uses '/' as a delimiter in the config, that where all the trouble stems from.
Just inserting the queue as is name by hand d

[2016-03-01 15:11] sfayer commented on #2063
Hi Raja,

Unfortunately not, DIRAC requires the queue name to be a "folder" in the configuration system and DIRAC can't handle having a "/" in the folder name (as this creates a sub-folder).

Regards,
Simon

[2016-03-01 15:23] atsareg commented on #2063
I think it should be possible that the actual queue name and the corresponding configuration section name are not the same, where the actual queue name is just one of the queue parameters. This needs some modifications in various places - clients populating the CS and looking it up. Should be relatively easy to do.

[2016-03-03 10:36] fstagni commented on #1106
@marcelovilaca can you please post an update on this task?

[2016-03-03 12:23] marcelovilaca commented on #1106
Wow, didn't remember this... Will start to look at it now..

[2016-03-03 14:52] fstagni commented on #2838
I assigned to Chris just to provide info.

From basic trials, it seems it is a compatibility problem with Castor, so Chris will open a ticket against it. (please, link it from here)

[2016-03-03 14:58] fstagni commented on #2834
In https://github.com/DIRACGrid/Externals/pull/12

[2016-03-03 14:58] #2834 closed

[2016-03-03 15:51] chaen commented on #2838
https://cern.service-now.com/service-portal/view-incident.do?n=INC0975312

[2016-03-03 16:33] fstagni commented on #2838
Answer from developers in case you don't see the ticket:

[2016-03-03 16:39] atsareg commented on #2838
Assuming that this is the reason - is it blocking the v6r15 release ( using openssl 1.0.2f ) or we can proceed ?

[2016-03-03 16:41] chaen commented on #2838
yes, it blocks using openssl 1.0.2f

[2016-03-03 17:48] fstagni commented on #2838
Well, it does not block v6r15. But it blocks the deployment of v6r15 in
LHCb production - and not only.

Anyway, we may think to be on the "safe" side and re-set the version of
OpenSSL to what was before (sigh!) for v6r15, and start with newer
version later.

[2016-03-08 16:11] vipersec commented on #1525
@fstagni @roiser
Pull request created here 8a26ab7114ff4de809ceb2e79e7d88b82853c4fd

[2016-03-10 13:46] fstagni opened #2846 "Verify dirac-rss-dt-query-cache"
Seems it's buggy:

``
[fstagni@lxplus0080 ~/DEVClient]$ dirac-rss-query-dtcache select --element=CERN-RAW
Traceback (most recent call last):
  File "/afs/cern.ch/lhcb/software/releases/DIRAC/DIRAC_v6r14p22/scripts/dirac-rss-query-dtcache", line 367, in <module>
    run( args, switchDict )
  File "/afs/cern.ch/lhcb/software/releases/DIRAC/DIRAC_v6r14p22/scripts/dirac-rss-query-dtcache", line 344, i

[2016-03-10 13:57] fstagni commented on #2099
Any news on this? Otherwise it should be closed.

[2016-03-10 14:05] fstagni commented on #1558
I guess you mean https://pypi.python.org/pypi/ordered-set

We should verify if this is really faster then uniqueElements, and if it, change to it.

[2016-03-10 14:07] #1780 closed

[2016-03-11 09:37] vipersec commented on #2846
Do you get this error while the `ResourceStatus/ResourceManagement` service is running?

[2016-03-11 10:32] andresailer opened #2848 "[v6r14] Cannot uninstall Component"
I have a machine with a "SiteDirector" and many "SiteDirectorXYZ".
Now I want to uninstall the SiteDirector so I open the dirac-admin-sysadmin-cli, set the host and do:
[code]
To which I get
[code]

The script
dirac-uninstall-component also doesn't work, it doesn't even have an option to set the host.
[code]

[2016-03-11 10:57] fstagni commented on #2846
Yes I get this error in the production environment (which uses DIRAC
v6r14). Maybe this is corrected already in v6r15, not sure though.

[2016-03-14 14:15] zmathe commented on #2099
I do not think it is fixed... We do not see this problem, because we have not installed WebApp since a while. It is not a high priority but we have to fix.

[2016-03-15 10:07] vipersec commented on #2846
I created a pull request here: https://github.com/DIRACGrid/DIRAC/pull/2852

[2016-03-15 15:49] vipersec commented on #1558
I created a pull request here: https://github.com/DIRACGrid/DIRAC/pull/2853

[2016-03-16 08:40] fstagni commented on #2848
@zmathe please have a look at this

[2016-03-16 08:44] #2495 closed

[2016-03-16 08:58] fstagni commented on #1591
Invalid as of today.

[2016-03-16 08:58] #1591 closed

[2016-03-16 09:02] fstagni commented on #476
I am not sure, but I believe this is already implemented: @chaen do you know?

[2016-03-16 09:07] fstagni commented on #2077
The old web interface is unsupported. Sorry but I need to close this one.

[2016-03-16 09:07] #2077 closed

[2016-03-17 07:12] chaen commented on #476
We retry 10 times with a 10s pause between each attempt.

[2016-03-17 15:22] fstagni opened #2856 "Create method to use the RSS status for all the resources"
The RSS computes the status of several resources. As of today, these include Storage Elements, Computing Elements (CEs), FTS (FileTransfer Service), and Catalogs.

The status of Storage Elements is accessed via:

[code]

This call is used in few scripts, while the single most important place it's used is in

[code]

There is nowhere a method `rss.getComputingElementStatus()` nor anything for FTS a

[2016-03-17 16:58] fstagni opened #2857 ""RSS Site status" vs "SiteMask""
The "SiteMask" (and its counterpart "SiteMaskLogging") is the old (pre-historic, for DIRAC) way of keeping track of status for sites (and sites ONLY, so not the status of resources like CEs or SEs or anything).

"SiteMask" and "SiteMaskLogging" are first of all 2 tables inside JobDB:

[code]

The access to these tables is granted by the `DIRAC.WorkloadManagementSystem.JobDB.JobDB` class and by the

[2016-03-17 17:10] fstagni opened #2858 ""dirac-rss-sync" script: sync the sites status"
The "dirac-rss-sync" script is used for initial population of RSS "ResourceStatus" tables. It's a script to be used one and only one time: when a VO starts using RSS, or in other words when RSS is activated.

The "initSEs" function inside the script takes the status of the SEs as it appear in the CS, and populates the RSS tables. A similar function should be developed for the sites:
- `initSites()

[2016-03-17 17:19] fstagni opened #2859 "Use RSS "SiteStatus" instead of "siteMask""
The completion of this task relies on the completion of https://github.com/DIRACGrid/DIRAC/issues/2857  first.

Once the status of the sites is in sync between SiteStatus and SiteMask, the RSS can be activated and the status inside RSS should be used: the suggestion is that, basically, everywhere there is a "getSiteMask" call (or a giteSiteMaskLogging, or its set\* counterparts) the `DIRAC.RSS.Cli

[2016-03-21 13:20] vipersec commented on #2856
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/2863

[2016-04-05 11:20] fstagni commented on #2572
PR: https://github.com/DIRACGrid/DIRAC/pull/2608

[2016-04-06 10:06] vipersec commented on #2858
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/2871

[2016-04-07 12:00] vipersec commented on #2857
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/2873

[2016-04-07 16:20] fstagni opened #2874 "Use RSS "Computing Element" status in SiteDirector"
The WorkloadManagementSystem SiteDirector agent submits pilot jobs to Computing Elements.

As of today, a status of a computing element does not exist, and RSS introduces it. For this reason, the SiteDirector sometimes ends up submitting to CEs that are in donwtime.

Modify the SiteDirector to check the status of the computing element from the RSS before submitting pilot jobs.

CC @VladimirRomanov

[2016-04-11 13:28] tianzhiyu opened #2879 "Pip install GSI on Windows7 ERROR"
Pip install GSI on Windows7.
It fails with
cl: Command line error D8021: invalid numeric argument '/Wno-deprecated-declarations'

[2016-04-11 13:56] fstagni commented on #2879
Hi, I am not surprised. Windows is anyway not a supported platform.

[2016-04-12 12:13] #2879 closed

[2016-04-15 09:55] marianne013 commented on #2063
Hi,
I was wondering if there has been any progress on this ?

Regards,
Daniela

[2016-04-18 09:25] vipersec commented on #2874
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/2886

[2016-04-21 06:05] hmiyake opened #2889 "LFC API cannot handle unicode"
Hello,

Since v6r13, FTSClient has decoded given parameters using json.loads()
As a result LFN is described by the unicode format.
However,  probably lfc.lfc_getreplicasl cannot accept unicode as follows:

  File "/home/miyake/dirac_v6r14p26/DIRAC/DataManagementSystem/Client/FTSClient.py", line 288, in ftsSchedule
    res = self.dataManager.getActiveReplicas( lfn )
  File "/home/miyake/dirac_v6r14

[2016-04-21 06:58] chaen commented on #2889
Hi,

unicode is becoming the standard, and we are making sure that DIRAC handles them properly. So forcing strings at a higher level is certainly not the way to go.

As we already discussed, LHCb is not supporting anymore the LFC catalog, we have no running instances against which to test. I would invite you to submit a PR with the appropriate fixes in  LcgFileCatalogClient. It shouldn't be too ha

[2016-04-27 09:17] hmiyake commented on #2889
Hi Chris,

Thank you for advices.
Following the advice, our PR was accepted and reflected to the new patch release.

Regards,
Hideki

[2016-04-27 09:17] #2889 closed

[2016-05-11 08:39] #1558 closed

[2016-05-11 08:41] fstagni commented on #1525
I realized that in the emails it is missing an indication of the setup (e.g. "LHCb-Production" or "LHCb-Certification"): without, there's no mean to distinguish if an email is for a resource monitored in one setup or another.

[2016-05-13 11:28] vipersec commented on #1525
@fstagni I created a pull request https://github.com/DIRACGrid/DIRAC/pull/2919

[2016-05-13 14:03] zmathe commented on #2848
I have found the problem. The installedComponents table contains more than one row...

For example:

+-------------+--------+-----------------------+---------------------+---------------------+-------------+---------------+
| ComponentID | HostID | Instance              | InstallationTime    | UnInstallationTime  | InstalledBy | UnInstalledBy |
+-------------+--------+-----------------------+-----

[2016-05-13 14:18] andresailer commented on #2848
I think someone ran the insert component script twice in your case.
In my case just for the sitedirectors they all have different ComponentIDs, which then have a different "Module" in the Component table.
[code]
I want to uninstall the one with ComponentID 32

[2016-05-13 15:56] zmathe commented on #2848
yes. It seams the scripts was executed twice. I will add an unique constraint to the table...
The problem is when you provide uninstall WorkloadManagement SiteDirector, the SystemAdministrator does not know which component has to be removed.
In your case the correct command is uninstall WorkloadManagement SiteDirector SiteDirectorArc
So you need uninstall System Instance Module
I will implement it

[2016-05-13 16:05] andresailer commented on #2848
Well the command I want is
[code]
but the same principle applies (I want to keep the Arc one :) )
Thanks.

[2016-05-20 13:32] fstagni opened #2928 "Pilot commands: parse issue"
It would be better if the parsing of pilot commands output was protected. As of today, it's none, and the only thing we see when an error occours is an exception.

[2016-05-20 13:34] fstagni opened #2929 "Jobs that Fail before starting and then proceed successfully (Exception in JobWrapper)"
Investigate jobs that fail before starting and then proceed successfully with an Exception in the JobWrapper.

[2016-05-26 10:01] fstagni commented on #936
Too old, not considered.

[2016-05-26 10:01] #936 closed

[2016-05-27 09:38] CinziaLu commented on #2928
See #2942

[2016-05-27 11:55] vipersec commented on #2859
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/2943

[2016-05-27 15:32] adriansev opened #2944 "dirac.status :: take as input the output of dirac.submit"
Hi! It would be useful for DIRAC users if there is an easy method for saving to file the job id (number or all output)  and the job status and get output would easily read the file and act recursively on all lines..
(in the same way as glite-ce-job-{output,status,submit}) work.
Thank you!

[2016-06-01 14:49] fstagni opened #2945 "Pilot: enable gLogger timestamps for scripts called"
There should be a switch to enable (by default timestamps in scripts log are disabled).

This should also be ported to the Pilot repository.

[2016-06-02 09:46] fstagni commented on #2945
Indeed it's only limited to JobWrapper

[2016-06-02 11:09] #159 closed

[2016-06-02 11:11] fstagni commented on #291
5 years later, no progress nor interest. So, closing.

[2016-06-02 11:11] #347 closed

[2016-06-02 11:15] fstagni commented on #340
5 years later...
This is somewhat already solved if using "ByType" TS TaskManager plugin. Also there's a notion in DMSHelper about close and local SEs.

[2016-06-02 11:15] #340 closed

[2016-06-02 11:16] fstagni commented on #336
Bump! --- Is this still valid? (looking for closing tasks)

[2016-06-02 12:08] phicharp commented on #291
This is high on my wishlist as well as that of Concezio I am sure!
So there is interest and it should just be assigned to someone! But as only very few people can assign, and this was set before Zoltan was responsible, it escaped... I would propose to reopen and assign it to Zoltan. I think this is a must in addition to:

* Also for site selection ,selecting by Grid (LCG, DIRAC, Cloud, VAC...) wou

[2016-06-02 15:04] fstagni commented on #291
Alright. Re-opened and assigned to Zoltan.

[2016-06-03 12:27] sashabaranov opened #2955 "Indicate of certificate expiration problem"
As discussed with @zmathe:

Currently if you use BookkeepingClient and parseCommandLine with expired certificate you have no sane way to handle this other then parsing log for `ERROR` presence, DIRAC library just does `sys.exit(0)` and writes to log.

I can see two solutions:
1. BookkeepingClient should have a way of indicating that connection error occured and throw an exception, which can be han

[2016-06-06 08:47] andresailer opened #2959 "[v6r14p18] Bdii2CSAgent caching information"
The bdii2csagent seems to be caching results from the ldap (or whatever) queries. We have gotten the same outdated information for some weeks now, and information about new CEs was not obtained until restarting the agent.

[2016-06-07 10:48] CinziaLu commented on #2945
Done in #2961

[2016-06-07 11:52] andresailer opened #2962 "[v6r15] Error in FileCatalogClient"
[code]
We get an error when calling getFileUserMetadata, the checkCatalogArguments decorator turns the path argument into a dictionary, right? But the function itself assumes path is a string.
So is that decorator there incorrectly, or does the function need a fix?
Removing the decorator does allow our unit test to pass again, but it is not clear what is meant to be correct.

[2016-06-07 15:18] chaen commented on #2962
Naively I would say that the function need a fix. checkCatalogArguments make the the input standard, so the function should accept standard arguments, that is a dict

[2016-06-07 16:26] andresailer commented on #2962
Hmm, ```getDirectoryUserMetadata``` doesn't have the decorator...
I hope @atsareg will know

[2016-06-07 17:00] atsareg commented on #2962
Yes, clearly overlooked, thanks for spotting

[2016-06-07 17:12] atsareg commented on #2955
I am not sure I understand the whole issue of the BookkeepingClient and parseCommandLine with expired certificate, but concerning the PS:
you can use your own arguments to your commands that you can parse yourself. DIRAC will parse only its specific switches ( -o, -s, -c, -d, -h ). If you do not use those, there should not be a conflict with the DIRAC parsing your input.

[2016-06-07 17:24] #2496 closed

[2016-06-07 17:27] atsareg commented on #2421
Fixed in v6r15

[2016-06-07 17:27] #2421 closed

[2016-06-07 17:27] #2572 closed

[2016-06-07 17:32] #2284 closed

[2016-06-08 12:25] zmathe commented on #2955
The problem is they want to use a host certificate instead of a proxy to contact the bkk using DIRAC on CVMFS.  As this is not an official way to do, they have to use the parseCommandLine and a dirac.cfg. But if some problem occurs for example: the proxy expire, the parseCommandLine exit. The first proposed solution make no sense to me, becuase the retVal['OK'] fasle is case of error:
[code]
 The

[2016-06-08 15:01] #2746 closed

[2016-06-08 15:02] #2846 closed

[2016-06-08 15:02] #2928 closed

[2016-06-08 15:03] fstagni commented on #2413
Can this be closed then?

[2016-06-08 15:04] fstagni commented on #2314
Dear @chaen  and @andresailer can this issue be considered closed?

[2016-06-08 15:05] fstagni commented on #2745
Hi, was this fixed in the end?

[2016-06-08 15:06] andresailer commented on #2314
Uhh, no I still need to test this

[2016-06-08 15:07] fstagni commented on #2848
Hi, any update on this? Was this fixed?

[2016-06-08 15:12] zmathe commented on #2848
Not yet.

[2016-06-08 15:30] andresailer commented on #2745
Tino is not working on (ilc)dirac any longer, his branch is still there.
https://github.com/calancha/DIRAC/tree/fc_uid_gid_mode
He added also the modifications for other managers, I think.
I can make a PR against v6r14 or rebase to v6r15?

[2016-06-08 15:36] atsareg commented on #2745
This is not very trivial. I still have it on my list. I will try to do as soon as possible

[2016-06-08 16:14] chaen commented on #2745
Well, what he has done is clearly wrong for the FileManagerPs

[2016-06-08 16:16] andresailer commented on #2745
Well then I leave it to Andrei.

[2016-06-09 08:09] chaen commented on #2413
I **think** this PR https://github.com/DIRACGrid/DIRAC/pull/2979 is meant to fix it but not sure

[2016-06-09 10:10] atsareg commented on #2413
Yes, PR #2979 should fix it. This is not making the DIP storage to make a true third party transfer but at least it behaves like that.

[2016-06-13 13:01] arrabito opened #2983 "[v6r14] MatchingDelay option doesn't introduce any delay"
The 'MatchingDelay' option does not work in the sense that no delay is introuduced in the matching. Here below how I've spotted out the problem:
1. In the Operation section of the CS, I've set:

  JobScheduling
    {
      CheckMatchingDelay = True
      EnableSharesCorrection = True
      MatchingDelay
      {
        LCG.IN2P3-CC.fr
        {
          JobType
          {
            CorsikaRepr

[2016-06-14 09:01] andresailer commented on #2962
So what is the problem here: is the decorator too much, does the function need to be adapted?
Will this be fixed soon so we can go on with our validation? If someone tells us what the correct behaviour should be we can try fixing this ourselves.

[2016-06-14 09:23] atsareg commented on #2962
I am fixing it to the next v6r15 patch

[2016-06-14 09:26] andresailer commented on #2962
Ok, thanks.

[2016-06-16 07:31] andresailer commented on #2962
This is not fixed in v6r15p3, is it?

[2016-06-16 08:08] atsareg commented on #2962
not yet

[2016-06-16 13:10] atsareg commented on #2959
Fixed in v6r14p34

[2016-06-16 13:10] #2959 closed

[2016-06-16 13:13] atsareg commented on #2413
Fixed in v6r14p34, v6r15p3

[2016-06-16 13:13] #2413 closed

[2016-06-16 15:21] atsareg commented on #2945
Fixed in v6r14p34

[2016-06-16 15:21] #2945 closed

[2016-06-16 16:22] atsareg commented on #2962
Should be fixed in #2991. I wanted to make a proper service bulk call, but this is not exactly trivial, especially for a patch. So, a simple fix for the moment.

[2016-06-17 11:15] chaen opened #2994 "Exception when unauthorized query dirac-rss-set-token"
dirac-rss-set-token --name=IMPERIAL-USER --element=Resource --reason="I need no reason"
Unauthorized query
Traceback (most recent call last):
  File "/opt/dirac/versions/v8r3-pre14_1465482140/DIRAC/ResourceStatusSystem/scripts/dirac-rss-set-token.py", line 202, in <module>
    main()
  File "/opt/dirac/versions/v8r3-pre14_1465482140/DIRAC/ResourceStatusSystem/scripts/dirac-rss-set-token.py", line

[2016-06-17 13:08] vipersec commented on #2994
@chaen Do you get this error while dirac-service ResourceStatus/ResourceStatus is running?

[2016-06-17 13:14] chaen commented on #2994
Yes, I am pretty sure you can reproduce it straight forward

[2016-06-17 13:20] vipersec commented on #2994
I ask because I'm getting the exact same error only when `ResourceStatus/ResourceStatus` is not running. Did you run the command locally in your machine or in the certification test machine?

[2016-06-17 13:28] chaen commented on #2994
Against the certification machine, from the certification machine.
Did you see the message at the beginning ? ```Unauthorized query```. This is typically a server side error, so yes, the service is running.

Here is the debug call
[code]

[2016-06-17 14:30] pigay commented on #2944
Hi,

The [COMDIRAC](../../COMDIRAC) module intends to ease user experience with comprehensive client commands. The `dsub` job submission command already outputs JobIDs in a comma separated list. I just wrote a PR [#58](../../COMDIRAC/pull/58) that allows `dstat`, `dinput` and `doutput` job management commands to handle this kind of lists from command line option or from a file (`-i` option).

Plea

[2016-06-20 11:30] ahaupt opened #3001 "DMS client parsing failure with multiple StorageElementProxy urls"
The DMS client is currently incompatible with multiple StorageElementProxy urls in the CS. In case the CS option:

`/Systems/DataManagement/<Setup>/URLs`

is a multi-value entry like:

`dips://<url1>, dips://<url2>`

clients like dirac-dms-add-file fail with error:

`ProxyStorage.putFile: Failed to send file to proxy server. DataManagement/StorageElementProxy, dips://ccdcta-server01.in2p3.fr:9150/

[2016-06-20 11:36] chaen commented on #3001
Hi,

I have fixed the RMS couple of weeks ago: https://github.com/DIRACGrid/DIRAC/pull/2941

I just saw in the forum that you already digged inside the code to find the source of it. Would you please consider making a pull request to fix this bug ? I am willing to help you through the different steps if needed

[2016-06-20 11:59] ahaupt commented on #3001
Hi,

I'm not really familiar with the Dirac code so not sure how a clean solution would look like. It should probably look like:

https://github.com/DIRACGrid/DIRAC/blob/rel-v6r14/Core/DISET/private/BaseClient.py#L199

but maybe there is already a common method for that, so code does not need to be duplicated for each class.

[2016-06-20 12:07] chaen commented on #3001
You are perfectly right, reusing this is much better.
In fact, giving a quick look at the code of ProxyStorage, I would say that the url resolution is useless. In principle, doing
``` self.url = 'DataManagement/StorageElementProxy'```
instead of
``` self.url = PathFinder.getServiceURL( "DataManagement/StorageElementProxy" )```
should work, because then this url is passed to RPCClient, which itself

[2016-06-20 12:21] ahaupt commented on #3001
Indeed, that small change fixes the problem for me!

[2016-06-20 12:23] chaen commented on #3001
Great :-) Would you please submit a PR against whichever version is suitable for you ? (no later than v6r13 please ;-) )

[2016-06-20 12:44] ahaupt commented on #3001
Hope it is ok this way:

https://github.com/DIRACGrid/DIRAC/pull/3003

[2016-06-20 16:05] #3001 closed

[2016-06-21 13:23] vipersec commented on #2994
@chaen
The required integer value was fixed with https://github.com/DIRACGrid/DIRAC/pull/3004
After investigation I have come to the conclusion that `Unauthorized query` is a user privilege issue.

[2016-06-21 13:33] zmathe commented on #2994
What I can see from the log is the 2016-06-17 13:26:31 UTC dirac-rss-set-token[Pv9O]  DEBUG: Using proxy /tmp/x509up_u56212  proxy used and the proxy does not has the correct property.
@chaen Which proxy are you using? What is the group?

[2016-06-21 13:38] chaen commented on #2994
I know that it is a authorization issue, I did it with my user proxy instead of the admin one. That's not the problem. The problem was the exception following

[2016-06-22 09:32] fstagni commented on #1525
Certified and verified.

[2016-06-22 09:32] #1525 closed

[2016-06-22 10:15] #1301 closed

[2016-06-22 10:28] fstagni commented on #1174
Certified.

[2016-06-22 10:28] #1174 closed

[2016-06-23 10:20] phicharp commented on #291
@zmathe: any comment on the feasibility?

[2016-06-23 11:24] ahaupt opened #3007 "Sending mail to multiple recipients does not work"
Sending mail to multiple recipients (e.g. from Bdii2CSAgent) does not work. Only the first recipient will receive the mail.

Looks like a bug in the utility module DIRAC/Core/Utilities/Mail.py to me. It expects the recipients either as a list or as a string. However, the other modules simply take the value of "MailTo" from the CS - which is a comma-separated string in case of multiple values. DIRA

[2016-06-23 11:27] chaen commented on #3007
I would be even more precise :-)

[code]

[2016-06-23 11:29] ahaupt commented on #3007
OK, then let's do it this way :-) Do you want a PR again?

[2016-06-23 11:32] chaen commented on #3007
I'd love too :-)
But just to say, I have not checked the logic of this bug fix, I don't know if this is really the bug or not. I am just commenting on the actual code change. Have you tried it in your environment ?

[2016-06-23 11:36] ahaupt commented on #3007
The fix is not roughly tested, yet! Just verified that smtplib is fed with recipients like this currently:

[code]

In this case it just sends to the first recipient.

I'll apply the proposed fix to the system our Bdii2CSAgent runs on to verify that everyone gets mail. Results later :-)

[2016-06-23 11:40] chaen commented on #3007
This obviously looks wrong :-)

I assume it should be quite easy to test by hand. Something like

[code]
bbb should not receive before the fix, and it should after

[2016-06-23 12:11] ahaupt commented on #3007
OK, applied that fix to our instance and all of us are finally receiving mails :-)

[2016-06-23 13:44] zmathe commented on #291
This can be implemented, but I have to see where the information can be retrieved. I can add to the menu for example: Tier1 and when Tier1 menu item will be pressed then all Tier1 sites automatically selected. This can be quite generic and we can use everywhere. Right now I do not see any other possibility.  But suggestion examples are welcome.

[2016-06-23 14:10] #3007 closed

[2016-06-24 08:12] phicharp commented on #291
OK, let's discuss this in front of a screen then!
Essentially I think that we should use the StorageElementGroups for creating either a separate menu or put at top of the existing menu. Clicking for example on Tier1-BUFFER would then select automatically all SEs in that group.
Similarly for sites selections, we should have several groupings:
1. By Tier level (easy)
2. By "Grid", e.g. LCG, VAC, DIR

[2016-06-24 14:25] sviscapi opened #3014 "[v6r14p22] [v6r14p26] Issues with SSH Site Director at SLAC"
Dear DIRAC team,

I'm sorry to report that the issues I told you about (huge number of files in JobExecDIr, SharedArea, and BatchOutput directories on an NFS partition at SLAC + creation / deletion rate of those files) during the last workshop are back:

"The computer center folks are concerned both about the number of inodes and the rate at which they are created/deleted.  Here is a file that doc

[2016-06-24 14:29] chaen commented on #3014
Hi Samuel,

I am not going to look myself into that, but I am pretty sure that the document you mention, together with the log of the DIRAC components during the same period, will be of great help

[2016-06-24 14:43] sviscapi commented on #3014
Hi Christophe,

Here is the file I mentioned (the partition of interest is "u44"):

[gpfsio.zip](https://github.com/DIRACGrid/DIRAC/files/331900/gpfsio.zip)

I'll try to find the corresponding DIRAC logs ASAP.

Best, Samuel

[2016-06-24 15:06] zmathe opened #3015 "Verify a DEncode implementation that uses json"
I have noticed that if we send S_OK(set) via RPC the service throw an exception and the thread keep running and the client keep connected. After I restart the service I receive the following error in server side:
2016-06-24 15:00:29 UTC Bookkeeping/TestBookkeepingManager NOTICE: Returning response ([::ffff:137.138.188.94]:56429)[lhcb_user:zmathe](0.02 secs) OK
2016-06-24 15:00:29 UTC Bookkeeping/T

[2016-06-24 15:23] fstagni commented on #3015
The question here is: should we fix Decode/DEncode, or should we move to
json encoding, as already discussed some time ago?

[2016-06-24 15:29] zmathe commented on #3015
I would say better to move to json and fix the exception. I mean if an exception happen during the data transfer preparation, DISET must close the connection and release the thread...

[2016-06-24 15:42] sviscapi commented on #3014
Hi again,

And here are the logs from the 22nd of June:

[ssh_site_director_2016_06_22_logs.zip](https://github.com/DIRACGrid/DIRAC/files/332020/ssh_site_director_2016_06_22_logs.zip)

Best, Samuel

[2016-06-25 09:19] chaen commented on #3015
I vote for json as well

[2016-06-25 11:30] atsareg commented on #3015
As was already discussed, the DEncode should be reimplemented using json to keep the same interface and backward compatibility. Are sets supported by json ?

[2016-06-28 07:39] #2994 closed

[2016-06-28 07:42] fstagni commented on #2962
Released (should be v6r15p4).

[2016-06-28 07:42] #2962 closed

[2016-06-28 07:55] fstagni commented on #2724
Fixed in https://github.com/DIRACGrid/Pilot/pull/9/files

[2016-06-28 07:55] #2724 closed

[2016-06-28 07:58] fstagni commented on #2502
Shall we close this task once https://github.com/DIRACGrid/DIRAC/pull/2982 will be merged?

[2016-06-28 08:41] chaen commented on #2502
No. This PR will help to make it even cleaner, but then all the client code still need to be adapted

[2016-06-28 14:10] ahaupt opened #3016 "[v6r14] Bdii2CSAgent only finds one new CE per site"
Bdii2CSAgent contains a logical bug when it tries to find CEs supporting a VO on new sites. In case multiple CEs exist there, the first ones are always overwritten and only the last CE is added.

[2016-06-30 08:35] ahaupt opened #3020 "[v6r14] "Source local file does not exist" errors with multiple ProxyStorage instances"
In case there are multiple ProxyStorage instances configured, DMS client has a high chance to run into a bug resulting in upload/download failures. Error message: "Source local file does not exist". As the sURL lookup is done twice two different sURLs for the ProxyStorage service could be returned.

In such a case the second ProxyStorage instance does not know about the file and fails.

[2016-07-01 08:48] #3016 closed

[2016-07-01 08:49] #3020 closed

[2016-07-04 10:33] fstagni commented on #3014
@VladimirRomanovsky can you please check if we suffer similar problems in LHCb with Yandex?

[2016-07-15 13:59] zmathe commented on #1502
#2977 fix the problem

[2016-07-18 15:17] zmathe opened #3035 "delete the latest x release"
When a new version of DIRAC is installed, then the latest x release automatically deleted. This functionality by default is disabled.

[2016-07-20 14:25] sviscapi commented on #3014
Hi all,

Any news regarding this issue ?

Cheers, Samuel

[2016-07-21 08:09] zmathe commented on #2848
I have checked and it is fixed in v6r15... But you have to uninstall all SiteDirectors one by one. For example:
uninstall WorkloadManagement SiteDirector-1
uninstall WorkloadManagement SiteDirector-2

[2016-07-21 08:30] fstagni commented on #2848
@andresailer if this answer is OK for you, I'll close the task.

[2016-07-21 08:47] andresailer commented on #2848
Does it also work for SiteDirector without any addition?

[2016-07-21 09:31] zmathe commented on #2848
No. I do not think we want to do that, but this is my opinion. What I can propose in this case I list all components and I ask do you want to uninstall all? if yes, I uninstall all.
What do you think?

[2016-07-21 10:50] andresailer commented on #2848
I don't want to uninstall all components. I have a SiteDirector called "SiteDirector" that I want to uninstall.

[2016-07-21 11:31] zmathe commented on #2848
okay. This works:
[lbtestvobox2]> uninstall  WorkloadManagement SiteDirector
Remove logs? y/[n] :
y
Successfully uninstalled WorkloadManagement/SiteDirector

[2016-07-21 11:52] andresailer commented on #2848
Ok, thanks for checking that, too. Then we can close this issue as solved.

[2016-07-21 14:00] alexanderrichards opened #3038 "Creating simple parametric jobs using the python API"
I am testing a simple parametric job (parametric on the arguments not inputsandbox/data) created using the python API. I want to create three test jobs that run the following
[code]
---
I am using v6r15p6 and my API script looks like the one below but this doesn't work. I see three jobs created but the jobNames are all `testjob_1` rather than testjob_one etc as I would expect. Also all these jobs

[2016-07-21 15:13] alexanderrichards commented on #3038
I should add that using the interactive Job Launchpad from the DIRAC instance web UI this is trivial as i just set the parameters field to
[code]

But I think perhaps I have not correctly found how to do this with the API.

[2016-07-21 16:29] fstagni commented on #3038
Hi, to be honest I never used this functionality, and I don't see anything wrong in what you've done, so I assign @atsareg for detailed answer.

[2016-07-21 17:05] atsareg commented on #3038
In the API you can now define multiple parameter sequences of the same length. But now you have to distinguish these sequences that each has a name. So you code should rather be:

from DIRAC.Core.Base.Script import parseCommandLine
parseCommandLine()
from DIRAC.Interfaces.API.Dirac import Dirac
from DIRAC.Interfaces.API.Job import Job
dirac = Dirac()
j = Job()

j.setName('testjob_%(arguments)s')
j

[2016-07-22 08:58] alexanderrichards commented on #3038
ah fantastic, thanks guys I'll give it a go.

[2016-07-22 10:31] alexanderrichards commented on #3038
So this almost worked, now where ever the parameter is substituted in I get it surrounded by curly braces { }
my script looks like below:
[code]

e.g. I see job testjob_{three}
[code]

[2016-07-22 10:40] alexanderrichards commented on #3038
interestingly if I resubmit with the executable `echo` rather than giving the full path then the command at least works and the parameter is not wrapped with curly braces even though the job name is:

testjob_{three}
[code]

[2016-07-22 10:56] atsareg commented on #3038
Well, the sequence name that you have chosen is conflicting with the reserved key word "arguments" used internally to pass the arguments to your executable. This is an interesting side effect and somehow the code should protect from that. In the meanwhile just change your code like:

    from DIRAC.Core.Base.Script import parseCommandLine
    parseCommandLine()
    from DIRAC.Interfaces.API.Dirac

[2016-07-22 11:33] alexanderrichards commented on #3038
Thanks again @atsareg I'll give that a go

[2016-07-22 11:42] alexanderrichards commented on #3038
worked perfectly, many thanks guys

[2016-07-22 11:42] #3038 closed

[2016-07-23 11:39] kenenbek commented on #526
@msapunov How you fix this problem?

[2016-07-25 14:57] fstagni commented on #526
@kenenbek : what do you want to do? This is a very old thread.

[2016-07-26 11:25] adriansev commented on #2944
Hi! In which version should this feature appear? I use v6r15p8 and i dont see "-i" option to dstat.
Moreover, i would think that all facilities (commands or DIRAC API) should have the same output.
I use DIRAC API for job submission so it would be great if dstat/doutput  could consume a file with content like :
{'OK': True, 'Value': 43814485}
{'OK': True, 'Value': 43814487}
{'OK': True, 'Value': 43

[2016-07-26 11:31] adriansev opened #3044 "DIRAC API :: dirac.submit output not a proper JSON"
Hi! It would seem that the output of dirac.submit is not a proper JSON and in order to parse it
i need to do something like :
line = line.replace("True","true").replace("False","false")
line = line.replace("'","\"")

is it possible for this to be corrected?
Thank you!

[2016-07-26 13:00] pigay commented on #3044
Hi, `dirac.submit()` doesn't output JSON, but a Python object return code (a dictionary).

I suppose you have handle conversion yourself with something like `json.dump(retVal)`.

[2016-07-26 13:04] pigay commented on #2944
Hi, it's available in `COMDIRAC:v0r15` which should be included in v6r15p9. I just checked with a fresh installation and got:
[code]

Concerning the output of DIRAC API output, as I stated in #3044, JSON is not a standard output.

But it would be nice indeed if we had such a exchange format.

Maybe @atsareg or @fstagni have an idea on this?

[2016-07-26 13:17] fstagni commented on #2944
There is a slow move towards JSON in many ways, but this is far from becoming a reality any time soon.

[2016-07-26 13:19] adriansev commented on #3044
does not work.  see:
 http://stackoverflow.com/questions/38568371/python-howto-parse-json-and-access-element

but i can do json.loads if i do the filtering from my post .. given that it is a simple thing (and hoping that does not break anything) it would be nice to have this minor changes implemented ..

Thank you!

[2016-07-26 13:24] adriansev commented on #2944
regrading -i option :
dirac-info | grep "DIRAC version"
DIRAC version          v6r15p9

head -n 6 $DIRAC/COMDIRAC/release.notes
[v0r9]

FIX: doutput - backward compatibility with dirac.getOutputSandbox
FIX: dstat - memory footprint with many jobs
CHANGE: dget drepl dput - return non-zero error codes
CHANGE: dfind - suppress verbose output

dstat -h

Retrieve status of DIRAC jobs
Usage:
  dstat [op

[2016-07-26 13:25] chaen commented on #3044
Hi,
I think there is just a misunderstanding here.
What ```dirac.submit``` returns follow the DIRAC convention, that is a dictionnary with a well defined structure, and not a string.
So you do not need to parse its output, you can use it directly, since it is a python object.

Maybe if you can show an exemple of what you are trying to achieve, we could give further help

[2016-07-26 13:32] pigay commented on #2944
If you updated an old client installation, there are chances that the COMDIRAC module was not upgraded in the meant time. This is why you are stuck with COMDIRAC:v0r9.

I don't know if there a way to upgrade a module with dirac-install, but you should at least be able to get the correct version with a fresh client installation.

[2016-07-26 13:50] adriansev commented on #3044
well, i needed to record the output of job submit in order to use it "as is" as input for job monitoring and sandbox downloading (like one can do with glite-* commands) ..
job submission script :
https://github.com/adriansev/auger-dirac/blob/master/dirac.job_submit.py
job monitoring :
https://github.com/adriansev/auger-dirac/blob/master/dirac.job_list_mgr.py

Thank you!
Adrian

[2016-07-26 14:10] pigay commented on #3044
You could try to dump ids into json like this: https://github.com/pigay/auger-dirac/commit/53df841484311d1006a243d922b48cc392f8e621

Alternatively, you could only dump actual raw JobID into the file like this: https://github.com/pigay/auger-dirac/commit/6d512babea3f91558baa8438d2d8689d764432b3 and modify dirac.job_list_mgr.py accordingly.

The last solution has the advantage to be directlycompatib

[2016-07-28 09:03] fstagni commented on #3035
Add a parameter for setting how many versions should be deleted.

[2016-08-05 07:33] andresailer commented on #2848
Please re-open this issue, it still doesn't work in v6r15p10
[code]

[2016-08-05 07:37] andresailer commented on #2848
Maybe reproduce install
SiteDirector
SiteDirector-1
and then uninstall SiteDirector
Thanks

[2016-08-05 07:41] zmathe commented on #2848
uninstall WorkloadManagement SiteDirector-1
uninstall WorkloadManagement SiteDirector

[2016-08-05 07:45] andresailer commented on #2848
So you reproduced the issue?

[2016-08-05 07:55] zmathe commented on #2848
No. I have not tried. But I know what is the issue. If you call: SiteDirector-1, SiteDirector-2. You will not have an issue. I will have a look...

[2016-08-09 14:23] marianne013 opened #3062 "Crash in _getCurrentUser in Core/Base/API.py"
Hi,

There's a misplaced whitespace in this commit:
b69499b65b81c6edd4360e1eebd13ae1e51f31ed

 if 'group 'not in proxyInfo:
should be
 if 'group' not in proxyInfo:

This breaks among other things dirac-admin-ban-site/dirac-admin-allow-site

Daniela

[2016-08-11 08:38] andresailer commented on #2848
I think there was (or still is) something wrong with the script filling the Components and InstalledComponents.
When I install things with v6r15(p10) I get the named instance in the `InstalledComponents` table
[code]
`SiteDirectorFoo` is the new one I just installed. The ones that were entered by the script are just called `SiteDirector` and point to a different `module` in the `Components` table.

[2016-08-11 09:21] andresailer commented on #2848
I fixed my table entries by hand and managed to uninstall what I wanted to uninstall.
Now one just hast figure out if other people are affected by this problem and how to deal with it.

[2016-08-11 09:41] zmathe commented on #2848
There is few bugs. I am working on it since yesterday. The dirac-populate-component-db is correct. If you clean your db and run this script, the db content will be fine...
The content of the columns and the Instance should be swapped. I hope I will be able to found all the places where the db is filled wrongly...

[2016-08-11 09:44] andresailer commented on #2848
So #3065 is not needed?

[2016-08-11 09:49] zmathe commented on #2848
No. The fix is not needed. I already checked this script after cleaning the db I got the correct result. I found one bug (I was able to call a Module SiteDirector-1), which I already fixed, but there are other bug as well.

[2016-08-11 12:35] zmathe commented on #2848
I have fixed the issue in #3068
For example:
[dzmathe.cern.ch]> install agent WorkloadManagement SiteDirector-1
Loading configuration template /afs/cern.ch/user/z/zmathe/cmtuser/DIRACv6r15p8/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
Can not find Agents/SiteDirector-1 in template
[ERROR] Can not find Agents/SiteDirector-1 in template
[dzmathe.cern.ch]> install agent WorkloadManagement SiteD

[2016-08-11 13:26] zmathe commented on #2848
I saw another possibility which can cause a problem. When we use dirac-setup-site and we have SiteDirector-1 in the local cfg file, then the Instance and Module will be the same according to the code:
https://github.com/DIRACGrid/DIRAC/blob/integration/FrameworkSystem/Utilities/MonitoringUtilities.py#L17

[2016-08-11 14:31] atsareg commented on #3044
I think this question is cleared. If more discussion is needed, please start a thread in the DIRAC user forum https://groups.google.com/forum/?hl=en#!forum/diracgrid-forum

[2016-08-11 14:31] #3044 closed

[2016-08-11 15:01] andresailer commented on #2848
The (unaltered) dirac-populate-component-db script still fills the InstalledComponents table with
[code]
While there should be `SiteDirectorName1`, `SiteDirectorName2`, etc. in this table, or not?

[2016-08-11 16:55] zmathe commented on #2848
Yes. I did the following:
Database changed
mysql> delete from HostLogging;
Query OK, 3 rows affected (0.00 sec)

mysql> delete from InstalledComponents;
Query OK, 184 rows affected (0.01 sec)

mysql> delete from Hosts;
Query OK, 4 rows affected (0.00 sec)

mysql> delete from Components;
Query OK, 77 rows affected (0.00 sec)

and executed the populate script. After the db content:
mysql> select Ins

[2016-08-11 20:06] zmathe commented on #2848
@andresailer I am sorry you already found the problem. We have also this script in LHCbDIRAC which working correctly and I was using and looking at that one. I am stupid I did not realised that I am in DIRAC. I committed the fix to #3068 as your PR is already deleted.

[2016-08-12 07:01] andresailer commented on #2848
Ok, then I think everything is solved.

[2016-08-12 09:30] fstagni commented on #2848
So, I close... maybe for the last time :)

[2016-08-12 09:30] #2848 closed

[2016-08-16 15:05] atsareg opened #3074 "VOMS2CSAgent to remove users automatically"
Enable VOMS2CSAgent to remove users automatically if AutoDeleteUsers flag is True ( False by default )

[2016-08-19 09:21] fstagni opened #3080 "RSS: Update "DowntimeCache" when start/end time changes"
The "ResourceManagementDB DowntimeCache" keeps a cache of downtimes, normally announced in GOC DB (https://goc.egi.eu/). Sometimes, this is what happens:
1. A downtime for resource "Res_A" is set, from, e.g., 10:00 - 18:00 (ID: 123)
2. The CacheFeederAgent sees it, and record a line in DowntimeCache table about it
3. The downtime above (ID: 123) change time, e.g. moved to be starting at 12:00 inst

[2016-08-19 09:27] fstagni opened #3081 "install service does not update the URLs of services in CS"
From real life use case:
- service ResourceStatus/Publisher is already installed somewhere else
- this is run:

[code]
- the list of URLs in CS for ResourceStatus Publisher does not change

[2016-09-01 12:00] ahaupt opened #3097 "[v6r15] mysql stored procedure "ps_rebuild_directory_usage" susceptible to duplicate key errors"
This is a follow-up to the forum thread https://groups.google.com/forum/#!topic/diracgrid-forum/bXH45l-9ofw

The mysql procedure "ps_rebuild_directory_usage" defined in DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql consists of 2 INSERT statements. As it uses SEID=1 when summing up files from the FC_Files, it is susceptible to key errors in the second INSERT statement. In case the FC_Replica

[2016-09-05 12:01] chaen commented on #3097
As I said in this thread, the SEID 1 should never have any replica on it, since it is a special SEID used only for accounting.

[2016-09-05 14:19] arrabito opened #3100 "[v6r15] Bugs in all datasets commands"
Errors appear for every 'dataset' command line. Here below the details:

1/ FC:/> dataset show
ERROR: failed to get datasets

doesn't show the existing datasets.

2/ FC:/> dataset show -l Paranal_gamma_South_20deg_HB9
Traceback (most recent call last):
  File "/Users/arrabito/swCTADIRAC/versions/v1r37p4_1472818045/DIRAC/DataManagementSystem/scripts/dirac-dms-filecatalog-cli.py", line 53, in <modul

[2016-09-06 14:53] andresailer commented on #2382
https://groups.google.com/forum/#!topic/diracgrid-forum/bXH45l-9ofw
Bump

[2016-09-15 16:08] fstagni commented on #3097
I guess this can be closed...

[2016-09-15 16:08] #3097 closed

[2016-09-15 16:09] fstagni commented on #3100
I am not really aware of changes in this area. I assign it to @chaen for the moment.

[2016-09-15 16:10] #3062 closed

[2016-09-15 16:12] fstagni commented on #3074
Released in v6r15p15

[2016-09-15 16:12] #3074 closed

[2016-09-15 17:39] chaen commented on #3100
Please assign it rather to @atsareg , since we are not using the same DFC managers, and I never looked at the dataset functionalities

[2016-09-16 08:42] zmathe opened #3107 "Use decorator in Core/Utilities/Profiler.py"

[2016-09-16 08:46] zmathe opened #3108 "Write integration test for MonitoringReporter"

[2016-09-16 12:47] zmathe commented on #3108
Done #2967

[2016-09-16 13:14] fstagni commented on #16
Moving to MonitoringSystem in v6r16

[2016-09-16 13:14] #16 closed

[2016-09-28 15:02] wirespecter opened #3124 "dirac-rss-policy-manager corrupts CS"
The command [`dirac-rss-policy-manager update`](https://github.com/DIRACGrid/DIRAC/blob/rel-v6r16/ResourceStatusSystem/scripts/dirac-rss-policy-manager.py#L344) makes CS corrupted.

The problem lies in the line 344 where the `getAsDict()` is used. It converts everything that is loaded from the CS to a dictionary but the correct order is lost and when the script tries to write back to the CS the fi

[2016-10-07 07:55] vipersec commented on #3080
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/3129

[2016-10-10 12:14] closier opened #3130 "v6r15 : VOMS2CSagent do not clean properly"
If a user had 2 certificates in VOMS and in the DIRAC registry and you remove one entry in VOMS, the entry in DIRAC registry is not remove.

example with bkhanji:
    /C=DE/O=GermanGrid/OU=UniHeidelberg/CN=Basem Khanji
    /C=IT/O=INFN/OU=Personal Certificate/L=Milano Bicocca/CN=basem KHANJI

THE INFN one has been deleted in VOMS but the modification has not been propagated to DIRAC CS.

[2016-10-13 18:28] chaen opened #3132 "dirac-dms-find-lfn not working"
Vikas pointed to me that this script is failing. In fact I see at least 2 bugs:
- line 51 of the script, the gLogger prints a non existing variable (https://github.com/DIRACGrid/DIRAC/commit/7ea5fc8ad10429f4be7f23f472a10cd70cb5a839)
- the method getMetadataFields does not return successful/failed dictionaries, so the FileCatalog returns the typical 'Failed to perform from any catalog'

I suppose t

[2016-10-13 18:55] andresailer commented on #3132
Concerning problem number 2: What is the version of client and server you are using?

[2016-10-13 21:07] phicharp commented on #3132
I'll have a look, thanks for pointing...

[2016-10-13 21:14] phicharp commented on #3132
Sorry, as I modified it I thought it was my commits that were giving problems ;-)

I the let @atsareg fix it...

[2016-10-13 21:19] chaen commented on #3132
@andresailer the latest v6r15

[2016-10-13 21:25] andresailer commented on #3132
The script works for me in v6r15p12. Does it work for you in v6r15, if the printout of the undefined variable is fixed?
I see the error in the script in p17, but I am wondering if getMetadataFields was broken in the meantime.

[2016-10-13 21:44] chaen commented on #3132
Found it: https://github.com/DIRACGrid/DIRAC/commit/dacab6296285d115fa1a3ff0a795908f3b86bf82

[2016-10-13 22:01] chaen commented on #3132
Okay I got it... I read a bit too fast the error. Without the printout, the error in the latest v6r15 is that ```findFilesByMetadata``` fails for any catalog. Executing it with the dfc directly, I get an sql error, related to the fact that the metadata I require are empty.

For example:
[code]
results in
[code]

(so nice to finally have the error !!!!!!)

[2016-10-13 22:11] chaen commented on #3132
and looking a bit more in detail, it comes from the specific LHCb manager for the dfc I think, so probably Vikas will not see the problem if he tries

[2016-10-17 15:49] fstagni opened #3135 "Move RSS DB and RMS DB to slqlalchemy"
Consider the case of extensions: possibly maintain the backward compatibility, and if not possible or too complicated, add instructions.

[2016-10-25 12:35] closier commented on #3130
There is an other thing which is break again. When a user has two certificate, a username_XXX is created instead of add the new certificate to the old one.
Why this regression ???

  Added new user ismith_1:
    DN: /DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=ismith/CN=753762/CN=Iwan Thomas Smith
    CA: /DC=ch/DC=cern/CN=CERN Grid Certification Authority
    Email: iwan.smith@cern.ch
    Groups:

[2016-10-27 18:09] mesmith75 opened #3152 "Add checkSEStatus to API"
Would it be possible to add the __checkSEStatus from the DataManagement code to the DIRAC API? Or at least a function that fulfills the purpose of checking if an SE is writeable?
Thanks

[2016-10-27 21:55] phicharp commented on #3152
Hi Mark,
Sure, this is a trivial change...
Will be coming soon in a release
Cheers, Philippe

[2016-10-28 07:54] phicharp commented on #3152
Is this OK with you:
method checkSEAccess( se, status='Write')

In [1]: from DIRAC.Interfaces.API.Dirac import Dirac

In [2]: d = Dirac()

In [3]: d.checkSEAccess( 'CERN-RAW')
Out[3]: True

In [4]: d.checkSEAccess( 'CERN-RAW', access = 'Remove')
Out[4]: False

In [5]: d.checkSEAccess( 'CERN-RAW', access = 'Read')
Out[5]: True

In [6]: d.checkSEAccess( 'CERN-USER', access = 'Read')
Out[6]: True

[2016-10-28 10:34] mesmith75 commented on #3152
Hi Phillipe,
Thanks, that looks good. Do you know when this will be propagated to LHCbDirac?
Mark

[2016-10-28 13:43] phicharp commented on #3152
hopefully next week

[2016-11-04 12:47] chaen commented on #3135
RMS ? This is the first of all DB that went to SQL alchemy

[2016-11-04 13:06] vipersec commented on #3135
@chaen Personally I don't see any SQL alchemy usage here: https://github.com/DIRACGrid/DIRAC/blob/rel-v6r16/ResourceStatusSystem/DB/ResourceManagementDB.py

[2016-11-04 13:20] chaen commented on #3135
Ah, RMS not like in RequestManagementSystem... The ResourceManagement system needs another acronym ! :D

[2016-11-06 21:10] atsareg commented on #3130
The first issue is fixed in #3164. The second one I can not reproduce. Please check that the nickname is defined for the user. If not, it can result in having a name with _1 appended

[2016-11-10 11:54] fstagni opened #3171 "Invocation of dirac-install"
The `dirac-install.py` script invocation (and development) is problematic for few reasons:

- when `install_site.sh` (what's used for server installation, see [the documentation](http://dirac.readthedocs.io/en/latest/AdministratorGuide/InstallingDIRACService/index.html?highlight=install_site)) it gets the integration version of the dirac-install [script](https://raw.githubusercontent.com/DIRACGrid

[2016-11-20 05:17] vbpnl opened #3178 "FTSFile has SURL restricted to 255"
In Belle II file transfer operations, we see SURL increase current limit of 255.

e.g

mysql> select * from FTSFile WHERE LFN='/belle/MC/test/hideki/tpx/test36/belle/MC/fab/merge1/release-00-07-00/DBxxxxxxxx/MC6/prod00000208/s00/e0002/4S/r00002/ddbar/sub10/mdst_013201_prod00000208_task11013747.root';

| Status    | LastUpdate          | SourceSURL

[2016-11-20 08:48] pigay opened #3179 "findFilesByMetadata with invalid lfn"
Hi,

When providing an invalid (not existing directory, or even path of existing file), FileCatalog.findFilesBMetadata() will return results based on the first valid ancestor in the path string argument.

For instance, in filecatalog-cli:
[code]

The two `find` commands return the same result while would expect the second to have an empty result.

Cheers,

Pierre

[2016-11-22 09:38] chaen commented on #3179
Again, I know nothing of these findFileByMetadata, they should rather be assigned to @atsareg. We don't have this working yet in our managers

[2016-11-22 09:42] chaen commented on #3178
I don't know why it was originally designed like that, but there is probably no compelling reason.
We could in principle increase the size, but it needs to be done in the code and in the DB, and it needs to be done for everyone, so we can take note of this for the next major release.

[2016-11-22 11:32] fstagni commented on #2226
Hi, this is rather old, and without updates lately. Is it still a valid issue or it has been addressed in previous releases?

[2016-11-22 11:37] fstagni commented on #3152
I guess this went into a release, but I don't see a PR linked. Can the task be closed?

[2016-11-22 11:38] fstagni commented on #3100
I guess we can close this.

[2016-11-22 11:38] #3100 closed

[2016-11-22 11:42] fstagni commented on #653
Not true anymore.

[2016-11-22 11:42] #653 closed

[2016-11-22 11:43] #2099 closed

[2016-11-22 11:44] #1502 closed

[2016-11-22 17:12] phicharp commented on #3152
Added in https://github.com/DIRACGrid/DIRAC/pull/3153

[2016-11-22 17:13] phicharp commented on #3152
but I cannot close an issue... Can be closed!

[2016-11-22 17:32] fstagni commented on #3171
Point 1 above is fixed in https://github.com/DIRACGrid/DIRAC/pull/3182

Point 2 is instead a bit different story: what was advised to do was that dirac-install would self-download itself, then re-invokes itself. This is in practice the same as having a first script that, upon invocation, parses all the arguments passed in, but don't use any of them but one (the release). Then invokes a second scri

[2016-11-22 17:33] #3152 closed

[2016-11-22 17:40] andresailer commented on #3171
So is the install_site.sh also used when doing update via dirac-admin-sysadmin-cli ?

[2016-11-23 08:51] fstagni commented on #3171
No, it's not.

[2016-11-23 09:08] pigay commented on #3179
I think I found how this happens.

If I understand well, the `FileCatalog.findFileByMetadata()` method calls `DirectoryMetadata.findDirIDsByMetadata()` wich in turn calls `Directory<something>Tree.getPathIDs()`. It's not clear for me which `Directory<something>Tree` is actually used, but getPathIDs seems to work similarly in each version.

It seems that in the end, `Directory<something>Tree.getPat

[2016-11-27 19:57] vbpnl opened #3186 "Exception found in LcgFileCatalogClient"
Reporting an exception found by FTSAgent

2016-11-27 19:51:19 UTC DataManagement/FTSAgent/req_1933783/DDM_fromNONE_toKMI-TMP-SE_20161121_101300 EXCEPT: Exception in processRequest
2016-11-27 19:51:19 UTC DataManagement/FTSAgent/req_1933783/DDM_fromNONE_toKMI-TMP-SE_20161121_101300 EXCEPT: == EXCEPTION == ValueError
2016-11-27 19:51:19 UTC DataManagement/FTSAgent/req_1933783/DDM_fromNONE_toKMI-TMP-

[2016-11-28 08:05] chaen commented on #3186
The LFC is not supported anymore. However, @hmiyake is interested in having it running and already has patched it in the past, if he feels like having a look

[2016-11-30 21:30] atsareg opened #3191 "Make FileCatalog metadata related methods compatible with LFN conventions"
Several metadata related methods in the FileCatalogClient, e.g. setMetadata(), getDirectory/FileUserMetadata, and some others are not following the calling sequence convention where the first argument is a dictionary keyed by LFNs. This must be brought to the standard calling sequence where appropriate and all the FileCatalog client objects updated accordingly

[2016-12-02 16:17] kenenbek opened #3194 "Can't install dirac-client"
Sorry for this question.
I follow instruction as described [here](http://dirac.readthedocs.io/en/latest/UserGuide/Tutorials/ClientInstallation/index.html).

In the step `./dirac-install -V formation` I change formation to `LHCb`, because I belong to lhcb VO. But I have an error:
[code]
Most likely, it is due to
[code]

How can I overcome this problem?

[2016-12-04 12:13] atsareg commented on #3194
First, you can try again, I have added the lacking distribution tar files.
Second, LHCb defines a special procedure for the members of the Collaboration for the installation and use of the LHCbDIRAC client. Please, consult the LHCb user documentation for that

[2016-12-05 16:13] chaen opened #3196 "SubLogger does not keep the level of its parent"
When I set the level of a gLogger object, and make a subLogger out of it, I would naively expect that the level is the same as the parents. But it turns out it is not. See the example bellow. Is this an intended behavior ?

[code]
This results in
[code]

[2016-12-06 11:01] iarspider opened #3201 "Error registering installation into database: Can't find proxy ( 1101 : )"
Hello,

I'm trying to install Dirac (v6r16p3) for multiVO configuration following tutorials [here](http://diracgrid.org/files/docs/AdministratorGuide/InstallingDIRACService/index.html) and [here](http://diracgrid.org/files/docs/AdministratorGuide/MultiVO/index.html).
For some reason, web portal components are not installed:
[code]

I'm mainly worried by "Can not connect to DB will use Monitoring/M

[2016-12-06 11:20] zmathe commented on #3201
You are not using the updated documentation. Please try to use: http://dirac.readthedocs.io/en/latest/AdministratorGuide/InstallingDIRACService/index.html
@atsareg Could you please delete the old documentation, because it is creating problems! or keep it updated!

[2016-12-06 11:23] fstagni opened #3202 "Probably useless stuff (can it be removed?)"
This is just a list waiting for comments of stuff in DIRAC that can (probably) be removed without any damage:

- dirac-pilot_1.py
- ftsSSLWrapper.py
- LFCvsSEAgent.py
- SEvsLFCAgent.py
- TopErrorMessageReporter
- FTS2Graph.py

Comments?

[2016-12-06 11:36] chaen commented on #3202
ftsSSLWrapper & FTS2Graph -> big damages :-)
ftsSSLWrapper is used until we use the latest FTS rest api release.
FTS2Graph can still be used by other VO. I propose to drop it when the new FTS3 system will be out (PR pending but need update)

[2016-12-06 12:22] iarspider commented on #3201
I have redone the server using the guide @zmathe linked, but I still get the same error. Here is my config file: https://gist.github.com/iarspider/b359f15931c26645b7292968f62d0652

[2016-12-06 13:49] fstagni commented on #3201
I suggest you to use this install.cfg: https://gist.github.com/fstagni/b756f5a1561cfe9bd0e9e83d95736836
If this works for you, I will update the documentation. And you can ignore the "Can't find proxy" line.

BTW, I see you are at CERN: I suggest you to use the dbod MySQL CERN service instead of installing MySQL by yourself.

[2016-12-06 14:32] iarspider commented on #3201
I have tried installting the server once more, but I still see "Can not connect to DB will use Monitoring/Monitoring" messages in the log, and the list of installed components still doesn't include web portal. Install log: https://gist.github.com/iarspider/31a9c1096d5cf368db2bbd8b5382ba3d . No processes are listening on 8080/8443 ports:
[code]

[2016-12-06 14:47] zmathe commented on #3201
please make sure that the following lines are in the install.cfg file:
Extensions = WebApp
WebPortal = yes
WebApp = yes

[2016-12-06 14:58] iarspider commented on #3201
Extensions and WebPortal were already present, reinstalling with "WebApp = yes" didn't change anything.

[2016-12-06 15:08] zmathe commented on #3201
What is your configuration file?

[2016-12-06 15:15] iarspider commented on #3201
https://gist.github.com/iarspider/ede73e0a4aba5529f756a00a80724402

[2016-12-06 15:16] zmathe commented on #3201
You have in the configuration file: Externals = WebApp
You need: Extensions = WebApp
As I mentioned earlier.
Could you please try again?

[2016-12-06 15:25] fstagni commented on #3201
For the rest, things look fine: the services requested are installed. The "Can not connect to DB will use Monitoring/Monitoring" is not an error, it's just an info message (and a correct one).

[2016-12-06 15:38] iarspider commented on #3201
OK, it works now. Thanks a lot!

[2016-12-06 15:38] #3201 closed

[2016-12-06 15:43] iarspider opened #3203 "Operation failed: URL for service Framework/UserProfileManager not found."
A popup with message "Operation failed: URL for service Framework/UserProfileManager not found." is shown when logging into a fresh installation of Dirac v6r16p3. Related excerpt WebAppfrom log:
[code]

[2016-12-06 15:59] zmathe commented on #3203
UserProfile service is storing information related to the user selection. I never tried but WebApp may work without UserProfile. But you can easily install the service...

[2016-12-07 08:44] iarspider commented on #3203
Installing the service through CLI doesn't work: "Unauthorized query".

I have tried to install Dirac from scratch (new config: https://gist.github.com/iarspider/ede73e0a4aba5529f756a00a80724402), but installation fails with "KeyError: username". Full installation log: https://gist.github.com/iarspider/1af444e537069dc50d10cffb85afa585

[2016-12-08 08:36] iarspider commented on #3203
Installation from scratch was failing because of old x509 proxy file in tmp.

[2016-12-08 12:11] iarspider commented on #3203
Fixed it myself.

[2016-12-08 12:11] #3203 closed

[2016-12-09 12:13] fstagni opened #3210 "Clean RSS cache tables"
We discovered that ResourceManagementDB.DowntimeCache table contains entries for resources that are not (anymore) in the CS (and thus, not even in ResourceStatusDB tables. We may not exclude that this affects also other tables.

A proper removal should take place (maybe triggered by the CS synchronization).

[2016-12-10 17:58] vbpnl opened #3211 "RMS flagging file as 'Done' when they are not"
Hello,

We in Belle II operations have been noticing that many times RMS flags the file in its ReqDB.File table as 'Done' when in fact it is either not replicated ot not registered in FC/LFC.

Here is a concrete example.

A file was supposed to be transferred to SIGNET-TMP-SE. ReqDB.File says Done

LFN='/belle/MC/fab/release-00-07-02/DBxxxxxxxx/MC7/prod00000823/s00/e0000/4S/r00000/ddbar/sub15/mdst

[2016-12-12 17:36] fstagni commented on #3080
Done. Unsure how to properly verify anyway: need to keep monitoring.

[2016-12-12 17:36] #3080 closed

[2016-12-15 06:18] vbpnl commented on #3211
This issue seems to have been addressed. I was using v6r14p28. And this has been resolved in v6r14p39

See my post here
https://groups.google.com/forum/#!topic/diracgrid-forum/JclTwweKp2s

[2016-12-15 06:18] #3211 closed

[2016-12-15 15:14] vipersec commented on #3210
Pull request created: https://github.com/DIRACGrid/DIRAC/pull/3218

[2017-01-09 12:35] vipersec commented on #3135
I created 2 pull requests that need to be merged simultaneously.
One for DIRAC: https://github.com/DIRACGrid/DIRAC/pull/3161
And another one for LHCb DIRAC: https://github.com/DIRACGrid/DIRAC/pull/3161

[2017-01-19 15:34] fstagni commented on #3210
Merged, in prod.

[2017-01-19 15:34] #3210 closed

[2017-01-19 15:37] fstagni opened #3229 "Resources with unique name?"
If RSS resources all have a unique name, then, for scripts interacting with the DB there would not be any need to specify the resource type. This can be checked, and then in case implemented.

[2017-01-19 15:38] fstagni opened #3230 "Status for batch queues"
RSS may be used also to hold the status for batch queues.